.about {
  padding: 60px 0;

  &__top {
    width: 62%;
  }

  &__img {
    width: 99vw;
    margin: 65px 0 55px 50%;
    transform: translateX(-50%);

    img {
      width: 100%;
      object-fit: cover;
    }
  }
}