.mission {
  background: url("/img/decor/bg-about-bottom.svg") no-repeat center;
  background-size: cover;
  padding: 60px 0;

  @media (max-width: 1024px) {
    padding: 50px 0;
  }

  @media (max-width: 620px) {
    padding: 32px 0;
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    margin: -30px 0;

    @media (max-width: 1024px) {
      margin: -17px 0;
    }

    @media (max-width: 620px) {
      margin: -15px 0;
    }
  }

  &__item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 961px;
    margin: 30px 0;

    @media (max-width: 1024px) {
      width: 100%;
      margin: 17px 0;
    }

    @media (max-width: 620px) {
      margin: 15px 0;
    }

    &:nth-of-type(2n) {
      flex-direction: row-reverse;
      margin-left: auto;
    }
  }

  &__img {
    width: 465px;
    height: 353px;

    @media (max-width: 1024px) {
      width: 275px;
      height: 325px;
    }

    @media (max-width: 620px) {
      width: 100%;
      height: 200px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__inner {
    width: calc(100% - 465px - 90px);

    @media (max-width: 1024px) {
      width: calc(100% - 275px - 45px);
    }

    @media (max-width: 620px) {
      width: 100%;
      margin-top: 20px;
    }
  }

  &__text {

    @media (max-width: 620px) {
      margin-top: -7px;
    }
  }
}