.header-link {
    display: flex;
    margin-right: 34px;

    &:hover {
        .header-link__txt {
            color: $purple-1;
        }
    }

    &--user {
        @media(max-width: 1024px) {
            display: none;
        }
    }

    &--cart {
        @media(max-width: 1024px) {
            margin-right: 0;
        }
    }

    &__icon {
        position: relative;
        margin-right: 8px;
        width: 20px;
        height: 20px;

        .icon {
            fill: $purple-1;
        }
    }

    &__txt {
        line-height: 20px;

        @media(max-width: 1024px) {
            display: none;
        }
    }
}