.header-link {
    display: flex;
    margin-right: 34px;

    &__icon {
        margin-right: 8px;
        width: 20px;
        height: 20px;

        .icon {
            fill: $purple-1;
        }
    }

    &__txt {
        line-height: 20px;
    }
}