ul.breadcrumb(itemscope="" itemtype="http://schema.org/BreadcrumbList")
    li.breadcrumb__item(itemscope="" itemprop="itemListElement" itemtype="http://schema.org/ListItem")
        a.breadcrumb__link.link(href="javascript:void(0);" itemprop="item")
            span(itemprop="name") Главная
            meta(itemprop="position" content="1")
    li.breadcrumb__item(itemscope="" itemprop="itemListElement" itemtype="http://schema.org/ListItem")
        a.breadcrumb__link.link(href="javascript:void(0);" itemprop="item")
            span(itemprop="name") Каталог
            meta(itemprop="position" content="2")
    li.breadcrumb__item(itemscope="" itemprop="itemListElement" itemtype="http://schema.org/ListItem")
        a.breadcrumb__link.link(href="javascript:void(0);" itemprop="item")
            span(itemprop="name") Продукция для упаковки
            meta(itemprop="position" content="3")
    li.breadcrumb__item Натяжитель ленты ГОСТ 380-2005
        span(itemprop="name") Лента упаковочная
        meta(itemprop="position" content="4")