.catalog-list
      .catalog-list__container.container 
        .catalog-list__grid 
          .catalog-list__bloc.catalog-list__bloc--b1
             a.link.catalog-list__link.catalog-list__link_title(href="javascript:void(0);")  Продукция для упаковки
             .catalog-list__box 
              a.link.catalog-list__link.catalog-list__link_middle(href="javascript:void(0);") Лента упаковочная
              a.link.catalog-list__link.catalog-list__link_small(href="javascript:void(0);") Лента для упаковки марки «UMC»
              a.link.catalog-list__link.catalog-list__link_small(href="javascript:void(0);") Лента упаковочная
              a.link.catalog-list__link.catalog-list__link_small(href="javascript:void(0);") Лента упаковочная ГОСТ 3560-73
              a.link.catalog-list__link.catalog-list__link_small(href="javascript:void(0);") Замки упаковочные для стальных лент
             .catalog-list__box 
              a.link.catalog-list__link.catalog-list__link_middle(href="javascript:void(0);") Упаковочный инструмент
              a.link.catalog-list__link.catalog-list__link_small(href="javascript:void(0);") Ручной инструмент
              a.link.catalog-list__link.catalog-list__link_small(href="javascript:void(0);") Пневматический упаковочный инструмент
              a.link.catalog-list__link.catalog-list__link_small(href="javascript:void(0);") Комбинированный инструмент
              a.link.catalog-list__link.catalog-list__link_small(href="javascript:void(0);") Аккумуляторный инструмент
          .catalog-list__bloc.catalog-list__bloc--b2
            a.link.catalog-list__link.catalog-list__link_title(href="javascript:void(0);")  Профиль для строительства
            .catalog-list__box 
              a.link.catalog-list__link.catalog-list__link_middle(href="javascript:void(0);") Фасадный профиль
              a.link.catalog-list__link.catalog-list__link_small(href="javascript:void(0);") С-образный
              a.link.catalog-list__link.catalog-list__link_small(href="javascript:void(0);") Z-образный
              a.link.catalog-list__link.catalog-list__link_small(href="javascript:void(0);") Г-образный
              a.link.catalog-list__link.catalog-list__link_small(href="javascript:void(0);") П-образный
            .catalog-list__box 
              a.link.catalog-list__link.catalog-list__link_middle(href="javascript:void(0);") Профиль армирующий
              a.link.catalog-list__link.catalog-list__link_small(href="javascript:void(0);") Профиль армирующий П-образныйе
              a.link.catalog-list__link.catalog-list__link_small(href="javascript:void(0);") Профиль армирующий Г-образный
              a.link.catalog-list__link.catalog-list__link_small(href="javascript:void(0);") Профиль армирующий замкнутый
              a.link.catalog-list__link.catalog-list__link_small(href="javascript:void(0);") Профиль армирующий С-образный
              a.link.catalog-list__link.catalog-list__link_small(href="javascript:void(0);") Армирующий профиль нестандартный
            .catalog-list__box 
              a.link.catalog-list__link.catalog-list__link_middle(href="javascript:void(0);") Профиль для гипсокартона
              a.link.catalog-list__link.catalog-list__link_small(href="javascript:void(0);") Потолочный профиль
              a.link.catalog-list__link.catalog-list__link_small(href="javascript:void(0);") Профиль стоечный
              a.link.catalog-list__link.catalog-list__link_small(href="javascript:void(0);") Направляющий профиль
            .catalog-list__box 
              a.link.catalog-list__link.catalog-list__link_middle(href="javascript:void(0);") Профиль для отделки
            .catalog-list__box 
              a.link.catalog-list__link.catalog-list__link_middle(href="javascript:void(0);") Замкнутый профиль
          .catalog-list__bloc.catalog-list__bloc--b3
            a.link.catalog-list__link.catalog-list__link_title(href="javascript:void(0);")  Лента стальная (штрипс)
            .catalog-list__box 
              a.link.catalog-list__link.catalog-list__link_middle(href="javascript:void(0);") Лента оцинкованная
              a.link.catalog-list__link.catalog-list__link_small(href="javascript:void(0);") Лента оцинкованная ГОСТ Р 52246-2004
              a.link.catalog-list__link.catalog-list__link_small(href="javascript:void(0);") Лента оцинкованная ГОСТ 14918-80
              a.link.catalog-list__link.catalog-list__link_small(href="javascript:void(0);") Лента оцинкованная ГОСТ 3559-75
            .catalog-list__box 
              a.link.catalog-list__link.catalog-list__link_middle(href="javascript:void(0);") Лента стальная холоднокатанная
              a.link.catalog-list__link.catalog-list__link_small(href="javascript:void(0);") Лента холоднокатаная ГОСТ 503-81
              a.link.catalog-list__link.catalog-list__link_small(href="javascript:void(0);") Лента холоднокатаная ГОСТ 19851-74
              a.link.catalog-list__link.catalog-list__link_small(href="javascript:void(0);") Лента холоднокатаная ГОСТ 16523-97
              a.link.catalog-list__link.catalog-list__link_small(href="javascript:void(0);") Лента холоднокатаная ГОСТ 9045-93
              a.link.catalog-list__link.catalog-list__link_small(href="javascript:void(0);") Лента холоднокатаная ГОСТ 2284-79
            .catalog-list__box 
              a.link.catalog-list__link.catalog-list__link_middle(href="javascript:void(0);") Штрипс горячекатаный
            .catalog-list__box 
              a.link.catalog-list__link.catalog-list__link_middle(href="javascript:void(0);") Лента с полимерным покрытием
            .catalog-list__box 
              a.link.catalog-list__link.catalog-list__link_middle(href="javascript:void(0);") Лента упаковочная
              a.link.catalog-list__link.catalog-list__link_small(href="javascript:void(0);") Лента для упаковки марки «UMC»
              a.link.catalog-list__link.catalog-list__link_small(href="javascript:void(0);") Лента упаковочная
              a.link.catalog-list__link.catalog-list__link_small(href="javascript:void(0);") Лента упаковочная ГОСТ 3560-73
              a.link.catalog-list__link.catalog-list__link_small(href="javascript:void(0);") Замки упаковочные для стальных лент
          .catalog-list__bloc.catalog-list__bloc--b4
            a.link.catalog-list__link.catalog-list__link_title(href="javascript:void(0);")  Труба стальная
            .catalog-list__box 
              a.link.catalog-list__link.catalog-list__link_middle(href="javascript:void(0);") Труба профильная
              a.link.catalog-list__link.catalog-list__link_small(href="javascript:void(0);")  Труба квадратная
              a.link.catalog-list__link.catalog-list__link_small(href="javascript:void(0);")  Труба прямоугольная
            .catalog-list__box 
              a.link.catalog-list__link.catalog-list__link_middle(href="javascript:void(0);") Труба электрическая
              a.link.catalog-list__link.catalog-list__link_small(href="javascript:void(0);")  Труба водогазопроводная
              a.link.catalog-list__link.catalog-list__link_small(href="javascript:void(0);")  Труба прямошовная
            .catalog-list__box 
              a.link.catalog-list__link.catalog-list__link_middle(href="javascript:void(0);") Замкнутый профиль
          .catalog-list__bloc.catalog-list__bloc--b5
            a.link.catalog-list__link.catalog-list__link_title(href="javascript:void(0);")  Спецпредложения