.catalog-list
      .catalog-list__container.container(itemscope="" itemtype="http://www.schema.org/SiteNavigationElement") 
        .catalog-list__grid(itemscope="" itemtype="http://schema.org/ItemList") 
          .catalog-list__bloc.catalog-list__bloc--b1(itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ItemList")
            a.catalog-list__link.catalog-list__link_title(href="javascript:void(0);" itemprop="url")  Продукция для&nbsp;упаковки
              meta(itemprop="name" content="Продукция для упаковки")
            .catalog-list__box(itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ItemList") 
              a.catalog-list__link.catalog-list__link_middle(href="javascript:void(0);" itemprop="url") Лента упаковочная
                meta(itemprop="name" content="Лента упаковочная")
              a.catalog-list__link.catalog-list__link_small(href="javascript:void(0);" itemprop="url") Лента для упаковки марки «UMC»
                meta(itemprop="name" content="Лента для упаковки марки «UMC»")
              a.catalog-list__link.catalog-list__link_small(href="javascript:void(0);" itemprop="url") Лента упаковочная
                meta(itemprop="name" content="Лента упаковочная")
              a.catalog-list__link.catalog-list__link_small(href="javascript:void(0);" itemprop="url") Лента упаковочная ГОСТ 3560-73
                meta(itemprop="name" content="Лента упаковочная ГОСТ 3560-73")
              a.catalog-list__link.catalog-list__link_small(href="javascript:void(0);" itemprop="url") Замки упаковочные для стальных лент
                meta(itemprop="name" content="Замки упаковочные для стальных лент")
            .catalog-list__box(itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ItemList") 
              a.catalog-list__link.catalog-list__link_middle(href="javascript:void(0);" itemprop="url") Упаковочный инструмент
                meta(itemprop="name" content="Упаковочный инструмент")
              a.catalog-list__link.catalog-list__link_small(href="javascript:void(0);" itemprop="url") Ручной инструмент
                meta(itemprop="name" content="Ручной инструмент")
              a.catalog-list__link.catalog-list__link_small(href="javascript:void(0);" itemprop="url") Пневматический упаковочный инструмент
                meta(itemprop="name" content="Пневматический упаковочный инструмент")
              a.catalog-list__link.catalog-list__link_small(href="javascript:void(0);" itemprop="url") Комбинированный инструмент
                meta(itemprop="name" content="Комбинированный инструмент")
              a.catalog-list__link.catalog-list__link_small(href="javascript:void(0);" itemprop="url") Аккумуляторный инструмент
                meta(itemprop="name" content="Аккумуляторный инструмент")
          .catalog-list__bloc.catalog-list__bloc--b2(itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ItemList")
            a.catalog-list__link.catalog-list__link_title(href="javascript:void(0);" itemprop="url")  Профиль для строительства
              meta(itemprop="name" content="Профиль для строительства")
            .catalog-list__box(itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ItemList") 
              a.catalog-list__link.catalog-list__link_middle(href="javascript:void(0);" itemprop="url") Фасадный профиль
                meta(itemprop="name" content="Фасадный профиль")
              a.catalog-list__link.catalog-list__link_small(href="javascript:void(0);" itemprop="url") С-образный
                meta(itemprop="name" content="С-образный")
              a.catalog-list__link.catalog-list__link_small(href="javascript:void(0);" itemprop="url") Z-образный
                meta(itemprop="name" content="Z-образный")
              a.catalog-list__link.catalog-list__link_small(href="javascript:void(0);" itemprop="url") Г-образный
                meta(itemprop="name" content="Г-образный")
              a.catalog-list__link.catalog-list__link_small(href="javascript:void(0);" itemprop="url") П-образный
                meta(itemprop="name" content="П-образный")
            .catalog-list__box(itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ItemList") 
              a.catalog-list__link.catalog-list__link_middle(href="javascript:void(0);" itemprop="url") Профиль армирующий
                meta(itemprop="name" content="Профиль армирующий")
              a.catalog-list__link.catalog-list__link_small(href="javascript:void(0);" itemprop="url") Профиль армирующий П-образныйе
                meta(itemprop="name" content="Профиль армирующий П-образныйе")
              a.catalog-list__link.catalog-list__link_small(href="javascript:void(0);" itemprop="url") Профиль армирующий Г-образный
                meta(itemprop="name" content="Профиль армирующий Г-образный")
              a.catalog-list__link.catalog-list__link_small(href="javascript:void(0);" itemprop="url") Профиль армирующий замкнутый
                meta(itemprop="name" content="Профиль армирующий замкнутый")
              a.catalog-list__link.catalog-list__link_small(href="javascript:void(0);" itemprop="url") Профиль армирующий С-образный
                meta(itemprop="name" content="Профиль армирующий С-образный")
              a.catalog-list__link.catalog-list__link_small(href="javascript:void(0);" itemprop="url") Армирующий профиль нестандартный
                meta(itemprop="name" content="Армирующий профиль нестандартный")
            .catalog-list__box(itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ItemList") 
              a.catalog-list__link.catalog-list__link_middle(href="javascript:void(0);" itemprop="url") Профиль для гипсокартона
                meta(itemprop="name" content="Профиль для гипсокартона")
              a.catalog-list__link.catalog-list__link_small(href="javascript:void(0);" itemprop="url") Потолочный профиль
                meta(itemprop="name" content="Потолочный профиль")
              a.catalog-list__link.catalog-list__link_small(href="javascript:void(0);" itemprop="url") Профиль стоечный
                meta(itemprop="name" content="Профиль стоечный")
              a.catalog-list__link.catalog-list__link_small(href="javascript:void(0);" itemprop="url") Направляющий профиль
                meta(itemprop="name" content="Направляющий профиль")
            .catalog-list__box(itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ItemList") 
              a.catalog-list__link.catalog-list__link_middle(href="javascript:void(0);" itemprop="url") Профиль для отделки
                meta(itemprop="name" content="Профиль для отделки")
            .catalog-list__box(itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ItemList") 
              a.catalog-list__link.catalog-list__link_middle(href="javascript:void(0);" itemprop="url") Замкнутый профиль
                meta(itemprop="name" content="Замкнутый профиль")
          .catalog-list__bloc.catalog-list__bloc--b3(itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ItemList")
            a.catalog-list__link.catalog-list__link_title(href="javascript:void(0);" itemprop="url")  Лента стальная (штрипс)
              meta(itemprop="name" content="Лента стальная (штрипс)")
            .catalog-list__box(itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ItemList") 
              a.catalog-list__link.catalog-list__link_middle(href="javascript:void(0);" itemprop="url") Лента оцинкованная
                meta(itemprop="name" content="Лента оцинкованная")
              a.catalog-list__link.catalog-list__link_small(href="javascript:void(0);" itemprop="url") Лента оцинкованная ГОСТ Р 52246-2004
                meta(itemprop="name" content="Лента оцинкованная ГОСТ Р 52246-2004")
              a.catalog-list__link.catalog-list__link_small(href="javascript:void(0);" itemprop="url") Лента оцинкованная ГОСТ 14918-80
                meta(itemprop="name" content="Лента оцинкованная ГОСТ 14918-80")
              a.catalog-list__link.catalog-list__link_small(href="javascript:void(0);" itemprop="url") Лента оцинкованная ГОСТ 3559-75
                meta(itemprop="name" content="Лента оцинкованная ГОСТ 3559-75")
            .catalog-list__box(itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ItemList") 
              a.catalog-list__link.catalog-list__link_middle(href="javascript:void(0);" itemprop="url") Лента стальная холоднокатанная
                meta(itemprop="name" content="Лента стальная холоднокатанная")
              a.catalog-list__link.catalog-list__link_small(href="javascript:void(0);" itemprop="url") Лента холоднокатаная ГОСТ 503-81
                meta(itemprop="name" content="Лента холоднокатаная ГОСТ 503-81")
              a.catalog-list__link.catalog-list__link_small(href="javascript:void(0);" itemprop="url") Лента холоднокатаная ГОСТ 19851-74
                meta(itemprop="name" content="Лента холоднокатаная ГОСТ 19851-74")
              a.catalog-list__link.catalog-list__link_small(href="javascript:void(0);" itemprop="url") Лента холоднокатаная ГОСТ 16523-97
                meta(itemprop="name" content="Лента холоднокатаная ГОСТ 16523-97")
              a.catalog-list__link.catalog-list__link_small(href="javascript:void(0);" itemprop="url") Лента холоднокатаная ГОСТ 9045-93
                meta(itemprop="name" content="Лента холоднокатаная ГОСТ 9045-93")
              a.catalog-list__link.catalog-list__link_small(href="javascript:void(0);" itemprop="url") Лента холоднокатаная ГОСТ 2284-79
                meta(itemprop="name" content="Лента холоднокатаная ГОСТ 2284-79")
            .catalog-list__box(itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ItemList") 
              a.catalog-list__link.catalog-list__link_middle(href="javascript:void(0);" itemprop="url") Штрипс горячекатаный
                meta(itemprop="name" content="Штрипс горячекатаный")
            .catalog-list__box(itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ItemList") 
              a.catalog-list__link.catalog-list__link_middle(href="javascript:void(0);" itemprop="url") Лента с полимерным покрытием
                meta(itemprop="name" content="Лента с полимерным покрытием")
            .catalog-list__box(itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ItemList") 
              a.catalog-list__link.catalog-list__link_middle(href="javascript:void(0);" itemprop="url") Лента упаковочная
                meta(itemprop="name" content="Лента упаковочная")
              a.catalog-list__link.catalog-list__link_small(href="javascript:void(0);" itemprop="url") Лента для упаковки марки «UMC»
                meta(itemprop="name" content="Лента для упаковки марки «UMC»")
              a.catalog-list__link.catalog-list__link_small(href="javascript:void(0);" itemprop="url") Лента упаковочная
                meta(itemprop="name" content="Лента упаковочная")
              a.catalog-list__link.catalog-list__link_small(href="javascript:void(0);" itemprop="url") Лента упаковочная ГОСТ 3560-73
                meta(itemprop="name" content="Лента упаковочная ГОСТ 3560-73")
              a.catalog-list__link.catalog-list__link_small(href="javascript:void(0);" itemprop="url") Замки упаковочные для стальных лент
                meta(itemprop="name" content="Замки упаковочные для стальных лент")
          .catalog-list__bloc.catalog-list__bloc--b4(itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ItemList")
            a.catalog-list__link.catalog-list__link_title(href="javascript:void(0);" itemprop="url")  Труба стальная
              meta(itemprop="name" content="Труба стальная")
            .catalog-list__box(itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ItemList") 
              a.catalog-list__link.catalog-list__link_middle(href="javascript:void(0);" itemprop="url") Труба профильная
                meta(itemprop="name" content="Труба профильная")
              a.catalog-list__link.catalog-list__link_small(href="javascript:void(0);" itemprop="url") Труба квадратная
                meta(itemprop="name" content="Труба квадратная")
              a.catalog-list__link.catalog-list__link_small(href="javascript:void(0);" itemprop="url") Труба прямоугольная
                meta(itemprop="name" content="Труба прямоугольная")
            .catalog-list__box(itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ItemList") 
              a.catalog-list__link.catalog-list__link_middle(href="javascript:void(0);" itemprop="url") Труба электрическая
                meta(itemprop="name" content="Труба электрическая")
              a.catalog-list__link.catalog-list__link_small(href="javascript:void(0);" itemprop="url") Труба водогазопроводная
                meta(itemprop="name" content="Труба водогазопроводная")
              a.catalog-list__link.catalog-list__link_small(href="javascript:void(0);" itemprop="url") Труба прямошовная
                meta(itemprop="name" content="Труба прямошовная")
            .catalog-list__box(itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ItemList") 
              a.catalog-list__link.catalog-list__link_middle(href="javascript:void(0);" itemprop="url") Замкнутый профиль
                meta(itemprop="name" content="Замкнутый профиль")
          .catalog-list__bloc.catalog-list__bloc--b5(itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ItemList")
            a.catalog-list__link.catalog-list__link_title(href="javascript:void(0);" itemprop="url") Спецпредложения
              meta(itemprop="name" content="Спецпредложения")