footer.footer
    .footer__top
        .footer__container.container 
            .footer__grid 
                .footer__column
                    a(href="javascript:void(0);").footer__link.footer__link--title.active Контакты
                    a(href="javascript:void(0);").footer__link.footer__link--title Каталог
                    .footer__box 
                        a(href="javascript:void(0);").footer__link.footer__link--small.active Продукция для упаковки
                        a(href="javascript:void(0);").footer__link.footer__link--small Лента стальная (штрипс)
                        a(href="javascript:void(0);").footer__link.footer__link--small Трубы
                        a(href="javascript:void(0);").footer__link.footer__link--small Профиль для строительства
                    .footer__link.footer__link--title Спецпредложения
                .footer__column
                    a(href="javascript:void(0);").footer__link.footer__link--title Сервис
                    .footer__box 
                        a(href="javascript:void(0);").footer__link.footer__link--small Плоский прокат
                        a(href="javascript:void(0);").footer__link.footer__link--small Гнутый и фасонный профиль
                        a(href="javascript:void(0);").footer__link.footer__link--small Сортовой прокат
                        a(href="javascript:void(0);").footer__link.footer__link--small Метизная продукция
                        a(href="javascript:void(0);").footer__link.footer__link--small Дополнительные услуги
                .footer__column 
                    a(href="javascript:void(0);").footer__link.footer__link--title ГОСТы и ТУ
                    a(href="javascript:void(0);").footer__link.footer__link--title Поставщикам
                    a(href="javascript:void(0);").footer__link.footer__link--title Доставка
                    a(href="javascript:void(0);").footer__link.footer__link--title Закупки
                    a(href="javascript:void(0);").footer__link.footer__link--title Тендер
                .footer__column 
                    a(href="javascript:void(0);").footer__link.footer__link--title Компания
                    .footer__box 
                        a(href="javascript:void(0);").footer__link.footer__link--small О нас
                        a(href="javascript:void(0);").footer__link.footer__link--small История
                        a(href="javascript:void(0);").footer__link.footer__link--small Карьера
                    a(href="javascript:void(0);").footer__link.footer__link--title Новости
                    a(href="javascript:void(0);").footer__link.footer__link--title Оповещение о НМУ
                .footer__column 
                    a(href="javascript:void(0);").footer__link.footer__link--title Обратная связь
                    a(href="javascript:void(0);").footer__link.footer__link--title Карта сайта
    .footer__bottom 
        .footer__container.container 
            .footer__cover 
                .footer__col 
                    .footer__logo 
                        img(src="" alt="")
                    .footer__info 
                        a(href="javascript:void(0);").footer__link.footer__link--small ​Политика конфиденциальности и персональных данных
                        .footer__copy © 2021 ООО “УМК”
                .footer__col
                    .footer__wrapper
                        .social
                            a(href="javascript:void(0);").social__item 
                                +icon('ic-fb')
                            a(href="javascript:void(0);").social__item 
                                +icon('ic-twitter')
                            a(href="javascript:void(0);").social__item 
                                +icon('ic-linkedin')
                            a(href="javascript:void(0);").social__item 
                                +icon('ic-google')
                        a(href="javascript:void(0);").footer__link.footer__link--small Разработано в Uralmedias