include ../../mixins/mixins

doctype html
html(lang="ru")
    block head
        head
            meta(charset="utf-8")
            title Title your site
            meta(content="width=device-width, initial-scale=1" name="viewport")
            meta(content="ie=edge" http-equiv="x-ua-compatible")
            link(rel="stylesheet" href="css/style.min.css")
            <script src="https://api-maps.yandex.ru/2.1/?apikey=5cb8ae64-7d85-462c-ba96-9473aa3d7837&lang=ru_RU" type="text/javascript"></script>
    body
        block header
            include header
        block content
        block footer
            include footer
        include modals
        .overlay.js-overlay
        block scripts
            <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TimelineMax.min.js"></script>
            script(src='js/main.min.js')