include ../../mixins/mixins

doctype html
html(lang="ru")
    block head
        head
            meta(charset="utf-8")
            title Title your site
            meta(content="width=device-width, initial-scale=1" name="viewport")
            meta(content="ie=edge" http-equiv="x-ua-compatible")
            link(rel="stylesheet" href="css/style.min.css")
    body
        block header
            include header
        block content
        block footer
            include footer
        include modals
        block scripts
            <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script> 
            <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TimelineMax.min.js"></script>
            script(src='js/main.min.js')