.menu-mobile.js-menu-mobile
    .menu-mobile__header
        .menu-mobile__title Личный кабинет
        a.link.js-open-auth(href="auth.html") Войдите или зарегистрируйтесь
    .menu-mobile__box
        .menu-mobile__item.menu-mobile__item--menu.js-dropdown
            .menu-mobile__link 
                .menu-mobile__ref г. Магнитогорск
                .menu-mobile__icon
                    +icon("chevron_down")
            .menu-mobile__sub
                .menu-mobile__content 
                    a(href="#") Test
        .menu-mobile__item
            .menu-mobile__link
                a(href="contacts.html") Контакты
        .menu-mobile__item.menu-mobile__item--menu.js-dropdown
            .menu-mobile__link 
                .menu-mobile__ref Каталог
                .menu-mobile__icon
                    +icon("chevron_down")
            .menu-mobile__sub
                .menu-mobile__content 
                    a(href="catalog-goods.html") Продукция для упаковки
                    a(href="catalog-goods.html") Лента стальная (штрипс)
                    a(href="catalog-goods.html") Трубы
                    a(href="catalog-goods.html") Профиль для строительства
                    a(href="catalog-goods.html") Спецпредложения
        .menu-mobile__item
            .menu-mobile__link
                a(href="catalog-goods.html") Спецпредложения
        .menu-mobile__item.menu-mobile__item--menu.js-dropdown
            .menu-mobile__link 
                .menu-mobile__ref Сервис
                .menu-mobile__icon
                    +icon("chevron_down")
            .menu-mobile__sub
                .menu-mobile__content 
                    a(href="service-detail.html") Плоский прокат
                    a(href="service-detail.html") Гнутый и фасонный профиль
                    a(href="service-detail.html") Сортовой прокат
                    a(href="service-detail.html") Метизная продукция
                    a(href="catalog-service.html") Дополнительные услуги
        .menu-mobile__item.menu-mobile__item--menu.js-dropdown
            .menu-mobile__link 
                .menu-mobile__ref Компания
                .menu-mobile__icon
                    +icon("chevron_down")
            .menu-mobile__sub
                .menu-mobile__content 
                    a(href="about.html") О нас
                    a(href="history.html") История
                    a(href="vacancy.html") Карьера
                    a(href="news.html") Новости
                    a(href="lk-call.html") Обратная связь
                    a(href="#") Карта сайта
        .menu-mobile__item
            .menu-mobile__link
                a(href="news.html") Новости
        .menu-mobile__item.menu-mobile__item--list.js-dropdown
            .menu-mobile__link
                a(href="standard.html") ГОСТы и ТУ
            .menu-mobile__link
                a(href="supply.html") Поставщикам
            .menu-mobile__link
                a(href="delivery.html") Доставка
            .menu-mobile__link
                a(href="purchase.html") Закупки
            .menu-mobile__link
                a(href="tender.html") Тендер
            .menu-mobile__link
                a(href="lk-call.html") Обратная связь
    .menu-mobile__bottom
        a.link(href="tel:8(958)548-78-56") 8 (958) 548-78-56
        .menu-mobile__txt Появились вопросы? Позвоните нам
        .lng
            a.lng__item.active(href="javascript:void(0);") Ru
            a.lng__item(href="javascript:void(0);") En