.menu-app
    .menu-app__items
        a(href="lk-desk.html").menu-app__item.active
            .menu-app__box
                .menu-app__ic
                    +icon("ic-home")
                .menu-app__text Главная
        a(href="lk-order.html").menu-app__item
            .menu-app__box
                .menu-app__ic
                    +icon("check_all_big")
                .menu-app__text Заказы
        a(href="lk-call.html").menu-app__item
            .menu-app__box
                .menu-app__ic
                    +icon("ic-call")
                .menu-app__text Связь
        a(href="lk-profile-user.html").menu-app__item
            .menu-app__box
                .menu-app__ic
                    +icon("ic-heart")
                .menu-app__text Профиль
        a(href="lk-profile-company.html").menu-app__item
            .menu-app__box
                .menu-app__ic
                    +icon("ic-settings")
                .menu-app__text Компания