.menu-app
    .menu-app__items
        a(href="javascript:void(0);").menu-app__item.active
            .menu-app__box
                .menu-app__ic
                    +icon("ic-home")
                .menu-app__text Главная
        a(href="javascript:void(0);").menu-app__item
            .menu-app__box
                .menu-app__ic
                    +icon("check_all_big")
                .menu-app__text Заказы
        a(href="javascript:void(0);").menu-app__item
            .menu-app__box
                .menu-app__ic
                    +icon("ic-call")
                .menu-app__text Связь
        a(href="javascript:void(0);").menu-app__item
            .menu-app__box
                .menu-app__ic
                    +icon("ic-heart")
                .menu-app__text Профиль
        a(href="javascript:void(0);").menu-app__item
            .menu-app__box
                .menu-app__ic
                    +icon("ic-settings")
                .menu-app__text Компания