.modal.modal--success.js-modal-success
    .modal__content
        a.modal__close.js-close-modal(href="javascript:void(0);")
            +icon('close_big')
        .modal__img
            +icon('check_all_big')
        h2.title-2 Спасибо!
        p
            | Ваше резюме будет обработано
            br
            | нами в ближайшее время
        a.link.link--underline.js-close-modal(href="javascript:void(0);") Закрыть