ul.pagination
    li.pagination__item
        a.pagination__link.pagination__link--prev(href="javascript:void(0);")
            +icon('ic-arrow-sm')
    li.pagination__item
        a.pagination__link.active(href="javascript:void(0);") 1
    li.pagination__item
        a.pagination__link(href="javascript:void(0);") 2
    li.pagination__item
        a.pagination__link(href="javascript:void(0);") 3
    li.pagination__item
        a.pagination__link.pagination__link--next(href="javascript:void(0);")
            +icon('ic-arrow-sm')