.sidemenu
    a.sidemenu__section.active(href="lk-desk.html")
        .sidemenu__head
            .sidemenu__title Рабочий стол
    a.sidemenu__section(href="lk-order.html")
        .sidemenu__head
            .sidemenu__title Мои заказы
    a.sidemenu__section(href="lk-call.html")
        .sidemenu__head
            .sidemenu__title Обратная связь
    a.sidemenu__section(href="lk-profile-user.html")
        .sidemenu__head
            .sidemenu__title Личный профиль
    a.sidemenu__section(href="lk-profile-company.html")
        .sidemenu__head
            .sidemenu__title Профиль компании