.sidemenu-lk
    a.sidemenu-lk__section.active(href="javascript:void(0);")
        .sidemenu-lk__head
            .sidemenu-lk__icon
                +icon('ic-home')
            .sidemenu-lk__title Рабочий стол
            .sidemenu-lk__title.sidemenu-lk__title--laptop Главная
    a.sidemenu-lk__section(href="javascript:void(0);")
        .sidemenu-lk__head
            .sidemenu-lk__icon
                +icon('check_all_big')
            .sidemenu-lk__title Мои заказы
            .sidemenu-lk__title.sidemenu-lk__title--laptop Заказы
    a.sidemenu-lk__section(href="javascript:void(0);")
        .sidemenu-lk__head
            .sidemenu-lk__icon
                +icon('ic-call')
            .sidemenu-lk__title Обратная связь
            .sidemenu-lk__title.sidemenu-lk__title--laptop Связь
    a.sidemenu-lk__section(href="javascript:void(0);")
        .sidemenu-lk__head
            .sidemenu-lk__icon
                +icon('ic-heart')
            .sidemenu-lk__title Личный профиль
            .sidemenu-lk__title.sidemenu-lk__title--laptop Профиль
    a.sidemenu-lk__section(href="javascript:void(0);")
        .sidemenu-lk__head
            .sidemenu-lk__icon
                +icon('ic-settings')
            .sidemenu-lk__title Профиль компании
            .sidemenu-lk__title.sidemenu-lk__title--laptop Компания