.sidemenu
    a.sidemenu__section.active(href="javascript:void(0);")
        .sidemenu__head
            .sidemenu__title Рабочий стол
    a.sidemenu__section(href="javascript:void(0);")
        .sidemenu__head
            .sidemenu__title Мои заказы
    a.sidemenu__section(href="javascript:void(0);")
        .sidemenu__head
            .sidemenu__title Обратная связь
    a.sidemenu__section(href="javascript:void(0);")
        .sidemenu__head
            .sidemenu__title Личный профиль
    a.sidemenu__section(href="javascript:void(0);")
        .sidemenu__head
            .sidemenu__title Профиль компании