ul.topmenu
    li.topmenu__item
        a.topmenu__link.link.active(href="news.html") Новости
    li.topmenu__item
        a.topmenu__link.link(href="notification.html") Оповещение о НМУ
    li.topmenu__item
        a.topmenu__link.link(href="standard.html") ГОСТы и ТУ
    li.topmenu__item
        a.topmenu__link.link(href="supply.html") Поставщикам
    li.topmenu__item
        a.topmenu__link.link(href="delivery.html") Доставка
    li.topmenu__item
        a.topmenu__link.link(href="purchase.html") Закупки
    li.topmenu__item
        a.topmenu__link.link(href="tender.html") Тендер