.advantage
      .advantage__container.container 
        .advantage__items 
          .advantage__item
            .advantage__img 
                img(src="img/index/img-advantage-1.jpg" alt="доступность" title="доступность")
            .advantage__content 
              .advantage__step
                .advantage__symbol 01
                .advantage__num
                  img(src="img/icons/num1.svg" alt="" title="")
                span.symbol /
                .advantage__info доступность
              .advantage__title Конкурентная цена
              .advantage__txt В своём стремлении повысить качество жизни, они забывают, что внедрение современных методик говорит о&nbsp;возможностях первоочередных требований.
          .advantage__item
            .advantage__img 
                img(src="img/index/img-advantage-2.jpg" alt="гарантия" title="гарантия")
            .advantage__content 
              .advantage__step
                .advantage__symbol 02
                .advantage__num 
                  img(src="img/icons/num2.svg" alt="" title="")
                span.symbol /
                .advantage__info гарантия
              .advantage__title Контроль качества
              .advantage__txt В своём стремлении повысить качество жизни, они забывают, что внедрение современных методик говорит о возможностях первоочередных требований.
          .advantage__item
            .advantage__img
                img(src="img/index/img-advantage-3.jpg" alt="результат" title="результат")
            .advantage__content 
              .advantage__step
                .advantage__symbol 03
                .advantage__num 
                  img(src="img/icons/num3.svg" alt="" title="")
                span.symbol /
                .advantage__info результат
              .advantage__title Высокоточное оборудование
              .advantage__txt В своём стремлении повысить качество жизни, они забывают, что внедрение современных методик говорит о возможностях первоочередных требований.