.advantage
      .advantage__container.container 
        .advantage__items 
          .advantage__item
            .advantage__img 
              <picture>
                  <source srcset="img/index/img1.jpg" media="(min-width: 1025px)">
                  img(src="img/index/img1.jpg" alt="" title="")
              </picture>
            .advantage__content 
              .advantage__step
                .advantage__num 
                  img(src="img/icons/num1.svg" alt="" title="")
                span.symbol /
                .advantage__info доступность
              .advantage__title Конкурентная цена
              .advantage__txt В своём стремлении повысить качество жизни, они забывают, что внедрение современных методик говорит о&nbsp;возможностях первоочередных требований.
          .advantage__item
            .advantage__img 
              <picture>
                  <source srcset="img/index/img3.jpg" media="(min-width: 1025px)">
                  img(src="img/index/img3.jpg" alt="" title="")
              </picture>
            .advantage__content 
              .advantage__step
                .advantage__num 
                  img(src="img/icons/num2.svg" alt="" title="")
                span.symbol /
                .advantage__info гарантия
              .advantage__title Контроль качества
              .advantage__txt В своём стремлении повысить качество жизни, они забывают, что внедрение современных методик говорит о возможностях первоочередных требований.
          .advantage__item
            .advantage__img
              <picture>
                  <source srcset="img/index/img4.jpg" media="(min-width: 1025px)">
                  img(src="img/index/img4.jpg" alt="" title="")
              </picture>  
            .advantage__content 
              .advantage__step
                .advantage__num 
                  img(src="img/icons/num3.svg" alt="" title="")
                span.symbol /
                .advantage__info результат
              .advantage__title Высокоточное оборудование
              .advantage__txt В своём стремлении повысить качество жизни, они забывают, что внедрение современных методик говорит о возможностях первоочередных требований.