.call
    .call__container.container 
        .call__grid 
          .call__column
            h2.call__title.title-2 Появились вопросы? Свяжитесь с нами
            .call__txt Мы ответим на все ваши вопросы о&nbsp;производстве и переработке металлопроката, а также его свойствах и особенностях применения. Проведем подробную консультацию по имеющимся товарам.
            .call__txt.call__txt--mobile Мы ответим на все ваши вопросы о производстве и переработке металлопроката, а также его свойствах и особенностях применения. Проведем подробную консультацию по имеющимся товарам.
          .call__column
            form.call__subgrid 
              .call__col.call__col--name
                .form-group
                  label.form-group__label(for="name") Ваше имя*
                  input#name.form-group__input.js-input(type="text")
              .call__col.call__col--company
                .form-group
                  label.form-group__label(for="company") Компания
                  input#company.form-group__input.js-input(type="text")
              .call__col.call__col--email
                .form-group
                  label.form-group__label(for="email") E-mail*
                  input#email.form-group__input.js-input(type="text")
              .call__col.call__col--phone
                .form-group
                  label.form-group__label(for="phone") Телефон
                  input#phone.form-group__input.js-input(type="tel")
              .call__col.call__col--submit
                button.btn.btn--basic.js-btn-success(type="submit") Отправить
              .call__col.call__col--check
                label.checkmark Подтверждаю корректность введенных данных и даю согласие на обработку моих персональных данных
                  input(type="checkbox" name="check" value="agree")
                  span.checkmark__flag
                //- label.checkbox(for="agree")
                //-   input#agree.checkbox__input(type="checkbox" name="check" value="agree")
                //-   .checkbox__label
                //-     span Подтверждаю корректность введенных данных и даю согласие на обработку моих персональных данных