.inset
    .inset__container.container 
        .inset__grid 
            .inset__left
                .inset__pic
                    <picture>
                        <source srcset="/img/index/img2.jpg" media="(min-width: 1025px)">
                        <img src="/img/index/img2.jpg" alt="">
                    </picture>
            .inset__right
                h1.inset__title.title-1 О компании ООО “УМК”
                .inset__box 
                    p ООО «Уральская Металлообрабатывающая Компания» начала свою производственно — коммерческую деятельность в 2006г. 
                    p Основным поставщиком металлопроката является ПАО «Магнитогорский Металлургический Комбинат». Квалифицированный персонал, высокотехнологичное современное оборудование южно-корейской фирмы «JUNGWOO EMC CO., Ltd », собственные производственные площади, складские помещения, а так же ж/д подъездные пути предоставляют возможность наращивать объёмы реализации продукции и обеспечивать потребителей различным сортаментом по России, СНГ, странам Ближнего и Дальнего зарубежья.
                a.link.link--detail(href="javascript:void(0);")
                    .link__txt Подробнее
                    .link__ic
                        +icon('ic-arrow')