.novation
    .decor(style="background-image: url(img/decor/grid1.svg)")
    .layer.layer--back
        .layer__bloc.layer__bloc--left
        .layer__bloc.layer__bloc--right
    .novation__overlay
    .novation__container.container
        h2.novation__title.title-2 Личный кабинет 
        .novation__heading теперь на ваших телефонах!
        .novation__quote В своём стремлении повысить качество жизни, они забывают, что внедрение современных методик говорит о возможностях первоочередных требований.
        .novation__quote.novation__quote--mobile В своём стремлении повысить качество жизни, они забывают, что внедрение методик говорито возможностях первоочередных требований.
    .layer.layer--middle
        .layer__bloc(style="background-image: url(img/index/img7.png)")
    .layer.layer--forward
        .layer__bloc.layer__bloc--left
        .layer__bloc.layer__bloc--left
        .layer__bloc.layer__bloc--right
        .layer__bloc.layer__bloc--right
    