.novation.mf-margin
    .decor(style="background-image: url(img/decor/grid1.svg)")
    .layer.layer--back
        .layer__bloc(style="background-image: url(img/index/img5.png)")
        .layer__bloc(style="background-image: url(img/index/img6.png)")
    .novation__overlay
    .novation__container.container
        h2.novation__title.title-2 Личный кабинет 
        .novation__heading теперь на ваших телефонах!
        .novation__quote В своём стремлении повысить качество жизни, они забывают, что внедрение современных методик говорит о возможностях первоочередных требований.
    .layer.layer--middle
        .layer__bloc(style="background-image: url(img/index/img7.png)")
    .layer.layer--forward
        .layer__bloc(style="background-image: url(img/index/img8.png)")
        .layer__bloc(style="background-image: url(img/index/img9.png)")
        .layer__bloc(style="background-image: url(img/index/img10.png)")
        .layer__bloc(style="background-image: url(img/index/img11.png)")
    