.service
    .service__container.container
        h2.service__title.title-2 Сервисные услуги
        .service__quote В своём стремлении повысить качество жизни, они забывают, что внедрение современных методик говорит о возможностях первоочередных требований.
        .service__quote.service__quote--mobile В своём стремлении повысить качество&nbsp;жизни, они забывают, что внедрение методик говорито возможностях первоочередных требований.
        .service__grid(itemscope="" itemtype="http://www.schema.org/SiteNavigationElement") 
            a(href="javascript:void(0);" title="Плоский прокат" itemprop="url").service__bloc
                .service__article Плоский прокат
                .link.link--detail
                    .link__txt 
                        span.num 6
                        span.text.js-serv-end категорий
                    .link__ic
                        +icon('ic-arrow-sm')
                .service__pic 
                    +icon('ic-coll')
                meta(itemprop="name" content="Плоский прокат")
            a(href="javascript:void(0);" title="Гнутый и фасонный профиль" itemprop="url").service__bloc
                .service__article Гнутый и фасонный профиль
                .link.link--detail
                    .link__txt 
                        span.num 6
                        span.text.js-serv-end категорий
                    .link__ic
                        +icon('ic-arrow-sm')
                .service__pic 
                    +icon('ic-flex')
                meta(itemprop="name" content="Гнутый и фасонный профиль")
            a(href="javascript:void(0);" title="Сортовой прокат" itemprop="url").service__bloc
                .service__article Сортовой прокат
                .link.link--detail
                    .link__txt 
                        span.num 6
                        span.text.js-serv-end категорий
                    .link__ic
                        +icon('ic-arrow-sm')
                .service__pic 
                    +icon('ic-coll')
                meta(itemprop="name" content="Сортовой прокат")
            a(href="javascript:void(0);" title="Метизная продукция" itemprop="url").service__bloc
                .service__article Метизная продукция
                .link.link--detail
                    .link__txt 
                        span.num 6
                        span.text.js-serv-end категорий
                    .link__ic
                        +icon('ic-arrow-sm')
                .service__pic 
                    +icon('ic-graph')
                meta(itemprop="name" content="Метизная продукция")
            a(href="javascript:void(0);" title="Дополнительные услуги" itemprop="url").service__bloc
                .service__article Дополнительные услуги
                .link.link--detail
                    .link__txt 
                        span.num 6
                        span.text.js-serv-end категорий
                    .link__ic
                        +icon('ic-arrow-sm')
                .service__pic 
                    +icon('ic-share')
                meta(itemprop="name" content="Дополнительные услуги")
            a(href="javascript:void(0);" title="Все сервисные услуги" itemprop="url").service__bloc.service__bloc--special
                .service__article Все сервисные услуги
                .link.link--detail
                    .link__txt 
                        span.text.js-serv-end Перейти
                    .link__ic
                        +icon('ic-arrow-sm')
                .service__pic 
                    +icon('ic-next')
                meta(itemprop="name" content="Все сервисные услуги")