.service.mf-margin
    .service__container.container
        .service__grid
            .service__bloc
                .service__article Плоский прокат
                .link.link--detail
                    .link__txt 
                        span.num 6
                        span.text.js-serv-end категорий
                    .link__ic
                        +icon('ic-arrow-sm')
                .service__pic 
                    +icon('ic-coll')
            .service__bloc
                .service__article Гнутый и фасонный профиль
                .link.link--detail
                    .link__txt 
                        span.num 6
                        span.text.js-serv-end категорий
                    .link__ic
                        +icon('ic-arrow-sm')
                .service__pic 
                    +icon('ic-flex')
            .service__bloc
                .service__article Сортовой прокат
                .link.link--detail
                    .link__txt 
                        span.num 6
                        span.text.js-serv-end категорий
                    .link__ic
                        +icon('ic-arrow-sm')
                .service__pic 
                    +icon('ic-coll')
            .service__bloc
                .service__article Метизная продукция
                .link.link--detail
                    .link__txt 
                        span.num 6
                        span.text.js-serv-end категорий
                    .link__ic
                        +icon('ic-arrow-sm')
                .service__pic 
                    +icon('ic-graph')
            .service__bloc
                .service__article Дополнительные услуги
                .link.link--detail
                    .link__txt 
                        span.num 6
                        span.text.js-serv-end категорий
                    .link__ic
                        +icon('ic-arrow-sm')
                .service__pic 
                    +icon('ic-share')
            .service__bloc
                .service__article Все сервисные услуги
                .link.link--detail
                    .link__txt 
                        span.num 6
                        span.text.js-serv-end категорий
                    .link__ic
                        +icon('ic-arrow-sm')
                .service__pic 
                    +icon('ic-next')