.service
    .service__container.container
        h2.service__title.title-2 Сервисные услуги
        .service__quote В своём стремлении повысить качество жизни, они забывают, что внедрение современных методик говорит о возможностях первоочередных требований.
        .service__grid
            a(href="javascript:void(0);").service__bloc
                .service__article Плоский прокат
                .link.link--detail
                    .link__txt 
                        span.num 6
                        span.text.js-serv-end категорий
                    .link__ic
                        +icon('ic-arrow-sm')
                .service__pic 
                    +icon('ic-coll')
            a(href="javascript:void(0);").service__bloc
                .service__article Гнутый и фасонный профиль
                .link.link--detail
                    .link__txt 
                        span.num 6
                        span.text.js-serv-end категорий
                    .link__ic
                        +icon('ic-arrow-sm')
                .service__pic 
                    +icon('ic-flex')
            a(href="javascript:void(0);").service__bloc
                .service__article Сортовой прокат
                .link.link--detail
                    .link__txt 
                        span.num 6
                        span.text.js-serv-end категорий
                    .link__ic
                        +icon('ic-arrow-sm')
                .service__pic 
                    +icon('ic-coll')
            a(href="javascript:void(0);").service__bloc
                .service__article Метизная продукция
                .link.link--detail
                    .link__txt 
                        span.num 6
                        span.text.js-serv-end категорий
                    .link__ic
                        +icon('ic-arrow-sm')
                .service__pic 
                    +icon('ic-graph')
            a(href="javascript:void(0);").service__bloc
                .service__article Дополнительные услуги
                .link.link--detail
                    .link__txt 
                        span.num 6
                        span.text.js-serv-end категорий
                    .link__ic
                        +icon('ic-arrow-sm')
                .service__pic 
                    +icon('ic-share')
            a(href="javascript:void(0);").service__bloc
                .service__article Все сервисные услуги
                .link.link--detail
                    .link__txt 
                        span.num 6
                        span.text.js-serv-end категорий
                    .link__ic
                        +icon('ic-arrow-sm')
                .service__pic 
                    +icon('ic-next')