.container
    .slider-partner
        h3.slider-partner__title.title-3 Нам доверяют
        .slider-partner__quote Равным образом, начало повседневной работы по формированию позиции играет важную роль в формировании системы массового участия.
        .slider.slider--partner.js-slider-partners
            .swiper-wrapper 
                .swiper-slide
                    img(src="img/icons/partner1.svg" alt="" title="")
                .swiper-slide 
                    img(src="img/icons/partner2.svg" alt="" title="")
                .swiper-slide 
                    img(src="img/icons/partner3.svg" alt="" title="")
                .swiper-slide
                    img(src="img/icons/partner1.svg" alt="" title="")
                .swiper-slide 
                    img(src="img/icons/partner2.svg" alt="" title="")
                .swiper-slide 
                    img(src="img/icons/partner3.svg" alt="" title="")
            .arrow
                .swiper-pagination
                .arrow__cover
                    .arrow__link.arrow__link--prev
                        <svg width="33" height="17" viewBox="0 0 33 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M6.47375 6.875L10.6662 2.66625L8.375 0.375002L0.249999 8.5L8.375 16.625L10.6663 14.3338L6.47375 10.125L32.75 10.125L32.75 6.875L6.47375 6.875Z" fill="#2C43A1"/>
                        </svg>
                    .arrow__link.arrow__link--next
                        <svg width="33" height="17" viewBox="0 0 33 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M6.47375 6.875L10.6662 2.66625L8.375 0.375002L0.249999 8.5L8.375 16.625L10.6663 14.3338L6.47375 10.125L32.75 10.125L32.75 6.875L6.47375 6.875Z" fill="#2C43A1"/>
                        </svg>