.container
    .slider-partner
        .slider.slider--partner.mf-margin.slider__box.js-slider-partners
            .swiper-wrapper 
                .swiper-slide
                    img(src="img/icons/partner1.svg" alt="" title="")
                .swiper-slide 
                    img(src="img/icons/partner2.svg" alt="" title="")
                .swiper-slide 
                    img(src="img/icons/partner3.svg" alt="" title="")
                .swiper-slide
                    img(src="img/icons/partner1.svg" alt="" title="")
                .swiper-slide 
                    img(src="img/icons/partner2.svg" alt="" title="")
                .swiper-slide 
                    img(src="img/icons/partner3.svg" alt="" title="")
            .arrow
                .pagination
                .arrow__cover
                    .arrow__link.arrow__link--prev
                    .arrow__link.arrow__link--next
                        //- +svg('arr-slider')