.view
    .view__container.container 
        .view__grid
            .view__bloc
                h1.title-1 Крупнейший металлмаркет России
            .view__bloc.view__bloc--about
                .view__ic
                    img(src="img/icons/ic-factory.svg" alt="")
                .view__txt Занимаем ведущие позиции на российском и&nbsp;европейском рынке.
            .view__bloc.view__bloc--about
                .view__txt Мы – одна из крупнейших металлообрабатывающих компаний, производящая широкий спектр продуктов.
                a.link.link--detail(href="javascript:void(0);")
                    .link__txt Спецпредложения
                    .link__ic
                        +icon('ic-arrow', 17.5, 10.5)
            .view__bloc.view__bloc--list 
                .view__item
                    .view__article 15 000 позиций в наличии
                    a.link.link--detail(href="javascript:void(0);")
                        .link__txt Каталог
                        .link__ic
                            +icon('ic-arrow', 17.5, 10.5)
                .view__item
                    .view__article 855 000 т продукции сделано
                    a.link.link--detail(href="javascript:void(0);")
                        .link__txt Поставщикам
                        .link__ic
                            +icon('ic-arrow', 17.5, 10.5)
                .view__item
                    .view__article 10 000 раз оказано услуг
                    a.link.link--detail(href="javascript:void(0);")
                        .link__txt Сервис
                        .link__ic
                            +icon('ic-arrow', 17.5, 10.5)
            .view__bloc.view__bloc--slider 
                canvas