.lk-cart {
    background: none;

    &__company {
        font-weight: 600;
        font-size: 22px;

        @media(max-width: 620px) {
            font-size: 18px;
        }
    }

    &__quote {
        font-size: 22px;
        font-weight: 600;
        margin-top: 50px;
        text-align: center;

        @media(max-width: 620px) {
            font-size: 18px;
            margin-top: 56px;
        }
    }

    &__emp {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 89px;
        padding-bottom: 112px;

        @media(max-width: 620px) {
            padding-top: 75px;
            padding-top: 74px;
        }

        .btn {
            margin-top: 40px;

            @media(max-width: 620px) {
                width: 243px;
            }
        }

        .breadcrumb {
            width: 100%;
            justify-content: center;
        }
    }

    &__wrapper {
        padding-top: 18px;

        @media(max-width: 1024px) {
            padding-top: 24px;
        }

        @media(max-width: 620px) {
            padding-top: 22px;
        }
    }

    &__content {
        display: flex;
        padding-top: 38px;

        @media(max-width: 1024px) {
            padding-top: 21px;
            flex-wrap: wrap;
        }

        .lk-cart__bloc {

            &--transport {
                margin-right: 70px;

                @media(max-width: 1024px) {
                    margin-right: 50px;
                }

                @media(max-width: 767px) {
                    margin-right: 0;
                }

                @media(max-width: 700px) {
                    margin-top: 27px;
                }

                .lk-cart {
                    &__subtitle {
                        @media(max-width: 1024px) {
                            margin-bottom: 16px;
                        }

                        @media(max-width: 700px) {
                            margin-bottom: 9px;
                        }
                    }
                }
            }

            &--city {
                margin-right: 70px;

                @media(max-width: 1024px) {
                    margin-right: 50px;
                }

                @media(max-width: 767px) {
                    margin-right: 0;
                }

                .js-select {
                    width: 294px;

                    @media(max-width: 1024px) {
                        width: 360px;
                    }

                    @media(max-width: 700px) {
                        width: 100%;
                    }
                }

                .lk-cart {
                    &__subtitle {
                        @media(max-width: 1024px) {
                            margin-bottom: 15px;
                        }
                    }
                }
            }

            &--cost {
                @media(max-width: 1024px) {
                    margin-right: 0;
                }

                @media(max-width: 700px) {
                    display: flex;
                    align-items: center;
                    margin-top: 23px;
                }

                .lk-cart__subtitle {
                    @media(max-width: 700px) {
                        margin-bottom: 0;
                        margin-right: 6px;
                    }
                }
            }
        }
    }

    &__sub {
        display: none;
        font-size: 14px;
        color: $gray-2;

        @media(max-width: 1024px) {
            display: block;
            margin-right: 6px;
        }
    }

    &__subtitle {
        margin-bottom: 21px;
        font-weight: 400;
    }

    &__wrp {
        margin-top: 24px;

        @media(max-width: 1024px) {
            margin-top: 16px;
        }

        @media(max-width: 700px) {
            display: flex;
            align-items: center;
        }

        @media(max-width: 620px) {
            margin-top: 0;
        }
    }

    &__unit {
        &:not(:first-child) {
            margin-top: 10px;

            @media(max-width: 700px) {
                margin-top: 0;
            }
        }

        &:not(:last-child) {
            @media(max-width: 700px) {
                margin-right: 25px;
            }
        }
    }

    &__cost {
        font-size: 18px;
        font-weight: 700;
        margin-top: 41px;

        @media(max-width: 1024px) {
            margin-top: 33px;
        }

        @media(max-width: 700px) {
            margin-top: 0;
            font-size: 16px;
        }
    }

    &__bottom {
        display: flex;
        margin-top: 19px;

        @media(max-width: 768px) {
            flex-wrap: wrap;
        }

        .btn {

            @media(max-width: 620px) {
                height: 47px;
            }

            &:first-child {
                margin-right: 26px;

                @media(max-width: 620px) {
                    margin-right: 0;
                }
            }

            &--basic {
                margin-left: auto;
                background-color: $red-1;

                @media(max-width: 768px) {
                    width: 100%;
                    margin-top: 26px;
                }

                @media(max-width: 620px) {
                    margin-top: 0;
                }

                &:hover {
                    background-color: $purple-1;
                }
            }

            &.is-open {
                background-color: $purple-1;
                border-color: $purple-1;
                color: white;
                content: "Text";

                &:hover {
                    background-color: transparent;
                    color: $purple-1;
                    border-color: $purple-1;
                }

                span {
                    &:first-child {
                        &:after {
                            content: '-';
                        }
                    }

                }
            }

            &--cart-info {

                @media(max-width: 768px) {
                    width: calc(50% - 13px);
                }

                @media(max-width: 620px) {
                    width: 100%;
                }

                &:hover {
                    background-color: $purple-1;
                    color: white;
                    border-color: $purple-1;
                }

                span {
                    &:first-child {
                        position: relative;
                        display: flex;
                        margin-right: 4px;
                        width: 10px;
                        height: 10px;
                        align-items: center;
                        justify-content: center;

                        &:after {
                            content: '+';
                        }
                    }
                }
            }

            &:not(:first-child) {
                @media(max-width: 620px) {
                    margin-top: 19px;
                }
            }
        }
    }

    &__location {
        font-size: 14px;
        color: #37383e80;
        margin-top: 4px;

        @media(max-width: 1024px) {
            margin-top: 7px;
        }
    }

    &__finish {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 22px;
        font-weight: 600;

        @media(max-width:1024px) {
            font-size: 20px;
        }

        span {
            font-weight: 400;
            margin-left: 4px;
        }
    }

    &__discount {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: $red-1;
        margin-top: 3px;
    }

    &__nds {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 5px;
    }

    &__s {
        margin-right: 5px;
    }

    &__box {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        @media(max-width: 1024px) {
            width: 100%;
            align-items: normal;
        }
    }

    &__cover {
        width: 100%;
    }

    &__textarea {
        width: 100%;
        margin-top: 22px;
        height: 198px;
        font-family: 'MyriadPro', Arial, sans-serif;
        font-size: 16px;
        border-color: $gray-1;
        padding: 21px 26px;

        @media(max-width: 1024px) {
            margin-top: 16px;
            height: 274px;
        }

        &::placeholder {
            color: $gray-2;
        }
    }

    &__func {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-top: 17px;

        @media(max-width: 620px) {
            margin-top: 8px;
        }

        .btn {
            &:not(:last-child) {
                margin-right: 24px;

                @media(max-width: 620px) {
                    margin-right: 19px;
                }
            }

            @media(max-width: 768px) {
                width: 50%;
            }

            @media(max-width: 620px) {
                height: 47px;
            }
        }
    }

    &__col {

        @media(max-width: 1024px) {
            display: flex;
        }

        input {
            max-width: 120px;
            width: 100%;
            height: 51px;
            padding-left: 20px;
            font: 400 16px/1.2 MyriadPro, Arial, sans-serif;
            padding: 0 15px;
            border: 1px solid $gray-1;
            color: $basic;
            transition: .2s;

            @media(max-width: 1024px) {
                min-width: 200px;
                max-width: 100%;
                height: 47px;
            }

            @media(max-width: 500px) {
                min-width: initial;
                max-width: 150px;
            }

            &:hover {
                border-color: $basic;
            }
        }

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        &--title {
            display: flex;
            align-items: center;
        }

        &--summ {
            @media(max-width: 1024px) {
                grid-area: summ;
                display: block;
                padding-top: 0;
            }

            @media(max-width: 500px) {
                margin-left: 9px;
            }

            .lk-cart {
                &__sub {
                    @media(max-width: 1024px) {
                        margin-right: 0;
                        margin-bottom: 3px;
                    }

                    @media(max-width: 620px) {
                        margin-bottom: 2px;
                    }
                }
            }
        }

        &--name {
            @media(max-width: 1024px) {
                grid-area: name;
            }
        }

        &--qty {
            @media(max-width: 1024px) {
                grid-area: qty;
            }
        }

        &--nds {
            @media(max-width: 1024px) {
                grid-area: nds;
            }
        }

        &--wnds {
            @media(max-width: 1024px) {
                grid-area: wnds;
            }

            @media(max-width: 500px) {
                margin-left: 9px;
            }
        }

        &--close {
            @media(max-width: 1024px) {
                grid-area: close;
                justify-self: end;
            }
        }

        &--city {
            @media(max-width: 500px) {
                grid-area: city;
            }

            .lk-cart__txt {
                font-size: 16px;
            }
        }

        &--delete {
            @media(max-width: 500px) {
                grid-area: delete;
            }
        }

        &--itog {
            @media(max-width: 500px) {
                grid-area: itog;
            }
        }
    }

    &__delete {
        width: 26px;
        height: 26px;
        cursor: pointer;

        @media (max-width: 620px) {
            width: 21px;
            height: 21px;
        }

        &:hover {
            .icon {
                fill: $purple-1;
            }
        }

        .icon {
            fill: $gray-1;
        }
    }

    &__items {
        margin-top: 38px;

        @media(max-width: 1024px) {
            margin-top: 23px;
        }

        @media(max-width: 620px) {
            margin-top: 22px;
        }
    }

    &__ic {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        background-color: $blue-3;
        margin-right: 14px;

        @media(max-width: 620px) {
            margin-right: 8px;
        }

        .icon {
            fill: $blue-2;
            width: 26px;
            height: 26px;
        }
    }

    &__detail {
        max-height: 0;
        overflow: hidden;
        transition: max-height .4s ease-in-out;

        .btn {
            margin-left: auto;
            align-self: flex-end;
            border-color: $red-1;
            color: $red-1;


            &:hover {
                border-color: $purple-1;
                color: $purple-1;
            }
        }

        .lk-cart__func {
            .btn {
                margin-left: 0;
            }
        }

        &--delivery {
            .lk-cart {
                &__content {
                    @media(max-width: 1024px) {
                        justify-content: space-between;
                    }

                    @media(max-width: 700px) {
                        flex-direction: column;
                    }
                }
            }

            .btn {
                @media(max-width: 1024px) {
                    width: 100%;
                    margin-top: 26px;
                }

                @media(max-width: 700px) {
                    height: 47px;
                }
            }
        }
    }

    &__itog {
        display: flex;
        justify-content: flex-end;
        padding-top: 19px;

        @media(max-width: 1024px) {
            padding-top: 0;
            margin-top: -8px;
        }
    }

    &__top {
        // width: 99.9vw;
        position: relative;
        margin: 0;
        background-color: $gray-3;
        padding: 19px 0 22px;

        &:after {
            position: absolute;
            content: "";
            height: 100%;
            width: 100vw;
            background: #f3f4f5;
            z-index: -1;
            left: 50%;
            transform: translateX(-50%);
            top: 0;
            bottom: 0;
            right: 0;
            overflow: hidden;
        }

        @media(max-width: 1024px) {
            padding: 16px 0 19px;
        }

        @media(max-width: 620px) {
            padding: 21px 0 20px;
        }

        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0;
        }
    }

    &__oldprice {
        font-size: 14px;
        line-height: 1;
        text-decoration: line-through;
    }

    &__title {
        span {
            margin-right: 9px;
        }
    }

    &__txt {
        @media(max-width: 1024px) {
            font-size: 14px;
        }

        &--name {
            font-size: 16px;
        }

        &--newprice {
            color: $red-1;

            @media(max-width: 1024px) {
                font-size: 12px;
                padding-top: 5px;
            }
        }

        &--oldprice {
            font-size: 14px;
            text-decoration: line-through;
            padding-top: 5px;

            @media(max-width: 1024px) {
                margin-right: 8px;
            }
        }

        span {
            &:not(:last-child) {
                margin-right: 4px;
            }
        }
    }

    &__close {
        width: 26px;
        height: 26px;
        cursor: pointer;

        @media(max-width: 620px) {
            width: 21px;
            height: 21px;
        }

        .icon {
            fill: $gray-1;
        }

        &:hover {
            .icon {
                fill: $purple-1;
            }
        }
    }

    &__bprice {
        @media(max-width: 1024px) {
            display: flex;
            align-items: center;
            line-height: 1;
        }
    }

    &__row {
        display: grid;
        grid-template-columns: minmax(549px, 1fr) minmax(120px, 1fr) minmax(100px, 1fr) minmax(100px, 1fr) minmax(100px, 1fr) 26px;
        align-items: center;
        grid-column-gap: 40px;
        min-height: 80px;

        @media(max-width: 1300px) {
            grid-template-columns: 289px repeat(4, minmax(100px, 120px)) 26px;
            justify-content: space-between;
        }

        @media(max-width: 1024px) {
            grid-template-areas:
                "name name close"
                "nds wnds ."
                "qty summ .";

            grid-template-columns: max-content;
            justify-content: normal;
            grid-row-gap: 16px;
            grid-column-gap: 30px;
            margin-bottom: 23px;
            padding-bottom: 23px;
        }

        @media(max-width: 500px) {
            grid-column-gap: 0;
            grid-template-areas:
                "name name close"
                "nds wnds wnds"
                "qty summ summ";
            grid-template-columns: auto;
        }

        &:not(:first-child) {
            border-bottom: 1px solid $gray-3;
            // padding-top: 26px;
        }

        &--delivery {
            grid-column-gap: 40px;
            grid-template-columns: minmax(549px, 1fr) 100px 26px;

            @media(max-width: 1024px) {
                grid-template-columns: minmax(auto, 1fr) 100px 26px;
                grid-template-areas: initial;
            }

            @media(max-width: 620px) {
                grid-template-columns: minmax(auto, 1fr) 100px 21px;
                padding-bottom: 13px;
                grid-auto-rows: 33px;
                margin-top: -11px;
                grid-row-gap: 0;
                min-height: auto;
            }

            @media(max-width: 500px) {
                grid-template-areas:
                    "city delete"
                    "itog itog";
                grid-template-columns: auto;
                justify-content: space-between;
            }
        }

        &--header {
            grid-template-columns: minmax(549px, 1fr) minmax(120px, 1fr) minmax(100px, 1fr) minmax(100px, 1fr) minmax(100px, 1fr) 26px;
            margin-bottom: 6px;
            min-height: 24px;
            grid-column-gap: 40px;

            @media(max-width: 1300px) {
                grid-template-columns: 289px repeat(4, minmax(100px, 120px)) 26px;
                justify-content: space-between;
            }

            @media(max-width: 1024px) {
                display: none;
            }

            .lk-cart {
                &__txt {
                    font-size: 16px;
                    color: $gray-2;
                }
            }
        }
    }
}