.lk-cart {
    background: none;

    &__company {
        font-weight: 600;
        font-size: 22px;
    }

    &__wrapper {
        padding-top: 18px;

        @media(max-width: 1024px) {
            padding-top: 24px;
        }
    }

    &__content {
        display: flex;
        padding-top: 38px;
    }

    &__sub {
        display: none;
        font-size: 14px;
        color: $gray-2;

        @media(max-width: 1024px) {
            display: block;
            margin-right: 6px;
        }
    }

    &__subtitle {
        margin-bottom: 21px;
        font-weight: 400;
    }

    &__bloc {
        &:not(:last-child) {
            margin-right: 70px;
        }

        &--city {
            .js-select {
                width: 294px;
            }
        }
    }

    &__wrp {
        margin-top: 24px;
    }

    &__unit {
        &:not(:first-child) {
            margin-top: 10px;
        }
    }

    &__cost {
        font-size: 18px;
        font-weight: 700;
        margin-top: 41px;
    }

    &__bottom {
        display: flex;
        margin-top: 19px;

        .btn {
            &:first-child {
                margin-right: 25px;
            }

            &--basic {
                margin-left: auto;
                background-color: $red-1;

                &:hover {
                    background-color: $purple-1;
                }
            }

            &.is-open {
                background-color: $purple-1;
                border-color: $purple-1;
                color: white;
                content: "Text";

                &:hover {
                    background-color: transparent;
                    color: $purple-1;
                    border-color: $purple-1;
                }

                span {
                    &:first-child {
                        &:after {
                            content: '-';
                        }
                    }

                }
            }

            &--cart-info {

                &:hover {
                    background-color: $purple-1;
                    color: white;
                    border-color: $purple-1;
                }

                span {
                    &:first-child {
                        position: relative;
                        display: flex;
                        margin-right: 4px;
                        width: 10px;
                        height: 10px;
                        align-items: center;
                        justify-content: center;

                        &:after {
                            content: '+';
                        }
                    }
                }
            }
        }
    }

    &__location {
        font-size: 14px;
        color: #37383e80;
        margin-top: 4px;

        @media(max-width: 1024px) {
            margin-top: 7px;
        }
    }

    &__finish {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 22px;
        font-weight: 600;

        span {
            font-weight: 400;
            margin-left: 4px;
        }
    }

    &__discount {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: $red-1;
        margin-top: 3px;
    }

    &__nds {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 5px;
    }

    &__s {
        margin-right: 5px;
    }

    &__box {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        @media(max-width: 1024px) {
            width: 100%;
            align-items: normal;
        }
    }

    &__cover {
        width: 100%;
    }

    &__textarea {
        width: 100%;
        margin-top: 22px;
        height: 198px;
        font-family: 'MyriadPro', Arial, sans-serif;
        font-size: 16px;
        border-color: $gray-1;
        padding: 21px 26px;

        &::placeholder {
            color: $gray-2;
        }
    }

    &__func {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-top: 17px;

        .btn {
            &:not(:last-child) {
                margin-right: 24px;
            }
        }
    }

    &__col {

        @media(max-width: 1024px) {
            display: flex;
        }

        input {
            max-width: 120px;
            width: 100%;
            height: 51px;
            padding-left: 20px;
            font: 400 16px/1.2 MyriadPro, Arial, sans-serif;
            padding: 0 15px;
            border: 1px solid $gray-1;
            color: $basic;
            transition: .2s;

            @media(max-width: 1024px) {
                min-width: 200px;
                max-width: 100%;
                height: 47px;
            }

            &:hover {
                border-color: $basic;
            }
        }

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        &--title {
            display: flex;
            align-items: center;
        }

        &--summ {
            @media(max-width: 1024px) {
                grid-area: summ;
                display: block;
                padding-top: 0;
            }

            .lk-cart {
                &__sub {
                    @media(max-width: 1024px) {
                        margin-right: 0;
                        margin-bottom: 3px;
                    }
                }
            }
        }

        &--name {
            @media(max-width: 1024px) {
                grid-area: name;
            }
        }

        &--qty {
            @media(max-width: 1024px) {
                grid-area: qty;
            }
        }

        &--nds {
            @media(max-width: 1024px) {
                grid-area: nds;
            }
        }

        &--wnds {
            @media(max-width: 1024px) {
                grid-area: wnds;
            }
        }

        &--close {
            @media(max-width: 1024px) {
                grid-area: close;
                justify-self: end;
            }
        }
    }

    &__delete {
        width: 26px;
        height: 26px;
        cursor: pointer;

        &:hover {
            .icon {
                fill: $purple-1;
            }
        }

        .icon {
            fill: $gray-1;
        }
    }

    &__items {
        margin-top: 38px;

        @media(max-width: 1024px) {
            margin-top: 23px;
        }
    }

    &__ic {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        background-color: $blue-3;
        margin-right: 14px;

        .icon {
            fill: $blue-2;
            width: 26px;
            height: 26px;
        }
    }

    &__detail {
        max-height: 0;
        overflow: hidden;
        transition: max-height .4s ease-in-out;

        .btn {
            margin-left: auto;
            align-self: flex-end;
            border-color: $red-1;
            color: $red-1;

            &:hover {
                border-color: $purple-1;
                color: $purple-1;
            }
        }

        .lk-cart__func {
            .btn {
                margin-left: 0;
            }
        }
    }

    &__itog {
        display: flex;
        justify-content: flex-end;
        padding-top: 19px;
    }

    &__top {
        width: 99.9vw;
        margin: 0 0 0 50%;
        transform: translateX(-50%);
        background-color: $gray-3;
        padding: 19px 0 22px;

        @media(max-width: 1024px) {
            padding: 16px 0 19px;
        }

        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__oldprice {
        font-size: 14px;
        line-height: 1;
        text-decoration: line-through;
    }

    &__title {
        span {
            margin-right: 9px;
        }
    }

    &__txt {
        @media(max-width: 1024px) {
            font-size: 14px;
        }

        &--name {
            font-size: 16px;
        }

        &--newprice {
            color: $red-1;

            @media(max-width: 1024px) {
                font-size: 12px;
                padding-top: 5px;
            }
        }

        &--oldprice {
            font-size: 14px;
            text-decoration: line-through;
            padding-top: 5px;

            @media(max-width: 1024px) {
                margin-right: 8px;
            }
        }

        span {
            &:not(:last-child) {
                margin-right: 4px;
            }
        }
    }

    &__close {
        width: 26px;
        height: 26px;
        cursor: pointer;

        .icon {
            fill: $gray-1;
        }

        &:hover {
            .icon {
                fill: $purple-1;
            }
        }
    }

    &__cover {
        @media(max-width: 1024px) {
            display: flex;
            align-items: center;
            line-height: 1;
        }
    }

    &__row {
        display: grid;
        grid-template-columns: minmax(549px, 1fr) minmax(120px, 1fr) minmax(100px, 1fr) minmax(100px, 1fr) minmax(100px, 1fr) 26px;
        align-items: center;
        grid-column-gap: 40px;
        min-height: 80px;

        @media(max-width: 1300px) {
            grid-template-columns: 289px repeat(4, minmax(100px, 120px)) 26px;
            justify-content: space-between;
        }

        @media(max-width: 1024px) {
            grid-template-areas:
                "name name close"
                "nds wnds ."
                "qty summ .";

            grid-template-columns: max-content;
            justify-content: normal;
            grid-row-gap: 16px;
            grid-column-gap: 30px;
            margin-bottom: 25px;
            padding-bottom: 23px;
        }

        &:not(:first-child) {
            border-bottom: 1px solid $gray-3;
            // padding-top: 26px;
        }

        &--delivery {
            grid-column-gap: 40px;
            grid-template-columns: minmax(549px, 1fr) 100px 26px;

            @media(max-width: 1024px) {
                display: none;
            }
        }

        &--header {
            grid-template-columns: minmax(549px, 1fr) minmax(120px, 1fr) minmax(100px, 1fr) minmax(100px, 1fr) minmax(100px, 1fr) 26px;
            margin-bottom: 6px;
            min-height: 24px;
            grid-column-gap: 40px;

            @media(max-width: 1300px) {
                grid-template-columns: 289px repeat(4, minmax(100px, 120px)) 26px;
                justify-content: space-between;
            }

            @media(max-width: 1024px) {
                display: none;
            }

            .lk-cart {
                &__txt {
                    font-size: 16px;
                    color: $gray-2;
                }
            }
        }
    }
}