.lk-form {
    background: url(../img/decor/bg-requisite.svg) no-repeat center;
    background-size: cover;
    padding-top: 33px;

    @media(max-width: 620px){
        padding-top: 18px;
    }

    &__ref {
        display: flex;
        align-items: center;
        font-size: 18px;
        margin-top: 23px;
    }

    &__form {
        padding-top: 26px;
        max-width: 845px;
        width: 100%;

        @media(max-width: 1024px) {
            padding-top: 23px;
        }
    }

    &__txt {
        font-weight: 400;
    }

    &__doc {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: 25px;
        padding: 6px 12px 5px;
        font-weight: 600;
        font-size: 14px;
        line-height: 1;
        color: white;
        background: $purple-1;
        margin-left: 12px;

        &:hover {
            background-color: $red-1;
        }
    }

    &__func {
        display: flex;
        align-items: center;
        margin-top: 25px;

        @media(max-width: 1024px) {
            margin-top: 27px;
        }

        @media(max-width: 620px) {
            flex-direction: column;
            margin-top: 18px;
        }

        .btn {
            @media(max-width: 1024px) {
                width: 50%;
            }

            @media(max-width: 620px) {
                width: 100%;
            }

            &:first-child {
                margin-right: 25px;

                @media(max-width: 620px) {
                    margin-right: 0;
                }
            }

            &:not(:first-child) {
                @media(max-width: 620px) {
                    margin-top: 20px;
                }
            }
        }
    }

    .form-group {
        margin-top: 0;

        &:not(:first-child) {
            margin-top: 26px;

            @media(max-width: 620px) {
                margin-top: 20px;
            }
        }
    }

    .breadcrumb {
        margin-top: 0;
    }

    .checkbox {
        @media(max-width: 620px) {
            margin-top: 10px;
        }
    }
}