.lk-profile {
    margin-top: 29px;

    @media(max-width: 1024px) {
        margin-top: 15px;
    }

    &__field {
        position: relative;
        height: 25px;
    }

    &__group {
        padding-bottom: 13px;
        border-bottom: 2px solid #38393f80;
    }

    &__row {
        display: grid;
        grid-template-columns: minmax(143px, 211px) 1fr;
        align-items: center;
        grid-gap: 31px;

        @media(max-width: 1024px) {
            grid-template-columns: 143px 1fr;
            grid-gap: 80px;
        }

        @media(max-width: 620px) {
            grid-template-columns: 1fr;
            grid-gap: 0px;
        }
    }

    &__col {
        &--tooltip {
            display: flex;
            align-items: center;
        }

        &--subgrid {
            display: grid;
            grid-template-columns: 1fr 21px;
            position: relative;

            @media(max-width: 620px) {
                margin-top: 4px;
            }
        }
    }

    &__icon {
        width: 17px;
        height: 17px;
        cursor: pointer;
        margin-right: 2px;
        margin-top: 3px;


        @media(max-width: 1024px) {
            margin-right: 0px;
            margin-top: 8px;
        }

        &:hover {
            .icon {
                fill: $purple-1;
            }
        }

        .icon {
            fill: $gray-1;
        }
    }

    &__caption {
        font-weight: 400;

        @media(max-width: 620px) {
            font-size: 14px;
        }
    }

    &__info {
        font-weight: 600;
    }

    &__item {
        padding-bottom: 13px;
        border-bottom: 2px solid $gray-5;

        @media(max-width: 1024px) {
            padding-bottom: 13px;
        }

        &:not(:first-child) {
            margin-top: 12px;

            @media(max-width: 1024px) {
                margin-top: 10px;
            }
        }

        &.disable {
            .lk-profile__info {
                color: $gray-2;
            }

            .lk-profile__icon {
                pointer-events: none;
            }
        }

        &--acc {
            .lk-profile__sub {
                position: relative;
                opacity: 1;
                visibility: visible;
                max-height: 0;
                overflow: hidden;
                transition: max-height .4s ease-in-out;
            }

            .lk-profile__info {
                @media(max-width: 620px) {
                    line-height: 1;
                    padding-top: 8px;
                }
            }

            .lk-edit {
                &__row {
                    grid-template-columns: minmax(143px, 211px) 1fr;
                    align-items: center;
                    grid-auto-rows: 40px;

                    @media(max-width: 1024px) {
                        grid-template-columns: 143px 1fr;
                        grid-gap: 80px;
                    }

                    @media(max-width: 620px) {
                        grid-template-columns: 1fr;
                        grid-gap: 0px;
                        grid-auto-rows: auto;
                    }
                }

                &__caption {
                    @media(max-width: 620px) {
                        font-size: 14px;
                    }
                }
            }

            &.is-open {
                .lk-profile__row {
                    // max-height: 0;
                    // overflow: hidden;max-height: 0;
                    // overflow: hidden;
                }
            }
        }
    }

    &__sub {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        width: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        transition: .4s ease-in-out;
        background-color: white;

        &.active {
            opacity: 1;
            visibility: visible;
        }
    }

    &__wrapper {
        margin-top: 24px;

        &:first-of-type {
            margin-top: 29px;

            @media(max-width: 1024px) {
                margin-top: 17px;
            }
        }
    }

    &__bloc {
        &:not(:first-child) {
            margin-top: 20px;

            @media(max-width: 1024px) {
                margin-top: 31px;
            }

            @media(max-width: 620px) {
                margin-top: 26px;
            }

            .lk-profile__wrapper {
                margin-top: 24px;

                @media(max-width: 1024px) {
                    margin-top: 16px;
                }

                @media(max-width: 620px) {
                    margin-top: 12px;
                }
            }
        }

        & .title-4 {
            @media(max-width: 1024px) {
                font-size: 23px;
            }
        }
    }

    .scrollbar-track-y {
        width: 2px;
    }

    .scroll-content {
        padding-right: 25px;
    }

    .scrollbar-thumb {
        background-color: $purple-1;
        width: 2px;
    }

    .btn {
        opacity: 0;
        visibility: hidden;
        margin-top: 40px;
        display: none;

        &.show {
            display: inline-flex;
            opacity: 1;
            visibility: visible;
        }
    }
}