.lk {
    background: url(../img/decor/bg-lk-desk.svg) no-repeat center;
    background-size: cover;
    padding-top: 36px;

    @media(max-width: 1024px) {
        background: none;
        padding-top: 18px;
    }

    @media(max-width: 620px) {
        padding-top: 15px;
    }

    &--basic {
        background: transparent;
    }

    &__container {
        .breadcrumb {
            margin-top: 0;
        }
    }

    .breadcrumb {
        margin-top: 0;
    }
}