.contacts {

  &__tabs {
    margin-top: 32px;

    @media (max-width: 1024px) {
      margin-top: 28px;
    }

    @media (max-width: 620px) {
      margin-top: 24px;
    }

    .tabs__list {
      border-bottom-color: transparent;
    }

    .tabs__item {

      &:not(:last-of-type) {
        margin-right: 43px;

        @media (max-width: 1024px) {
          margin-right: 25px;
        }

        @media (max-width: 620px) {
          margin-right: 20px;
        }
      }
    }

    .tabs__link {
      font-size: 18px;
      line-height: 1.6;

      @media (max-width: 1024px) {
        padding-bottom: 18px;
        font-size: 20px;
        line-height: 1.55;
      }

      @media (max-width: 620px) {
        padding-bottom: 11px;
        font-size: 18px;
      }

      &:hover {
        color: $purple-1;

        &::after {
          background: transparent;
        }
      }

      &.active {

        &:hover {
          color: $basic;

          &::after {
            background: $purple-1;
          }
        }
      }
    }
  }

  &__table {
    margin: 33px 0 27px;
    overflow: auto;

    @media (max-width: 1024px) {
      margin-bottom: 20px;
    }

    @media (max-width: 620px) {
      margin: 28px 0 16px;
    }

    table {

      @media (max-width: 1024px) {
        min-width: 1049px;
      }

      tr {

        td {

          &:nth-of-type(1) {
            width: 238px;

            @media (max-width: 1024px) {
              width: 208px;
            }
          }

          &:nth-of-type(2) {
            width: 224px;

            @media (max-width: 1024px) {
              width: 208px;
            }
          }

          &:nth-of-type(3) {
            width: 420px;

            @media (max-width: 1024px) {
              width: 354px;
            }
          }

          &:nth-of-type(4) {
            width: 315px;

            @media (max-width: 1024px) {
              width: 276px;
            }
          }
        }
      }
    }
  }

  p {

    @media (max-width: 620px) {
      margin: 8px 0 0;
    }

    a {
      font-weight: 600;
      color: $red-1;
    }
  }

  &__section {
    margin-top: 60px;

    @media (max-width: 1024px) {
      margin-top: 38px;
    }

    @media (max-width: 620px) {
      margin-top: 28px;
    }
  }

  &__items {
    margin-top: 18px;

    @media (max-width: 1024px) {
      width: 85%;
      margin-top: 14px;
    }

    @media (max-width: 620px) {
      width: 100%;
      margin-top: 16px;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    margin-top: 8px;

    @media (max-width: 1024px) {
      align-items: flex-start;
      margin-top: 12px;
    }
  }

  &__img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    flex-shrink: 0;

    @media (max-width: 1024px) {
      margin-top: 3px;
    }

    svg {
      fill: $purple-1;
    }
  }

  &__map {
    width: 99vw;
    height: 650px;
    margin: 25px 0 0 50%;
    transform: translateX(-50%);
    height: 650px;

    @media(max-width: 1024px) {
      height: 550px;
    }

    @media(max-width: 620px) {
      height: 450px;
    }

    .ymaps-2-1-78-balloon-content__header {
      font-size: 18px;
      font-family: 'MyriadPro', Arial, sans-serif;
      font-weight: 600;
      color: $basic;
    }

    // .ymaps-2-1-78-balloon__close {
    //   position: relative;
    //   right: 8px;
    // }



    .mark {
      font-family: 'MyriadPro', Arial, sans-serif;
      color: $basic;
      background-color: white;
      min-width: 548px;
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      min-width: 547px;
      // padding: 20px;

      @media(max-width:620px) {
        min-width: 335px;
      }

      .close {
        z-index: 1;
        font-size: 27px;
        transform: translateY(7px) translateX(-18px);
        color: $gray-1;
        transition: .3s ease-in-out;
        height: 34px;

        &:hover {
          color: $basic;
        }
      }

      &__inner {
        position: relative;

        &:after {
          position: absolute;
          content: '';
          width: 10px;
          height: 10px;
          bottom: -20px;
          left: 0;
          right: 0;
          margin: auto;
          border: 10px solid transparent;
          border-top: 10px solid white;
        }
      }

      &__header {
        font-size: 18px;
      }

      &__box {
        margin-top: 17px;
      }

      p {
        font-size: 16px;
        margin: 15px 0 0;

        @media(max-width: 620px) {
          line-height: 1.6;
        }

        a {
          font-weight: normal;
          color: $basic;

          &:hover {
            color: $purple-1;
          }
        }
      }

      &--mark2 {
        .mark {
          &__box {
            margin-top: 0;
            font: 600 18px MyriadPro, Arial, sans-serif;
            line-height: 1.5;
          }

          &__inner {
            padding: 35px 0 43px 41px;

            @media(max-width: 620px) {
              padding: 21px 0 21px 21px;
            }

            &:after {
              @media(max-width: 620px) {
                left: 71px;
              }
            }
          }
        }
      }

      &--mark1 {
        .mark {
          &__inner {
            padding: 35px 0px 48px 39px;

            @media(max-width: 620px) {
              padding: 21px 0 21px 21px;
            }

            .mark__box {
              margin-top: 18px;
            }
          }

          &__header {
            @media(max-width: 620px) {
              line-height: 1.6;
            }
          }
        }
      }
    }

    .mark2-content {
      font: 600 18px MyriadPro, Arial, sans-serif;
      color: #38393f;
    }
  }
}