.notification {
  background: url("/img/decor/bg-notification.svg") no-repeat 100% 30%;
  background-size: cover;

  @media (max-width: 1024px) {
    background-image: none;
  }

  &__container {
    max-width: 997px;
  }

  &__form {
    display: flex;
    margin-top: 34px;

    @media (max-width: 1024px) {
      flex-wrap: wrap;
      margin-top: 23px;
    }

    .select {
      margin: 0 -10px;

      @media (max-width: 1024px) {
        width: 66.66%;
      }

      @media (max-width: 620px) {
        width: calc(100% + 20px);
      }
    }

    .select2-container {
      margin: 0 10px;
    }

    .js-select {
      width: 162px;

      @media (max-width: 1024px) {
        width: calc(50% - 20px);
      }
    }
  }

  &__button {
    width: 162px;
    margin-left: 20px;

    @media (max-width: 1024px) {
      width: 33.33%;
    }

    @media (max-width: 620px) {
      width: 100%;
      margin: 20px 0 0;
    }
  }

  &__items {
    display: flex;
    flex-direction: column;
    margin-top: 18px;

    @media (max-width: 1024px) {
      margin-top: 16px;
    }

    @media (max-width: 620px) {
      margin-top: 10px;
    }
  }

  &__item {
    padding: 17px 0;

    @media (max-width: 1024px) {
      padding: 13px 0 18px;
    }

    @media (max-width: 620px) {
      padding: 18px 0;
    }

    &:not(:last-of-type) {
      border-bottom: 2px solid rgba(217, 217, 217, 0.35);
    }
  }

  &__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.35;

    @media (max-width: 1024px) {
      font-size: 22px;
      line-height: 1.55;
    }

    @media (max-width: 620px) {
      font-size: 18px;
    }
  }

  &__text {
    margin-top: 8px;

    @media (max-width: 1024px) {
      margin-top: 12px;
    }

    @media (max-width: 620px) {
      line-height: 1.8;
    }
  }
}