.supply {

  p {

    a {
      font-weight: 600;
      color: $red-1;
    }
  }

  .title-4 {
    margin-top: 26px;
  }

  &__table {

    .table__cell {

      &:last-of-type {
        width: 200px;
      }
    }
  }
}