.product-related
    h2.title-2 Сопутствующие товары
    .swiper-container.slider.slider--product.product-related__items
        .swiper-wrapper
            .swiper-slide(itemscope="" itemtype="http://schema.org/Offer")
                .product-related__item
                    .product-related__inner
                        a(href="javascript:void(0);")
                            h3.title-4(itemprop="name") Круг в прутках
                        div(itemprop="description")
                            p
                                span Тип товара:
                                |
                                | натяжитель ленты
                            p
                                span Производитель:
                                |
                                | OOO “УМК”
                            p
                                span Профилеразмер, мм:
                                |
                                | 50
                            p
                                span Длина, м:
                                |
                                | 150
                            p
                                span Стандарт на продукт:
                                |
                                | ГОСТ 380-2005
                            p
                                span Класс покрытия:
                                |
                                | 100
                    a.product-related__link(href="javascript:void(0);" itemprop="url")
                        meta(itemprop="name" content="Товар")
                        div
                            .product-related__text Открыть товар
                            .product-related__price(itemprop="price") 100 000 ₽
                        .product-related__icon
                            +icon('long_right')
            .swiper-slide(itemscope="" itemtype="http://schema.org/Offer")
                .product-related__item
                    .product-related__inner
                        a(href="javascript:void(0);")
                            h3.title-4(itemprop="name") Круг в прутках
                        div(itemprop="description")
                            p
                                span Тип товара:
                                |
                                | натяжитель ленты
                            p
                                span Производитель:
                                |
                                | OOO “УМК”
                            p
                                span Профилеразмер, мм:
                                |
                                | 50
                            p
                                span Длина, м:
                                |
                                | 150
                            p
                                span Стандарт на продукт:
                                |
                                | ГОСТ 380-2005
                            p
                                span Класс покрытия:
                                |
                                | 100
                    a.product-related__link(href="javascript:void(0);" itemprop="url")
                        meta(itemprop="name" content="Товар")
                        div
                            .product-related__text Открыть товар
                            .product-related__price(itemprop="price") 100 000 ₽
                        .product-related__icon
                            +icon('long_right')
            .swiper-slide(itemscope="" itemtype="http://schema.org/Offer")
                .product-related__item
                    .product-related__inner
                        a(href="javascript:void(0);")
                            h3.title-4(itemprop="name") Круг в прутках
                        div(itemprop="description")
                            p
                                span Тип товара:
                                |
                                | натяжитель ленты
                            p
                                span Производитель:
                                |
                                | OOO “УМК”
                            p
                                span Профилеразмер, мм:
                                |
                                | 50
                            p
                                span Длина, м:
                                |
                                | 150
                            p
                                span Стандарт на продукт:
                                |
                                | ГОСТ 380-2005
                            p
                                span Класс покрытия:
                                |
                                | 100
                    a.product-related__link(href="javascript:void(0);" itemprop="url")
                        meta(itemprop="name" content="Товар")
                        div
                            .product-related__text Открыть товар
                            .product-related__price(itemprop="price") 100 000 ₽
                        .product-related__icon
                            +icon('long_right')
            .swiper-slide(itemscope="" itemtype="http://schema.org/Offer")
                .product-related__item
                    .product-related__inner
                        a(href="javascript:void(0);")
                            h3.title-4(itemprop="name") Круг в прутках
                        div(itemprop="description")
                            p
                                span Тип товара:
                                |
                                | натяжитель ленты
                            p
                                span Производитель:
                                |
                                | OOO “УМК”
                            p
                                span Профилеразмер, мм:
                                |
                                | 50
                            p
                                span Длина, м:
                                |
                                | 150
                            p
                                span Стандарт на продукт:
                                |
                                | ГОСТ 380-2005
                            p
                                span Класс покрытия:
                                |
                                | 100
                    a.product-related__link(href="javascript:void(0);" itemprop="url")
                        meta(itemprop="name" content="Товар")
                        div
                            .product-related__text Открыть товар
                            .product-related__price(itemprop="price") 100 000 ₽
                        .product-related__icon
                            +icon('long_right')
            .swiper-slide(itemscope="" itemtype="http://schema.org/Offer")
                .product-related__item
                    .product-related__inner
                        a(href="javascript:void(0);")
                            h3.title-4(itemprop="name") Круг в прутках
                        div(itemprop="description")
                            p
                                span Тип товара:
                                |
                                | натяжитель ленты
                            p
                                span Производитель:
                                |
                                | OOO “УМК”
                            p
                                span Профилеразмер, мм:
                                |
                                | 50
                            p
                                span Длина, м:
                                |
                                | 150
                            p
                                span Стандарт на продукт:
                                |
                                | ГОСТ 380-2005
                            p
                                span Класс покрытия:
                                |
                                | 100
                    a.product-related__link(href="javascript:void(0);" itemprop="url")
                        meta(itemprop="name" content="Товар")
                        div
                            .product-related__text Открыть товар
                            .product-related__price(itemprop="price") 100 000 ₽
                        .product-related__icon
                            +icon('long_right')
        .arrow.arrow--box
            .arrow__link.arrow__link--prev
                +icon('ic-arrow-slider')
            .swiper-pagination.swiper-pagination--num
            .arrow__link.arrow__link--next
                +icon('ic-arrow-slider')