.product-related
    h2.title-2 Сопутствующие товары
    .swiper-container.slider.slider--product.product-related__items
        .swiper-wrapper
            .swiper-slide
                .product-related__item
                    .product-related__inner
                        h3.title-4 Круг в прутках
                        p
                            span Тип товара:
                            |
                            | натяжитель ленты
                        p
                            span Производитель:
                            |
                            | OOO “УМК”
                        p
                            span Профилеразмер, мм:
                            |
                            | 50
                        p
                            span Длина, м:
                            |
                            | 150
                        p
                            span Стандарт на продукт:
                            |
                            | ГОСТ 380-2005
                        p
                            span Класс покрытия:
                            |
                            | 100
                    a.product-related__link(href="javascript:void(0);")
                        div
                            .product-related__text Открыть товар
                            .product-related__price 100 000 ₽
                        .product-related__icon
                            +icon('long_right', 21, 21)
            .swiper-slide
                .product-related__item
                    .product-related__inner
                        h3.title-4 Круг в прутках
                        p
                            span Тип товара:
                            |
                            | натяжитель ленты
                        p
                            span Производитель:
                            |
                            | OOO “УМК”
                        p
                            span Профилеразмер, мм:
                            |
                            | 50
                        p
                            span Длина, м:
                            |
                            | 150
                        p
                            span Стандарт на продукт:
                            |
                            | ГОСТ 380-2005
                        p
                            span Класс покрытия:
                            |
                            | 100
                    a.product-related__link(href="javascript:void(0);")
                        div
                            .product-related__text Открыть товар
                            .product-related__price 100 000 ₽
                        .product-related__icon
                            +icon('long_right', 21, 21)
            .swiper-slide
                .product-related__item
                    .product-related__inner
                        h3.title-4 Круг в прутках
                        p
                            span Тип товара:
                            |
                            | натяжитель ленты
                        p
                            span Производитель:
                            |
                            | OOO “УМК”
                        p
                            span Профилеразмер, мм:
                            |
                            | 50
                        p
                            span Длина, м:
                            |
                            | 150
                        p
                            span Стандарт на продукт:
                            |
                            | ГОСТ 380-2005
                        p
                            span Класс покрытия:
                            |
                            | 100
                    a.product-related__link(href="javascript:void(0);")
                        div
                            .product-related__text Открыть товар
                            .product-related__price 100 000 ₽
                        .product-related__icon
                            +icon('long_right', 21, 21)
            .swiper-slide
                .product-related__item
                    .product-related__inner
                        h3.title-4 Круг в прутках
                        p
                            span Тип товара:
                            |
                            | натяжитель ленты
                        p
                            span Производитель:
                            |
                            | OOO “УМК”
                        p
                            span Профилеразмер, мм:
                            |
                            | 50
                        p
                            span Длина, м:
                            |
                            | 150
                        p
                            span Стандарт на продукт:
                            |
                            | ГОСТ 380-2005
                        p
                            span Класс покрытия:
                            |
                            | 100
                    a.product-related__link(href="javascript:void(0);")
                        div
                            .product-related__text Открыть товар
                            .product-related__price 100 000 ₽
                        .product-related__icon
                            +icon('long_right', 21, 21)
            .swiper-slide
                .product-related__item
                    .product-related__inner
                        h3.title-4 Круг в прутках
                        p
                            span Тип товара:
                            |
                            | натяжитель ленты
                        p
                            span Производитель:
                            |
                            | OOO “УМК”
                        p
                            span Профилеразмер, мм:
                            |
                            | 50
                        p
                            span Длина, м:
                            |
                            | 150
                        p
                            span Стандарт на продукт:
                            |
                            | ГОСТ 380-2005
                        p
                            span Класс покрытия:
                            |
                            | 100
                    a.product-related__link(href="javascript:void(0);")
                        div
                            .product-related__text Открыть товар
                            .product-related__price 100 000 ₽
                        .product-related__icon
                            +icon('long_right', 21, 21)
        .pagination.swiper-pagination