.product-related
    h2.title-2 Сопутствующие товары
    .swiper-container.product-related__items
        .swiper-wrapper
            .swiper-slide
                .product-related__item
                    .product-related__inner
                        h3.title-4 Круг в прутках
                        p <span>Тип товара:</span> натяжитель ленты
                        p <span>Производитель:</span> OOO “УМК”
                        p <span>Профилеразмер, мм:</span> 50
                        p <span>Длина, м:</span> 150
                        p <span>Стандарт на продукт:</span> ГОСТ 380-2005
                        p <span>Класс покрытия:</span> 100
                    a.product-related__link(href="#")
                        div
                            .product-related__text Открыть товар
                            .product-related__price 100 000 ₽
                        .product-related__icon
                            <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M15.453 11.3026L13.382 13.3816L14.5138 14.5134L18.5274 10.4999L14.5138 6.48633L13.382 7.61815L15.453 9.69717L2.47315 9.69717L2.47315 11.3026L15.453 11.3026Z" fill="white"/>
                            </svg>
            .swiper-slide
                .product-related__item
                    .product-related__inner
                        h3.title-4 Круг в прутках
                        p <span>Тип товара:</span> натяжитель ленты
                        p <span>Производитель:</span> OOO “УМК”
                        p <span>Профилеразмер, мм:</span> 50
                        p <span>Длина, м:</span> 150
                        p <span>Стандарт на продукт:</span> ГОСТ 380-2005
                        p <span>Класс покрытия:</span> 100
                    a.product-related__link(href="#")
                        div
                            .product-related__text Открыть товар
                            .product-related__price 100 000 ₽
                        .product-related__icon
                            <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M15.453 11.3026L13.382 13.3816L14.5138 14.5134L18.5274 10.4999L14.5138 6.48633L13.382 7.61815L15.453 9.69717L2.47315 9.69717L2.47315 11.3026L15.453 11.3026Z" fill="white"/>
                            </svg>
            .swiper-slide
                .product-related__item
                    .product-related__inner
                        h3.title-4 Круг в прутках
                        p <span>Тип товара:</span> натяжитель ленты
                        p <span>Производитель:</span> OOO “УМК”
                        p <span>Профилеразмер, мм:</span> 50
                        p <span>Длина, м:</span> 150
                        p <span>Стандарт на продукт:</span> ГОСТ 380-2005
                        p <span>Класс покрытия:</span> 100
                    a.product-related__link(href="#")
                        div
                            .product-related__text Открыть товар
                            .product-related__price 100 000 ₽
                        .product-related__icon
                            <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M15.453 11.3026L13.382 13.3816L14.5138 14.5134L18.5274 10.4999L14.5138 6.48633L13.382 7.61815L15.453 9.69717L2.47315 9.69717L2.47315 11.3026L15.453 11.3026Z" fill="white"/>
                            </svg>
            .swiper-slide
                .product-related__item
                    .product-related__inner
                        h3.title-4 Круг в прутках
                        p <span>Тип товара:</span> натяжитель ленты
                        p <span>Производитель:</span> OOO “УМК”
                        p <span>Профилеразмер, мм:</span> 50
                        p <span>Длина, м:</span> 150
                        p <span>Стандарт на продукт:</span> ГОСТ 380-2005
                        p <span>Класс покрытия:</span> 100
                    a.product-related__link(href="#")
                        div
                            .product-related__text Открыть товар
                            .product-related__price 100 000 ₽
                        .product-related__icon
                            <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M15.453 11.3026L13.382 13.3816L14.5138 14.5134L18.5274 10.4999L14.5138 6.48633L13.382 7.61815L15.453 9.69717L2.47315 9.69717L2.47315 11.3026L15.453 11.3026Z" fill="white"/>
                            </svg>
            .swiper-slide
                .product-related__item
                    .product-related__inner
                        h3.title-4 Круг в прутках
                        p <span>Тип товара:</span> натяжитель ленты
                        p <span>Производитель:</span> OOO “УМК”
                        p <span>Профилеразмер, мм:</span> 50
                        p <span>Длина, м:</span> 150
                        p <span>Стандарт на продукт:</span> ГОСТ 380-2005
                        p <span>Класс покрытия:</span> 100
                    a.product-related__link(href="#")
                        div
                            .product-related__text Открыть товар
                            .product-related__price 100 000 ₽
                        .product-related__icon
                            <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M15.453 11.3026L13.382 13.3816L14.5138 14.5134L18.5274 10.4999L14.5138 6.48633L13.382 7.61815L15.453 9.69717L2.47315 9.69717L2.47315 11.3026L15.453 11.3026Z" fill="white"/>
                            </svg>
        .pagination