.product-specs
    h2.title-4 Характеристики
    .product-specs__items
        .product-specs__item
            .product-specs__name Тип товара
            .product-specs__value Натяжитель ленты
        .product-specs__item
            .product-specs__name Производитель
            .product-specs__value OOO “УМК”
        .product-specs__item
            .product-specs__name Профилеразмер, мм
            .product-specs__value 50
        .product-specs__item
            .product-specs__name Длина, м
            .product-specs__value 150
        .product-specs__item
            .product-specs__name Марка стали
            .product-specs__value 08пс
        .product-specs__item
            .product-specs__name
                span Стандарт на продукт
                a.tooltip(href="javascript:void(0);")
                    .tooltip__icon
                        +icon('help_circle_outline')
                    .tooltip__content
                        b Стандарт на продукт
                        |
                        | — нормативный документ, определяющий требования, которым должен
                        | соответствовать конкретный продукт или группа идентичной продукции.Стандартизация
                        | существенно упрощает производственный процесс, поскольку ее применение позволяет достичь
                        | единого высокого качества продукции.

            .product-specs__value ГОСТ 380-2005
        .product-specs__item
            .product-specs__name Класс покрытия
            .product-specs__value 100