.product-info
    .product-info__item
        .product-info__head
            .product-info__title Подробнее о товаре
            .product-info__icon
                +icon('chevron_down', 24, 24)
        .product-info__body
            .product-info__row
                h2.title-4 Описание
                p.
                    Профильные стальные трубы – один из видов металлопродукции, используемый в качестве конструкционного
                    материала. Сортамент производимых труб включает профили различных форм, однако наиболее популярной
                    является труба квадратная и труба прямоугольная. Пластичные свойства стали, используемые при их
                    производстве, позволяют производить гнутые профильные трубы. Для гибки используются специальные
                    станки и приспособления – трубогибы. Оцинкованная профильная металлическая труба представляет собой
                    изделие, изготовленное из холоднокатаной оцинкованной стали.
            .product-info__row
                h2.title-4 Область применения
                p.
                    Основное назначение профильных труб — изготовление металлоконструкций. Из профильной трубы делается
                    каркас различных сооружений: фермы, ворота, теплица, навес и т.п. Кроме того, из нее могут
                    изготавливаться такие изделия, как: скамейка, лестница, беседка, калитка, забор и многие другие.
            .product-info__row
                h2.title-4 Преимущества
                p.
                    Основное назначение профильных труб связано с устойчивым сопротивлением поперечным нагрузкам. Плоскости,
                    находящиеся перпендикулярно направлению давления, способны обеспечить более высокое сопротивление
                    давлению. Это свойство делает профильные трубы более привлекательными по сравнению с гибкими круглыми.
                p.
                    В случае же если направление давления известно заранее, прочностные характеристики конструкции
                    можно усилить, используя вместо квадратных прямоугольные. В целом получается, что использование
                    в строительных конструкциях данных видов труб может снизить удельный расход стальных материалов,
                    а значит и снизить их стоимость. Еще одним преимуществом является более устойчивое крепление
                    различных строительных материалов к ровной плоскости.
    .product-info__item
        .product-info__head
            .product-info__title Упаковка
            .product-info__icon
                +icon('chevron_down', 24, 24)
        .product-info__body