@import "libs/libs";
@import "common/global";
@import "common/header/header";
@import "common/header/menu-mobile";
@import "common/header/header-link";
@import "common/header/header-search";
@import "common/aside";
@import "common/breadcrumb";
@import "common/btn";
@import "common/checkbox";
@import "common/close-btn";
@import "common/count";
@import "common/dropdown";
@import "common/file";
@import "common/filter";
@import "common/footer";
@import "common/form";
@import "common/helper";
@import "common/input";
@import "common/link";
@import "common/menu-btn";
@import "common/menu-popup";
@import "common/modal";
@import "common/pagination";
@import "common/pagination-filter";
@import "common/search";
@import "common/select";
@import "common/share";
@import "common/sidemenu";
@import "common/slider";
@import "common/social";
@import "common/tab";
@import "common/table";
@import "common/tabs";
@import "common/tooltip";
@import "common/topmenu";
@import "common/video";
@import "common/lng";
@import "includes/about/about";
@import "includes/about/activity";
@import "includes/about/mission";
@import "includes/auth/auth";
@import "includes/auth/auth-popup";
@import "includes/catalog/catalog";
@import "includes/catalog/catalog-grid";
@import "includes/catalog/catalog-list";
@import "includes/catalog/catalog-service";
@import "includes/catalog/catalog-goods";
@import "includes/index/advantage";
@import "includes/index/call";
@import "includes/index/inset";
@import "includes/index/layer";
@import "includes/index/novation";
@import "includes/index/service";
@import "includes/index/slider-partner";
@import "includes/index/view";
@import "includes/product/product";
@import "includes/product/product-info";
@import "includes/product/product-related";
@import "includes/product/product-specs";
@import "includes/subject/subject";
@import "includes/vacancy/feature";
@import "includes/vacancy/vacancy";
@import "includes/404";
@import "includes/contacts";
@import "includes/delivery";
@import "includes/news";
@import "includes/news-detail";
@import "includes/notification";
@import "includes/purchase";
@import "includes/search-page";
@import "includes/service-detail";
@import "includes/standard";
@import "includes/supply";
@import "includes/tender";
@import "includes/tender-detail";
@import "includes/vacancy-detail";
@import "includes/catalog/include";
@import "common/overlay";
@import "includes/history/history";
@import "includes/history/history-slider";
@import "includes/lk/lk-menu";
@import "includes/lk/lk";
@import "includes/lk/lk-profile";
@import "includes/lk/lk-edit";
@import "includes/lk/lk-form";
@import "includes/lk/lk-order";
@import "includes/order/order";
@import "includes/order/order-card";
@import "includes/lk/lk-documentation";
@import "includes/lk/lk-cart";
@import "includes/lk/lk-radio";
@import "includes/lk/lk-call";
@import "includes/order/order-detaile";
@import "includes/delivery-way";
@import "includes/order/order-info";
@import "common/modal-delivery";
@import "includes/lk/sidemenu-lk";
@import "common/filter-btn";
@import "common/overlay-filter";
@import "includes/order/order-btn";
@import "common/menu-app";
@import "common/checkmark";
@import "common/btn-clear";
@import "includes/history/history-pagination";

.icon-stroke {
    stroke: currentColor;
}

.icon-md {
    height: 3rem;
    width: 3rem;
}

.swiper-pagination {
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;

    &--num {
        margin: 0 20px;

        .swiper-pagination-bullet {
            font-size: 14px;
            font-weight: 600;
            background-color: transparent;
            opacity: 1;
            color: $gray-2;
        }

        .swiper-pagination-bullet:not(:last-child) {
            margin-right: 20px;
        }

        .swiper-pagination-bullet-active {
            color: $basic;
        }
    }
}

.back {
    position: relative;
    display: inline-block;

    &::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 1px;
        background-color: $basic;
        left: 0;
        right: 0;
        bottom: -3px;
        margin: auto;
        transition: 0.3s ease-in-out;

        @media(max-width: 1024px) {
            bottom: 1px;
        }
    }

    &:hover {
        color: $purple-1;
    }

    &:hover::after {
        background-color: $purple-1;
    }

    @media(max-width: 1024px) {
        margin-top: 15px;
    }
}

.overlay-menu-mobile {
    background: #000;
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2000;
    opacity: 0;
    visibility: hidden;
}

.showBtn {
    opacity: 1 !important;
    visibility: visible !important;
}

#btnUp {
    display: inline-block;
    background-color: white;
    width: 83px;
    height: 83px;
    text-align: center;
    position: fixed;
    bottom: 40px;
    right: 40px;
    transition: background-color .3s, opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 100;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 25px;
    transition: .3s ease-in-out;

    @media(max-width: 1024px) {
        width: 70px;
        height: 70px;
        right: 20px;
        padding: 21px;
        bottom: 100px
    }

    @media(max-width: 620px) {
        width: 55px;
        height: 55px;
        right: 20px;
        padding: 17px;
    }

    &:hover {
        cursor: pointer;
        background-color: $purple-1;
        color: white;

        & .icon {
            fill: white;
            transition: .3s ease-in-out;
        }
    }

    .icon {
        transition: none;
        fill: $purple-1;
    }

    @media (max-width: 1023px) {
        right: 20px;
    }
}