@import "libs/libs";
@import "common/global";
@import "common/header/header";
@import "common/header/header-link";
@import "common/aside";
@import "common/breadcrumb";
@import "common/btn";
@import "common/checkbox";
@import "common/close-btn";
@import "common/count";
@import "common/dropdown";
@import "common/file";
@import "common/footer";
@import "common/form";
@import "common/helper";
@import "common/input";
@import "common/link";
@import "common/menu-btn";
@import "common/menu-popup";
@import "common/modal";
@import "common/pagination";
@import "common/search";
@import "common/select";
@import "common/share";
@import "common/sidemenu";
@import "common/slider";
@import "common/social";
@import "common/table";
@import "common/tabs";
@import "common/tooltip";
@import "common/topmenu";
@import "common/video";
@import "includes/about/about";
@import "includes/about/activity";
@import "includes/about/mission";
@import "includes/auth/auth";
@import "includes/auth/auth-popup";
@import "includes/catalog/catalog-list";
@import "includes/index/advantage";
@import "includes/index/call";
@import "includes/index/inset";
@import "includes/index/layer";
@import "includes/index/novation";
@import "includes/index/service";
@import "includes/index/slider-partner";
@import "includes/index/view";
@import "includes/product/product";
@import "includes/product/product-info";
@import "includes/product/product-related";
@import "includes/product/product-specs";
@import "includes/vacancy/feature";
@import "includes/vacancy/vacancy";
@import "includes/404";
@import "includes/contacts";
@import "includes/delivery";
@import "includes/news";
@import "includes/news-detail";
@import "includes/notification";
@import "includes/purchase";
@import "includes/search-page";
@import "includes/service-detail";
@import "includes/standard";
@import "includes/supply";
@import "includes/tender";
@import "includes/tender-detail";
@import "includes/vacancy-detail";

.icon-stroke {
    stroke: currentColor;
}

.icon-md {
    height: 3rem;
    width: 3rem;
}

.swiper-pagination {
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;

    &--num {
        margin: 0 20px;

        .swiper-pagination-bullet {
            font-size: 14px;
            font-weight: 600;
            background-color: transparent;
            opacity: 1;
            color: $gray-2;


            &:not(:last-child) {
                margin-right: 20px;
            }
        }

        .swiper-pagination-bullet-active {
            color: $basic;
        }
    }
}