.catalog-list {
    padding: 69px 0;

    &__grid {
        display: grid;
        grid-column-gap: 105px;
        max-width: 1055px;
        width: 100%;
        margin: 0 auto;
        margin-top: -29px;
        grid-template-areas:
            "b1 b2 b3"
            "b4 b2 b3"
            "b4 . b5";
    }

    &__link {
        display: block;

        &_title {
            font-size: 24px;
            font-weight: 600;
            color: $red-1;

            &:hover {
                color: $purple-1;
            }
        }

        &_middle {
            font-size: 18px;

            &:hover {
                color: $gray-2;
            }
        }

        &_small {
            font-size: 14px;
            margin-top: 4px;
            color: $gray-2;

            &:hover {
                opacity: 0.8;
            }
        }
    }

    &__box {
        margin-top: 14px;
    }

    &__bloc {
        margin-top: 29px;

        &--b1 {
            grid-area: b1;
        }

        &--b2 {
            grid-area: b2;
        }

        &--b3 {
            grid-area: b3;
        }

        &--b4 {
            grid-area: b4;
        }

        &--b5 {
            grid-area: b5;
        }
    }

    &--search {
        margin-top: 55px;

        .catalog-list {
            &__grid {
                display: grid;
                grid-column-gap: 95px;
                max-width: 1009px;
                width: 100%;
                margin: 0 auto;
                margin-top: 0px;
                grid-template-areas:
                    "b1 b2 b3 b4";
            }

            &__bloc {
                margin-top: 0;
            }
        }

        .link--title {
            &:not(:first-child) {
                margin-top: 27px;
            }
        }

        .link--small:not(:first-child) {
            margin-top: 17px;
        }
    }
}