.catalog-service {
    background: url(../img/decor/bg-catalog.svg) no-repeat center;
    background-size: cover;

    @media(max-width: 620px) {
        background: url(../img/decor/bg-catalog-mobile.svg) no-repeat 0% 196%
    }

    p {
        @media(max-width: 620px) {
            margin-top: 5px;
        }

        &:not(:first-of-type) {
            margin-top: 13px;

            @media(max-width: 1024px) {
                margin-top: 10px;
            }

            @media(max-width: 620px) {
                margin-top: 5px;
            }
        }
    }

    .catalog-grid {
        @media(max-width: 1024px) {
            margin-top: 34px;
        }

        @media(max-width: 620px) {
            margin-top: 24px;
        }
    }
}