.catalog {
    background: url(../img/decor/bg-catalog.svg) no-repeat center;
    background-size: cover;

    @media(max-width: 620px) {
        background: url(../img/decor/bg-catalog-mobile.svg) no-repeat 0% -25%;
    }

    p {
        max-width: 845px;
        width: 100%;

        @media(max-width: 620px) {
            line-height: 1.7;
        }
    }
}