.inset {
    padding: 75px 0 77px;

    @media(max-width: 1024px) {
        padding: 75px 0 22px;
    }

    &__left {
        position: relative;
        width: 465px;
        height: 403px;
        margin-right: 90px;

        @media(max-width: 1300px) {
            margin-right: 45px;
            width: 357px;
        }

        @media(max-width: 1024px) {
            width: calc(100% + 40px);
            margin-right: 0;
            margin-top: 25px;
            display: flex;
            flex-direction: column;
            align-items: center;
            height: auto;
        }

        .link {
            display: none;

            @media(max-width: 1024px) {
                display: flex;
                margin: auto;
                margin-top: 28px;
                padding-right: 0;
            }
        }

        img {
            width: 100%;
            height: 100%;
        }
    }

    &__pic {
        position: absolute;
        width: calc(100% + 360px);
        left: -360px;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;

        @media(max-width: 1024px) {
            position: relative;
            width: 100%;
            left: 0;
            height: 464px;
        }
    }

    &__right {
        width: calc(100% - 465px - 90px);
        height: 100%;
        padding-bottom: 6px;

        @media(max-width: 1300px) {
            width: calc(100% - 357px - 45px);
        }

        @media(max-width: 1024px) {
            width: 100%;
        }

        .link {
            margin-top: 44px;
            font-size: 18px;

            @media(max-width: 1024px) {
                display: none;
            }
        }
    }

    &__grid {
        display: flex;
        align-items: center;

        @media(max-width: 1024px) {
            flex-direction: column-reverse;
        }
    }

    &__box {
        margin-top: 22px;

        @media(max-width: 1024px) {
            text-align: center;
            max-width: 657px;
            width: 100%;
            margin: 0 auto;
        }

        p {
            &:not(:first-child) {
                margin-top: 11px;
            }
        }
    }

    &__title {
        @media(max-width: 1024px) {
            text-align: center;
        }
    }
}