.service {
    background-image: url(../img/decor/grid2.svg) $gray-3;
    padding: 69px 0 75px;
    background-size: auto;
    background-position: 49% 157%;
    background-repeat: no-repeat;

    @media(max-width: 1024px) {
        padding: 40px 0 60px;
    }

    &__title {
        text-align: center;
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 36px 36px;
        margin-top: 30px;

        @media(max-width: 1300px) {
            grid-gap: 25px 25px;
        }

        @media(max-width: 1235px) {
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 30px 30px;
        }
    }

    &__quote {
        margin: 12px auto 0;
        max-width: 636px;
        text-align: center;
    }

    &__bloc {
        display: flex;
        flex-direction: column;
        background-color: white;
        box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.08);
        min-height: 196px;
        padding: 29px 26px;
        transition: linear .3s;

        @media(max-width: 1024px) {
            min-height: 179px;
            padding: 20px 24px 26px;
        }

        &--special {
            background-color: $purple-1 !important;
            color: white;

            .link,
            .service__article {
                color: white !important;
            }

            &:hover {
                background-color: white !important;

                .link {
                    color: $purple-1 !important;

                    &__ic {
                        .icon {
                            fill: $purple-1 !important;
                        }
                    }
                }

                .service__article {
                    color: $basic !important;
                }
            }
        }

        &:hover {
            background-color: red;
        }

        &:nth-child(2) {
            .service__pic .icon {
                width: 22px;
                height: 23px;
            }
        }

        &:nth-child(4),
        &:nth-child(5) {
            .service__pic .icon {
                width: 22px;
                height: 21px;
            }
        }

        &:last-child {
            .service__pic .icon {
                width: 12px;
                height: 12px;
            }
        }

        .color {
            svg {
                fill: white !important;
            }
        }
    }

    &__pic {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 52px;
        height: 52px;
        background-color: $blue-1;
        border-radius: 26px;
        margin-top: auto;
        transform: scale(1);

        @media(max-width:1024px) {
            width: 48px;
            height: 48px;
        }

        .icon {
            width: 20px;
            height: 23px;
            fill: white;
        }
    }

    &__article {
        font-weight: 600;
        font-size: 24px;
        line-height: 1;

        @media(max-width: 1024px) {
            font-size: 22px;
        }
    }

    .link {
        margin-top: 0.687em;
        pointer-events: none;

        &__txt {
            transition: none;

        }
    }

    .num {
        margin-right: 0.25em;
    }
}