.service {
    background-image: url(../img/decor/grid2.svg) $gray-3;
    padding: 69px 0 75px;
    background-size: auto;
    background-position: 49% 157%;
    background-repeat: no-repeat;

    @media(max-width: 1024px) {
        padding: 40px 0 60px;
    }

    @media(max-width: 620px) {
        padding: 35px 0 40px;
    }

    &__title {
        text-align: center;
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 36px 36px;
        margin-top: 30px;

        @media(max-width: 1300px) {
            grid-gap: 25px 25px;
        }

        @media(max-width: 1235px) {
            grid-template-columns: repeat(2, calc(50% - 16px));
            grid-gap: 30px 30px;
        }

        @media(max-width: 620px) {
            grid-template-columns: repeat(2, calc(50% - 13px));
            grid-gap: 25px 25px;
            margin-top: 24px;
        }

        @media(max-width: 370px) {
            grid-template-columns: repeat(2, calc(50% - 8px));
            grid-gap: 15px 15px;
        }
    }

    &__quote {
        margin: 12px auto 0;
        max-width: 636px;
        text-align: center;

        @media(max-width: 620px) {
            display: none;
        }

        &--mobile {
            display: none;

            @media(max-width: 620px) {
                margin: 9px auto 0;
                display: block;
                line-height: 1.7;
            }
        }
    }

    &__bloc {
        display: flex;
        flex-direction: column;
        background-color: white;
        box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.08);
        min-height: 196px;
        padding: 29px 26px;
        transition: linear .3s;

        @media(max-width: 1024px) {
            min-height: 179px;
            padding: 20px 24px 26px;
        }

        @media(max-width: 620px) {
            min-height: 155px;
            padding: 16px 15px 14px;
        }

        &:hover {
            background-color: $purple-1;
            color: white;

            .link--detail {
                .link__txt {
                    color: white;
                    opacity: 0.75;
                }

                .link__ic {
                    .icon {
                        fill: white;
                        opacity: 0.75;
                    }
                }
            }
        }

        &--special {
            background-color: $purple-1;
            color: white;

            .service__article {
                color: white;
            }

            .link--detail {

                .link__txt {
                    color: #fff;
                    opacity: 0.75;
                }

                .link__ic {
                    .icon {
                        fill: #fff;
                        opacity: 0.75;
                    }
                }
            }

            &:hover {
                background-color: white;

                .link--detail {
                    .link__txt {
                        color: $purple-1;
                        opacity: 1;
                    }

                    .link__ic {
                        .icon {
                            fill: $purple-1;
                            opacity: 1;
                        }
                    }
                }

                .service__article {
                    color: $basic !important;
                }
            }
        }

        &:nth-child(2) {
            .service__pic .icon {
                width: 22px;
                height: 23px;
            }
        }

        &:nth-child(4),
        &:nth-child(5) {
            .service__pic .icon {
                width: 22px;
                height: 21px;
            }
        }

        &:last-child {
            .service__pic .icon {
                width: 12px;
                height: 12px;
            }
        }

        .color {
            svg {
                fill: white !important;
            }
        }
    }

    &__pic {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 52px;
        height: 52px;
        background-color: $blue-1;
        border-radius: 26px;
        margin-top: auto;
        transform: scale(1);

        @media(max-width:1024px) {
            width: 48px;
            height: 48px;
        }

        @media(max-width: 620px) {
            width: 40px;
            height: 40px;
        }


        .icon {
            width: 20px;
            height: 23px;
            fill: white;
        }
    }

    &__article {
        font-weight: 600;
        font-size: 24px;
        line-height: 1;
        // white-space: nowrap;
        // text-overflow: ellipsis;
        // overflow: hidden;

        @media(max-width: 1024px) {
            font-size: 22px;
        }

        @media(max-width: 620px) {
            font-size: 14px;
            line-height: 1.4;
        }
    }

    .link {
        margin-top: 0.687em;
        pointer-events: none;

        @media(max-width: 620px) {
            margin-top: 5px;
        }

        &__txt {
            transition: none;

            @media(max-width: 620px) {
                font-size: 13px;
            }
        }
    }

    .num {
        margin-right: 0.25em;
    }
}