.slider-partner {
    position: relative;
    padding-bottom: 120px;
    padding-top: 63px;

    &__title {
        text-align: center;
    }

    &__quote {
        max-width: 643px;
        text-align: center;
        width: 100%;
        margin: 11px auto 0;
    }


    &:after,
    &:before {
        position: absolute;
        content: "";
        bottom: 0;
        background-color: white;
        z-index: 2;
        height: calc(100% - 120px - 133px);
        width: 10px;
        top: 133px;
    }

    &:before {
        left: 0;
    }

    &:after {
        right: 0;
    }
}