.subject {
    position: relative;

    @media(max-width: 1024px) {
        margin-top: 25px;
    }

    &:after {
        @media(max-width: 1024px) {
            position: absolute;
            content: "";
            background-color: #F3F4F5;
            height: 100%;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            z-index: -1;
            width: 100vw;
            margin: 0 0 0 50%;
            transform: translateX(-50%);
        }
    }


    &__header {
        display: flex;
        align-items: center;
        padding: 27px 30px 3px;

        @media(max-width: 1235px) {
            padding: 15px 12px 3px;
        }

        @media(max-width: 1024px) {
            padding: 22px 20px 3px;
        }

        @media(max-width: 620px) {
            padding: 21px 20px 3px;
        }
    }

    &__txt {
        @media(max-width: 1024px) {
            line-height: 2;
        }

        @media(max-width: 620px) {
            font-size: 14px;
        }
    }

    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 56px;
        width: 56px;
        background-color: #b7ddfa33;
        margin-right: 18px;

        @media(max-width: 1024px) {
            margin-right: 13px;
        }

        @media(max-width: 620px) {
            height: 43px;
            width: 43px;

            margin-right: 10px;

        }

        .icon {
            width: 38px;
            height: 38px;
            fill: $blue-1;

            @media(max-width: 620px) {
                width: 24px;
                height: 100%;
            }
        }
    }

    &__title {
        font-size: 22px;
        font-weight: 600;
        margin-right: 13px;

        @media(max-width: 620px) {
            font-size: 18px;
            margin-right: 0;
            line-height: 1;
            margin-top: 9px;
        }
    }

    &__item {
        border: 2px solid rgba(217, 217, 217, 0.35);

        @media(max-width: 1024px) {
            width: calc(100% + 40px);
            margin-left: -20px;
            border-left: none;
            border-right: none;
            background-color: white;
        }

        &:not(:first-child) {
            margin-top: 26px;

            @media(max-width: 620px) {
                margin-top: 20px;
            }
        }

        &--discounts {

            .subject {

                &__footer {

                    @media(max-width: 620px) {
                        padding: 12px 20px;
                    }
                }
            }
        }
    }

    &__row {
        display: grid;
        grid-template-columns: minmax(152px, 185px) minmax(152px, 185px) minmax(152px, 185px) minmax(152px, 185px);
        grid-gap: 0 30px;
        padding: 12px 0;

        @media(max-width: 1235px) {
            grid-gap: 0;
            grid-template-columns: minmax(120px, 185px) minmax(120px, 185px) minmax(120px, 185px) minmax(130px, 185px);
        }

        @media(max-width: 1024px) {
            grid-gap: 40px;
            grid-template-columns: repeat(4, 152px);
        }

        @media(max-width: 767px) {
            grid-gap: 15px;
            grid-template-columns: repeat(4, 1fr);
        }

        @media(max-width: 620px) {
            grid-template-columns: 1fr;
            padding: 0;
            grid-gap: 2px;
        }
    }

    &__col {
        @media(max-width: 620px) {
            display: flex;
            align-items: center;
        }
    }

    &__subtitle {
        font-size: 14px;
        color: $gray-2;

        @media(max-width: 620px) {
            margin-right: 2px;
        }

        &--cost {
            @media(max-width: 620px) {
                display: none;
            }
        }
    }

    &__main {
        padding: 12px 30px 12px;

        @media(max-width: 1235px) {
            padding: 12px 12px 12px;
        }

        @media(max-width: 1024px) {
            padding: 16px 20px 16px;
        }

        @media(max-width: 620px) {
            padding: 8px 20px 15px;
        }
    }

    &__bloc {
        display: flex;

        @media(max-width: 620px) {
            flex-flow: column-reverse;
        }
    }

    &__unit {

        @media(max-width: 1024px) {
            margin-right: 31px;
        }

        @media(max-width: 620px) {
            display: flex;
            align-items: center;
        }

        &--discounts {
            display: flex;
            align-items: flex-end;

            .subject__block {
                &:not(:last-child) {
                    margin-right: 9px;
                }
            }

            @media(max-width: 620px) {
                flex-direction: column-reverse;
                align-items: flex-start;
            }
        }

        &:not(:last-child) {
            margin-right: 24px;

            @media(max-width: 1024px) {
                margin-right: 32px;
            }
        }

        &--store {
            @media(max-width: 620px) {
                margin-top: 2px;
            }
        }
    }

    &__qty {
        font-size: 18px;
        font-weight: 600;
        margin-top: 5px;

        @media(max-width: 1024px) {
            margin-top: 0;
        }

        @media(max-width: 620px) {
            font-size: 14px;
            font-weight: 400;
        }

        .js-qty {
            margin-right: 3px;
        }
    }

    &__price {
        font-size: 18px;
        font-weight: 600;
        font-size: 18px;
        font-weight: 600;
        margin-top: 5px;

        @media(max-width: 1024px) {
            margin-top: 0;
        }

        .mf-symbol {
            font-weight: 400;
        }

        span {
            &:first-child {
                margin-right: 3px;
            }
        }

        &--itog {
            color: $red-1;

            @media(max-width: 620px) {
                line-height: 1;
            }
        }

        &--discount {
            text-decoration: line-through;
            font-size: 16px;
            padding-bottom: 1px;

            @media(max-width: 620px) {
                font-size: 14px;
                padding-bottom: 0;
            }
        }
    }

    &__footer {
        display: flex;
        justify-content: space-between;
        border-top: 2px solid rgba(217, 217, 217, 0.35);
        padding: 18px 30px 15px;
        background-color: rgba(217, 217, 217, 0.15);

        @media(max-width: 1235px) {
            padding: 15px 12px;
        }

        @media(max-width: 1024px) {
            padding: 23px 20px 22px;
        }

        @media(max-width: 620px) {
            background: rgba(217, 217, 217, .1);
            padding: 17px 20px;
        }

        .count {

            &__input {
                height: 47px;
                padding: 0 22px 0 16px;
            }

            &__symbol {
                width: 20px;
                line-height: 47px;
            }
        }
    }

    &__box {
        display: flex;
        align-items: center;

        @media(max-width: 620px) {
            flex-direction: column-reverse;
            align-items: flex-start;
        }
    }

    .count {
        margin-right: 20px;

        @media(max-width: 1024px) {
            margin-right: 18px;
        }

        @media(max-width: 620px) {
            margin-right: 20px;
        }

        &__input {
            width: 100px;

            @media(max-width: 1024px) {
                width: 100px;
            }

            @media(max-width: 620px) {
                width: 105px;
            }
        }
    }

    .event {
        font-weight: 600;
        padding: 0.558em 0.692em;
        background-color: $red-1;
        font-size: 13px;
        color: white;

        @media(max-width: 1024px) {
            padding: 6px 9px;
        }

        @media(max-width: 620px) {
            padding: 0;
            background-color: transparent;
            color: $red-1;
            line-height: 1;
        }
    }
}