.aside {
  display: flex;
  flex-wrap: wrap;

  &__main {
    width: calc(100% - 285px - 70px);
  }

  &__sidebar {
    width: 285px;
    margin-left: 70px;

    .delivery-unit {
      margin-top: 40px;
    }
  }


  &--reverse {
    padding: 13px 0 64px;

    .aside {
      &__sidebar {
        margin-left: 0;
        margin-right: 23px;
      }
    }
  }

  &--lk {
    .aside {
      &__sidebar {
        margin-left: 0;
        margin-right: 35px;
        width: 222px;
        padding-top: 7px;
      }

      &__main {
        width: calc(100% - 222px - 35px);
      }
    }
  }
}