.aside {
  display: flex;
  flex-wrap: wrap;

  &__main {
    width: calc(100% - 285px - 70px);
  }

  &__sidebar {
    width: 285px;
    margin-left: 70px;

    .delivery-unit {
      margin-top: 40px;
    }
  }


  &--reverse {
    padding: 13px 0 64px;

    .aside {
      &__sidebar {
        margin-left: 0;
        margin-right: 23px;
      }
    }
  }

  &--lk {
    @media(max-width: 1024px) {
      flex-direction: column-reverse;
    }

    .aside {
      &__sidebar {
        margin-left: 0;
        margin-right: 60px;
        width: 222px;
        padding-top: 7px;

        @media(max-width: 1024px) {
          width: 100%;
          padding-top: 0;
          margin-right: 0;
        }
      }

      &__main {
        width: calc(100% - 222px - 60px);

        @media(max-width: 1024px) {
          width: 100%;
        }

        .breadcrumb {
          margin-top: 0;
        }
      }
    }

    .sidemenu,
    .delivery-unit {
      background-color: white;
    }

    .delivery-unit {
      @media(max-width: 1024px) {
        width: calc(100% + 40px);
        margin-left: -20PX;
        background-color: #f3f4f580;
        margin-top: 40px;
        border: none;
        padding: 30px 20px 37px;
      }

      @media(max-width: 620px) {
        margin-top: 30px;
        padding: 30px 20px 30px;
      }

      &__title {
        @media(max-width: 1024px) {
          line-height: 1;
        }
      }

      &__text {
        @media(max-width: 1024px) {
          display: flex;
          line-height: 1;
          margin-top: 18px;
        }

        span,
        a {
          @media(max-width: 1024px) {
            font-weight: 400;
            margin-left: 3px;
          }
        }
      }
    }
  }

  &--lk_order {
    .aside {
      &__sidebar {
        margin-right: 60px;
        width: 222px;
        margin-left: 0;
      }

      &__main {
        width: calc(100% - 222px - 60px);
        max-width: 918px;
      }
    }
  }
}