.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: .3s ease-in-out;
    font-size: 16px;
    font-weight: 600;
    height: 65px;
    cursor: pointer;

    &--basic {
        background-color: $purple-1;
        color: white;
        border: none;

        &:hover {
            background-color: $red-1;
        }
    }

    &--250 {
        width: 250px;
    }

    &--275 {
        width: 275px;
    }
}