.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: .3s ease-in-out;
    font-weight: 600;
    font-size: 16px;
    height: 65px;
    cursor: pointer;

    &--basic {
        background-color: $purple-1;
        color: white;
        border: none;

        &:hover {
            background-color: $red-1;
        }
    }

    &--h47 {
        height: 47px;
    }

    &--w239 {
        width: 239px;
    }

    // &--w250 {
    //     width: 250px;

    //     @media (max-width: 620px) {
    //         width: 100%;
    //     }
    // }

    // &--w157 {
    //     width: 157px;
    //     min-width: 157px;
    // }

    &--w275 {
        width: 275px;
    }

    &--w127 {
        width: 127px;
    }

    &--w149 {
        width: 149px;
    }

    &--w170 {
        width: 170px;
    }

    &--w175 {
        width: 175px;
    }

    &--w218 {
        width: 218px;
    }

    &--w181 {
        width: 181px;
    }

    &--w187 {
        width: 187px;
    }

    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 15px;
        height: 15px;
        margin-right: 5px;
        fill: #fff;

        @media (max-width: 620px) {
            margin-right: 0;
        }
    }

    &--transparent {
        background-color: transparent;
        border: 1px solid $purple-1;
        color: $purple-1;

        &:hover {
            color: $red-1;
            border-color: $red-1;
        }
    }

    &--search {
        width: 20px;
        height: 20px;
        background-color: transparent;
        border: none;
        padding: 0;
        transform: translateY(1px);
    }

    &--special {
        background-color: $purple-1;
        border: none;
        color: white;

        &:hover {
            background-color: $red-1;
        }

        .icon {
            fill: white;
        }
    }

    &--cart {
        width: 200px;

        @media (max-width: 1024px) {
            width: 188px;
        }

        @media (max-width: 620px) {
            display: none;
        }
    }

    &--cart-mobile {

        display: none;

        @media (max-width: 620px) {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50px;
            height: 47px;
        }

        svg {
            width: 26px;
            height: 26px;
        }
    }

    &--order-info {
        position: relative;
        background-color: transparent;
        border: none;
        font-weight: normal;
        font-size: 14px;

        &:hover {
            color: $purple-1
        }

        &:hover::before {
            background-color: $purple-1;
        }

        &:before {
            position: absolute;
            content: "";
            width: 100%;
            bottom: -3px;
            height: 1px;
            background-color: $basic;
        }
    }

    &--c_cart {
        @media(max-width: 620px) {
            width: 50px;
            height: 47px;
        }

        .btn {
            &__ic {
                display: none;

                @media(max-width: 620px) {
                    display: block;
                    height: 20px;
                }
            }

            &__txt {
                @media(max-width: 620px) {
                    display: none;
                }
            }
        }
    }

    &--cancel {
        border-color: $purple-1;
        color: $purple-1;

        &:hover {
            border-color: $red-1;
            color: $red-1;
        }
    }
}