.checkbox {
  display: block;
  margin-top: 15px;
  cursor: pointer;

  @media (max-width: 620px) {
    margin-top: 10px;
  }

  &__input {
    position: absolute;
    z-index: -1;
    opacity: 0;

    &:not(:disabled) {

      &:not(:checked) {

        &+.checkbox__label {

          &:hover {

            &::before {
              border-color: $red-1;
            }
          }
        }
      }

      &:active {

        &+.checkbox__label {
          &::before {
            background-color: $red-1;
            border-color: $red-1;
          }
        }
      }
    }

    &:focus {

      &+.checkbox__label {

        &::before {
          border-color: $red-1;
        }
      }

      &:not(:checked) {

        &+.checkbox__label {

          &::before {
            border-color: $red-1;
          }
        }
      }
    }

    &:checked {

      &+.checkbox__label {

        &::before {
          background-color: $purple-1;
          border-color: $purple-1;
        }

        &:after {
          opacity: 1;
        }
      }
    }

    &:disabled {

      &+.checkbox__label {

        &::before {
          background-color: $gray-1;
        }
      }
    }
  }

  &__label {
    position: relative;
    display: flex;
    align-items: center;
    user-select: none;
    font-size: 14px;
    line-height: 1.45;

    @media (max-width: 1024px) {
      line-height: 1.75;
    }

    @media (max-width: 620px) {
      font-size: 12px;
      line-height: 1.55;
    }

    &::before {
      content: '';
      display: inline-block;
      width: 25px;
      height: 25px;
      flex-shrink: 0;
      flex-grow: 0;
      border: 1px solid $purple-1;
      margin-right: 12px;
      box-sizing: border-box;
      background-color: white;
      transition: 0.2s;

      @media (max-width: 1024px) {
        width: 20px;
        height: 20px;
        margin-right: 10px;
      }
    }

    &::after {
      transition: 0.2s;
      content: '';
      display: block;
      position: absolute;
      top: 4px;
      left: 9px;
      width: 7px;
      height: 14px;
      border: solid #fff;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
      opacity: 0;

      @media (max-width: 1024px) {
        left: 8px;
        width: 5px;
        height: 12px;
      }

      // @media (max-width: 620px) {
      //   top: 10px;
      // }
    }
  }
}