.count {

  &__input {
    width: 140px;
    height: 65px;
    padding: 0 26px;
    margin-right: 20px;
    border: 1px solid $gray-1;
    font-family: 'MyriadPro', Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    color: $basic;
    transition: 0.2s;

    @media (max-width: 1024px) {
      width: 136px;
      margin-right: 26px;
    }

    @media (max-width: 620px) {
      width: 105px;
      height: 47px;
      margin-right: 20px;
      padding: 0 16px;
      font-size: 14px;
      line-height: 1.75;
    }

    &::placeholder {
      font-weight: 600;
      color: $gray-2;
    }

    &:disabled {
      background-color: initial;
    }

    &:not(:disabled) {

      &:hover,
      &:focus {
        border-color: $basic;
      }
    }
  }
}