.count {
  position: relative;
  margin-right: 20px;

  @media (max-width: 1024px) {
    margin-right: 26px;
  }

  @media (max-width: 620px) {
    margin-right: 20px;
  }

  &__input {
    width: 140px;
    height: 65px;
    padding: 0 34px 0 26px;
    border: 1px solid $gray-1;
    font-family: 'MyriadPro', Arial, sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.2;
    color: $basic;
    text-align: right;
    transition: 0.2s;

    @media (max-width: 1024px) {
      width: 136px;
    }

    @media (max-width: 620px) {
      width: 105px;
      height: 47px;
      padding: 0 22px 0 16px;
      font-size: 14px;
      line-height: 1.75;
    }

    &::placeholder {
      font-weight: 600;
      color: $gray-2;
    }

    &:disabled {
      background-color: initial;
    }

    &:not(:disabled) {

      &:hover,
      &:focus {
        border-color: $basic;
      }
    }

    &:not(:placeholder-shown) {

      & + .count__symbol {
        color: $basic;
      }
    }
  }

  &__symbol {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    line-height: 65px;
    font-weight: 600;
    color: $gray-2;
    pointer-events: none;

    @media (max-width: 620px) {
      width: 20px;
      line-height: 47px;
      font-size: 14px;
    }
  }
}