.dropdown {
    display: inline-block;
    position: relative;

    &:hover {
        .dropdown-label {
            &:after {
                transform: scale(1, -1);
            }

            color: $purple-1;
        }

        .dropdown-label__txt {
            color: $purple-1;
        }
    }

    &--phone {
        .dropdown-menu {
            left: -100px;
            min-width: 248px;
        }

        @media(max-width: 1024px) {
            display: none;
        }
    }


    &--city {
        margin-right: 29px;

        li {
            width: 50%;
            display: inline-block;
        }

        .dropdown-menu {
            min-width: 328px;
            left: -206%;
        }
    }

    &--lng {
        .dropdown-menu {
            left: -60%;
        }
    }

    &--catalog-goods {
        .dropdown-menu {
            min-width: 421px;
            top: 48px;

            @media(max-width: 1024px) {
                min-width: 381px;
                padding-top: 12px;
            }

            @media(max-width: 620px) {
                max-width: 335px;
                min-width: 335px;
                padding-top: 0px;
                top: 47px;
            }

            a {
                padding: 20px 27px 21px;
                font-size: 16px;

                @media(max-width: 1024px) {
                    padding: 18px 27px 21px;
                }

                @media(max-width: 620px) {
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    padding: 18px 27px 19px;
                }
            }
        }

        .dropdown-label {
            padding-right: 22px;

            @media(max-width: 1024px) {
                padding-right: 27px;
            }

            @media(max-width: 620px) {
                padding-right: 70px;
            }

            &:after {
                width: 15px;
                height: 15px;
                top: 7px;
                background-size: contain;
            }

            &__txt {
                font-size: 45px;
                font-weight: 600;
                line-height: 1;
                color: $gray-4;

                @media(max-width: 1024px) {
                    font-size: 40px;
                }

                @media(max-width: 620px) {
                    font-size: 30px;
                }
            }
        }

        &:hover {
            .dropdown-label__txt {
                color: $gray-4;
            }
        }
    }
}

.dropdown-label {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 15px;
    color: $basic;
    padding-right: 15px;
    cursor: pointer;
    transition: .3s ease-in-out;

    &__txt {
        transition: .3s ease-in-out;
    }

    &:after {
        background: url(/img/icons/arr-drop.svg);
        position: absolute;
        content: "";
        width: 10px;
        height: 8px;
        right: 0;
        background-repeat: no-repeat;
        background-position: center;
        top: 1px;
        bottom: 0;
        margin: auto;
        transform-origin: center;
        transition: .3s ease-in-out;
    }

    .dropdown-label__icon {
        margin-right: 8px;
    }
}

.dropdown-menu {
    display: none;
    position: absolute;
    left: 0;
    top: 20px;
    min-width: 100%;
    top: 16px;
    padding-top: 13px;
}

.dropdown:hover .dropdown-menu {
    display: block;
    z-index: 1;
}

.submenu {
    padding-left: 0;
    margin: 0;
    list-style-type: none;
    background-color: white;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.12);
}


.submenu>li>a {
    display: block;
    color: $basic;
    text-decoration: none;
    font-size: 15px;
    padding: 10px 17px 10px;
}

.submenu>li>a:hover {
    background-color: $gray-3;
}

.submenu>li.active>a {
    color: $purple-1;
    background-color: white;
}