.dropdown {
    display: inline-block;
    position: relative;

    &:hover {
        // .dropdown-label {
        //     &:after {
        //         transform: scale(1, -1);
        //     }

        //     color: $purple-1;
        // }

        // .dropdown-label__txt {
        //     color: $purple-1;
        // }
    }

    &--phone {
        .dropdown-menu {
            left: -100px;
            min-width: 248px;
        }

        @media(max-width: 1024px) {
            display: none;
        }
    }


    &--city {
        margin-right: 29px;

        li {
            width: 50%;
            display: inline-block;
        }

        .dropdown-menu {
            min-width: 328px;
            left: -206%;
        }
    }

    &--lng {
        .dropdown-menu {
            left: -60%;
        }
    }

    &--catalog-goods {
        @media(max-width: 620px) {
            width: 100%;
        }

        .dropdown-menu {
            min-width: 421px;
            top: 48px;

            @media(max-width: 1024px) {
                min-width: 381px;
                padding-top: 12px;
            }

            @media(max-width: 620px) {
                max-width: 335px;
                min-width: 335px;
                padding-top: 0px;
                top: 47px;
            }

            @media(max-width: 400px) {
                max-width: 100%;
                min-width: initial;
            }

            a {
                padding: 20px 27px 21px;
                font-size: 16px;

                @media(max-width: 1024px) {
                    padding: 18px 27px 21px;
                }

                @media(max-width: 620px) {
                    padding: 18px 27px 19px;
                }
            }
        }

        .dropdown-label {
            padding-right: 0;

            @media(max-width: 620px) {
                display: grid;
                grid-template-columns: 1fr auto;
                justify-content: space-between;
            }

            &:after {
                content: none;
                // width: 15px;
                // height: 15px;
                // top: 7px;
                // background-size: contain;
                // right: auto;
                // left: 370px;

                // @media(max-width: 620px) {
                //     left: auto;
                //     right: 0;
                // }
            }

            &__ic {
                position: relative;
                top: 4px;
                width: 17px;
                height: 17px;
                transform: rotate(90deg);
                transition: .3s ease-in-out;
                transform-origin: center;

                @media(max-width: 620px) {
                    top: 2px;
                    width: 14px;
                    height: 14px;
                }

                @media(max-width: 400px) {
                    top: 0px;
                }

                .icon {
                    fill: $basic;
                }
            }

            &__txt {
                font-size: 45px;
                font-weight: 600;
                line-height: 1;
                color: $gray-4;
                margin-right: 13px;

                @media(max-width: 1024px) {
                    font-size: 40px;
                }

                @media(max-width: 620px) {
                    font-size: 30px;
                }

                @media(max-width: 400px) {
                    font-size: 29px;
                }
            }

            &.open+.dropdown-menu {
                display: block;
                z-index: 1;
            }

            &.open {
                color: $purple-1;

                .dropdown-label__ic {
                    transform: rotate(90deg) scale(-1, 1);
                }
            }

            &.close+.dropdown-menu {
                display: none;
                z-index: initial;
            }
        }

        &:hover {
            .dropdown-label__txt {
                color: $gray-4;
            }
        }
    }


    &--user {
        @media(max-width: 1024px) {
            display: none;
        }

        .dropdown-menu {
            min-width: 180px;
            display: none;
        }
    }
}

.dropdown-label {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 15px;
    color: $basic;
    padding-right: 15px;
    cursor: pointer;
    transition: .3s ease-in-out;

    &__txt {
        transition: .3s ease-in-out;
    }

    &:after {
        background: url(/img/icons/arr-drop.svg);
        position: absolute;
        content: "";
        width: 10px;
        height: 8px;
        right: 0;
        background-repeat: no-repeat;
        background-position: center;
        top: 1px;
        bottom: 0;
        margin: auto;
        transform-origin: center;
        transition: .3s ease-in-out;
    }

    .dropdown-label__icon {
        margin-right: 8px;
    }
}

.dropdown-menu {
    display: none;
    position: absolute;
    left: 0;
    top: 20px;
    min-width: 100%;
    top: 16px;
    padding-top: 13px;
}

.dropdown:hover .dropdown-menu {
    display: block;
    z-index: 1;
}

.submenu {
    padding-left: 0;
    margin: 0;
    list-style-type: none;
    background-color: white;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.12);
}


.submenu>li>a {
    display: block;
    color: $basic;
    text-decoration: none;
    font-size: 15px;
    padding: 10px 17px 10px;

    &.submenu__out {
        display: flex;
        align-items: center;
        border-top: 2px solid $gray-3;

        .submenu__ic {
            width: 16px;
            height: 16px;
            margin-right: 8px;
        }
    }
}

.submenu>li>a:hover {
    background-color: $gray-3;
}

.submenu>li.active>a {
    color: $purple-1;
    background-color: white;
}

.dropdown--catalog-goods {
    &:hover {
        .dropdown-menu {
            display: none;
            z-index: initial;
        }
    }
}