.form {
  display: flex;
  flex-wrap: wrap;

  @media (max-width: 1024px) {
    justify-content: space-between;
  }

  &-group {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 25px;

    @media (max-width: 620px) {
      margin-top: 20px;
    }

    &.on-focus {

      .form-group__label {
        transform: translate3d(0px, -10px, 0px);
        font-size: 12px;
        line-height: 65px;
        opacity: 1;
      }
    }

    &.disabled {

      .form-group__label {
        color: $gray-1;
      }
    }

    &__label {
      position: absolute;
      line-height: 65px;
      transition: .5s;
      z-index: 1;
      left: 26px;
      pointer-events: none;
      color: $gray-2;

      @media(max-width: 620px) {
        left: 22px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        width: 90%;
      }

      &+.form-group__input {

        &:focus,
        &:not([value=""]) {
          padding: 33px 26px 11px;

          @media(max-width: 620px) {
            padding: 33px 22px 11px;
          }
        }
      }

      // &--text {
      //   transition: none;
      // }
    }

    &__input {
      padding: 24px 26px;
      border: 1px solid $gray-1;
      font-size: 16px;
      line-height: 1.2;
      transition: 0.2s;
      font-family: MyriadPro, Arial, sans-serif;

      &:disabled {
        background-color: initial;
      }

      &:not(:disabled) {

        &:hover,
        &:focus {
          border-color: $basic;
        }
      }
    }

    textarea {
      // &::-webkit-scrollbar {
      //   display: none;
      // }

      /* Demonstrate a "mostly customized" scrollbar
       * (won't be visible otherwise if width/height is specified) */
      &::-webkit-scrollbar {
        width: 5px;
        height: 8px;
        background-color: #f3f4f5;
        /* or add it to the track */
      }

      scrollbar-color: $purple-1 #f3f4f5 !important;
      scrollbar-width: thin !important;

      /* Add a thumb */
      &::-webkit-scrollbar-thumb {
        background: $purple-1;
      }
    }
  }

  .btn {
    margin-top: 25px;

    @media (max-width: 1024px) {
      font-size: 14px;
    }

    @media (max-width: 620px) {
      margin-top: 15px;
    }
  }
}