.form {
  margin-top: 32px;

  &-group {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 25px;

    &.on-focus {

      .form-group__label {
        transform: translate3d(0px, -10px, 0px);
        font-size: 12px;
        line-height: 65px;
        opacity: 1;
      }
    }

    &.disabled {

      .form-group__label {
        color: $gray-1;
      }
    }

    &__label {
      position: absolute;
      line-height: 65px;
      transition: .5s;
      z-index: 1;
      left: 26px;
      pointer-events: none;
      color: $gray-2;

      @media(max-width: 620px) {
        left: 22px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        width: 90%;
      }

      &+.form-group__input {

        &:focus,
        &:not([value=""]) {
          padding: 33px 26px 11px;
        }
      }
    }

    &__input {
      padding: 24px 26px;
      border: 1px solid $gray-1;
      font-size: 16px;
      line-height: 1.2;
      transition: 0.2s;

      &:disabled {
        background-color: initial;
      }

      &:not(:disabled) {

        &:hover,
        &:focus {
          border-color: $basic;
        }
      }
    }

    textarea {
      height: 160px;
    }
  }

  .btn {
    width: 426px;
    margin-top: 25px;
  }
}