@import "../../local_modules/normalize.css/normalize";
@import "../../local_modules/swiper/swiper-bundle.min";
@import "../utils/color.scss";
@import "../utils/fonts.scss";
@import "../utils/variables.scss";

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    margin: 0;
    font-family: 'MyriadPro', Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: $basic;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: $basic;
    transition: .3s ease-in-out;
}

.container {
    padding: 0 40px;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;

    &--full {
        max-width: 1920px;
    }
}

.title-1 {
    font-weight: 600;
    font-size: 45px;
    line-height: 1.12;
}

.title-2 {
    font-weight: 600;
    font-size: 40px;
    line-height: 1.02;
}

.title-3 {
    font-weight: 600;
    font-size: 35px;
    line-height: 1.02;
}

.title-4 {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.35;
}

.subtitle {
    font-size: 24px;
    font-weight: 600;
    color: $purple-1;
}

svg {
    display: block;
    transition: .3s ease-in-out;
}

.icon {
    fill: currentColor;
    height: auto;
    width: auto;

    & svg {
        height: 100%;
        width: 100%;
    }
}

.icon,
svg {
    height: 100%;
    width: 100%;
}

p {
    margin: 16px 0 0;
    line-height: 1.5;
}

ul,
ol {
    padding: 0;
    margin: 0;
}

input,
textarea {
    outline: none;
}

.swiper-pagination-bullet {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination {
    display: flex;
}

textarea {
    resize: none;
}