@import "../../local_modules/normalize.css/normalize";
@import "../../local_modules/swiper/swiper-bundle.min";
@import "../utils/color.scss";
@import "../utils/fonts.scss";
@import "../utils/variables.scss";

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --wScroll: 0px;
    overflow-y: scroll;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100vh;
    margin: 0;
    font-family: 'MyriadPro', Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: $basic;

    @media (max-width: 1024px) {
        line-height: 1.65;
    }

    @media (max-width: 620px) {
        line-height: 1.7;
    }
}

html {
    padding: 0 calc(var(--wScroll) - (100vw - 100%)) 0 0;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: $basic;
    transition: .3s ease-in-out;
}

button {
    font-family: 'MyriadPro', Arial, sans-serif;
    padding: 0;
    border-style: solid;
}

.container {
    padding: 0 40px;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;

    @media (max-width: 1024px) {
        padding: 0 20px;
    }

    &--full {
        max-width: 1920px;
    }
}

.title-1 {
    font-weight: 600;
    font-size: 45px;
    line-height: 1.12;

    @media (max-width: 1024px) {
        font-size: 40px;
        line-height: 1.3;
    }

    @media (max-width: 620px) {
        font-size: 30px;
    }

    &--hidden {
        display: none;

        @media (max-width: 1024px) {
            display: block;
        }
    }
}

.title-2 {
    font-weight: 600;
    font-size: 40px;
    line-height: 1.02;

    @media (max-width: 1024px) {
        font-size: 35px;
        line-height: 1.3;
    }

    @media (max-width: 620px) {
        font-size: 25px;
        line-height: 1.35;
    }
}

.title-3 {
    font-weight: 600;
    font-size: 35px;
    line-height: 1.02;

    @media (max-width: 1024px) {
        font-size: 30px;
        line-height: 1.3;
    }

    @media (max-width: 620px) {
        font-size: 23px;
        line-height: 1.35;
    }
}

.title-4 {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.35;

    @media (max-width: 1024px) {
        font-size: 22px;
        line-height: 1.55;
    }

    @media (max-width: 620px) {
        font-size: 18px;
    }
}

.subtitle {
    font-size: 24px;
    font-weight: 600;
    color: $purple-1;

    @media(max-width: 1024px) {
        font-size: 22px;
        line-height: 1;
    }

    @media(max-width: 620px) {
        font-size: 18px;
    }
}

svg {
    display: block;
    transition: .3s ease-in-out;
}

.icon {
    fill: currentColor;
    height: auto;
    width: auto;

    & svg {
        height: 100%;
        width: 100%;
    }
}

.icon,
svg {
    height: 100%;
    width: 100%;
}

p {
    margin: 16px 0 0;

    @media (max-width: 1024px) {
        margin: 11px 0 0;
    }
}

ul,
ol {
    padding: 0;
    margin: 0;
}

input,
textarea {
    outline: none;
}

.swiper-pagination-bullet {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination {
    display: flex;
}

textarea {
    resize: none;
}

.back {
    font-size: 14px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input,
textarea {
    font-size: 16px;
    font-family: 'MyriadPro', Arial, sans-serif;
    color: $basic;

    &::placeholder {
        font-family: 'MyriadPro', Arial, sans-serif;
        font-weight: 400;
        color: $gray-2;
    }
}

.main {
    flex: 1 0 auto;

    &--lk {
        &+.footer {
            @media(max-width: 1024px) {
                padding-bottom: 65px;
            }
        }

        @media(max-width: 1024px) {
            margin-bottom: -70px;
        }

        @media(max-width: 620px) {
            margin-bottom: -50px;
        }

        .breadcrumb {
            margin-top: 0;

            @media(max-width: 620px) {
                margin-bottom: 12px;
            }
        }
    }

    &--special {
        margin-bottom: initial;
    }


}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0;
    /* <-- Apparently some margin are still there even though it's hidden */
}

input[type='number'] {
    -moz-appearance: textfield;
}

input[type="search"]::-webkit-search-cancel-button {
    display: none
}

/* Reset HTML5 Search Input in Webkit */
input[type=text]::-webkit-text-cancel-button,
input[type=text]::-webkit-text-decoration,
input[type=text]::-webkit-text-results-button,
input[type=text]::-webkit-text-results-decoration {
    -webkit-appearance: none;
}

input[type=text] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
}

input[type=text],
input[type=tel],
input[type=email],
textarea {
    -webkit-appearance: none;
}

::-webkit-search-cancel-button {
    -webkit-appearance: none;
}