.modal {
  display: flex;
  position: fixed;
  z-index: 1000;
  overflow-x: hidden;
  overflow-y: auto;
  opacity: 0;
  visibility: hidden;
  left: 50%;
  top: 50%;
  max-height: 84vh;

  &.open {
    display: block;
  }

  &--success {

    .modal {
      &__content {
        max-width: 414px;
        width: 100vw;
        text-align: center;
        padding: 61px 77px 84px;

        @media(max-width: 1024px) {
          padding: 57px 67px 77px;
          max-width: 394px;
        }

        @media(max-width: 620px) {
          max-width: 335px;
          padding: 43px 30px 61px;
        }

        .link {
          margin-top: 60px;

          @media(max-width: 1024px) {
            margin-top: 45px;
          }

          @media(max-width: 620px) {
            margin-top: 38px;
          }
        }
      }

      &__img {
        @media(max-width: 1024px) {
          width: 91px;
          height: 91px;
        }

        @media(max-width:620px) {
          width: 82px;
          height: 82px;
        }
      }
    }
  }

  &--order {
    .modal {

      &__grid {
        margin-top: 25px;

        @media(max-width: 1024px) {
          margin-top: 28px;
        }

        @media(max-width: 620px) {
          margin-top: 15px;
        }
      }

      &__title {
        text-align: center;
      }

      &__subtitle {
        text-align: center;
        font-size: 24px;
        font-weight: 600;
        margin-top: 16px;

        @media(max-width: 1024px) {
          font-size: 22px;
        }

        @media(max-width: 620px) {
          font-size: 18px;
          margin-top: 12px;
        }
      }

      &__row {

        &:not(:first-child) {
          margin-top: 20px;

          @media(max-width: 1024px) {
            margin-top: 18px;
          }

          @media(max-width: 620px) {
            margin-top: 14px;
          }
        }

        span {
          font-weight: 600;
          margin-right: 3px;
        }
      }

      &__col {

        &--caption {
          font-weight: 600;
        }
      }

      &__content {
        max-width: 555px;
        margin: auto;
        padding: 54px 67px 61px;
        background: url(../img/decor/bg-modal-order.svg) #fff no-repeat 100% center;
        background-size: auto;

        @media(max-width: 1024px) {
          padding: 48px 60px 53px;
        }

        @media(max-width: 620px) {
          max-width: 335px;
          padding: 34px 20px 38px;
          background: url(../img/decor/bg-modal-order.svg) #fff no-repeat -72% center;
        }
      }
    }
  }

  &__content {
    position: relative;
    width: 100vw;
    background: #fff;
    margin: auto;
    padding: 65px 77px 77px;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.08);

    @media (max-width: 620px) {
      padding: 40px 25px;
    }
  }

  &__close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;

    @media(max-width: 620px) {
      width: 26px;
      height: 26px;
    }

    &:hover {

      svg {
        fill: $purple-1;
      }
    }

    svg {
      fill: $gray-1;
    }
  }

  &__img {
    width: 105px;
    height: 105px;
    margin: 0 auto 20px;

    svg {
      fill: $purple-1;
    }
  }

  &--delivery {
    max-width: 776px;
    width: 100%;
    height: 84vh;

    @media(max-width: 1024px) {
      max-width: 648px;
    }

    @media(max-width: 620px) {
      max-width: 335px;
    }

    .modal {
      &__title {
        text-align: center;
      }

      &__content {
        padding: 48px 66px 63px;

        @media(max-width: 1024px) {
          padding: 54px 66px 65px;
        }

        @media(max-width: 620px) {
          padding: 31px 20px 35px;
        }
      }
    }
  }

  &--auth {
    max-height: initial;
    border-color: white;

    .modal {

      &__close {
        position: relative;
        width: 18px;
        height: 18px;
        top: auto;
        left: auto;
        right: 5px;
        bottom: 2px;
        transition: .3s ease-in-out;

        &:hover {
          transform: rotate(90deg);
        }

        &:after,
        &:before {
          position: absolute;
          content: '';
          height: 100%;
          width: 2px;
          background-color: black;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          margin: auto;
          transition: .25s ease-in-out;
        }

        &:after {
          transform: rotate(-45deg);
        }

        &:before {
          transform: rotate(45deg);
        }

        &:hover:after,
        &:hover:before {
          background-color: $purple-1;
        }
      }

      &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      &__bottom {
        margin-top: 14px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .link {
          color: $purple-1;
        }
      }

      &__content {
        width: 100vw;
        height: 100vh;
        padding: 35px 20px 16px;
      }

      &__title {
        font-size: 30px;
        font-weight: 600;
      }

      &__note {
        font-size: 14px;
        margin-top: 13px;
        line-height: 1.5;
        color: $gray-2;
      }

      &__form {
        margin-top: 13px;

        .form-group {
          margin-top: 0;

          &:not(:first-child) {
            margin-top: 20px;
          }
        }

        .btn {
          margin-top: 18px;
          width: 100%;
        }
      }
    }
  }

  &--auth_reg {
    .modal {
      &__bottom {
        margin-top: 16px;
      }

      &__note {
        .link {
          color: $gray-2;
          position: relative;

          &:after {
            position: absolute;
            content: "";
            width: 100%;
            height: 1px;
            background-color: transparent;
            left: 0;
            right: 0;
            bottom: 4px;
            margin: auto;
            transition: .3s ease-in-out;
          }

          &:hover {
            &:after {
              background-color: $gray-2;
            }
          }
        }
      }
    }
  }

  &--auth_res {
    .modal {
      &__title {
        max-width: 190px;
        width: 100%;
        line-height: 1.3;
      }

      &__header {
        align-items: baseline;
      }

      &__note {
        font-size: 16px;
        margin-top: 13px;
        line-height: 1.7;
        color: $basic;


      }

      &__form {
        margin-top: 19px;
      }
    }
  }

  &--auth_enter {

    .modal {

      &__bottom {
        margin-top: 16px;
      }
    }
  }

  &--resume {

    .modal {

      &__content {
        max-width: 580px;

        @media(max-width: 1024px) {
          padding: 58px 77px 77px;
        }

        @media(max-width: 620px) {
          max-width: 335px;
          padding: 32px 20px 33px;
        }


        .form-group {
          margin-top: 0;

          &:not(:first-child) {
            margin-top: 25px;

            @media(max-width: 620px) {
              margin-top: 20px;
            }
          }

          textarea {
            height: 141px;
          }
        }

        .form {
          margin-top: 37px;

          @media(max-width: 620px) {
            margin-top: 20px;
          }

          .btn {
            @media(max-width: 620px) {
              margin-top: 28px;
            }
          }
        }

        .title-2,
        p {
          text-align: center;
        }

        .file__label {
          @media(max-width: 620px) {
            font-size: 14px;
            margin-left: -1px;
            margin-top: 3px;
          }
        }

        .file {
          .icon {
            @media(max-width: 620px) {
              transform: translateX(-4px);
            }
          }
        }
      }
    }

    .form {
      flex-direction: column;
    }

    .btn {
      width: 100%;
    }
  }
}