.modal-delivery {
    margin-top: 28px;

    @media(max-width: 1024px) {
        margin-top: 30px;
    }

    @media(max-width: 620px) {
        margin-top: 21px;
    }

    &__btn {
        padding: 19px 26px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-color: $gray-1;
        color: $gray-1;

        &:hover {
            border-color: $purple-1;
            color: $purple-1;
        }

        &.active {
            color: white;
            background-color: $purple-1;
            border-color: $purple-1;
            pointer-events: none;
        }
    }

    &__ic {
        display: flex;
        width: 21px;
        height: 21px;
    }

    &__box {
        margin-top: 25px;

        @media(max-width: 620px) {
            margin-top: 20px;
        }

        .btn {
            width: 100%;
        }

        label {
            @media(max-width: 620px) {
                line-height: 20px;
            }
        }

        &.disable {
            .modal-delivery {

                &__subtitle,
                &__title,
                &__cost {
                    color: $gray-2;
                }


            }

            .lk-radio+label {
                color: $gray-2;
            }

            .lk-radio+label::before {
                border-color: $gray-2;
                background-color: white;
            }

            .select2-container--default .select2-selection--single .select2-selection__rendered {
                color: $gray-2;
            }
        }
    }

    &__panel {
        padding: 26px;
        padding: 21px 26px;
        border: 1px solid $gray-1;
        border-top: none;

        @media(max-width: 620px) {
            padding: 18px 19px;
        }

        &+.btn {
            margin-top: 30px;
            text-align: center;

            @media(max-width: 1024px) {
                margin-top: 23px;
            }
        }
    }

    &__subtitle {
        margin-bottom: 17px;
    }

    &__cover {
        display: flex;
        align-items: center;
        margin-top: 14px;

        @media(max-width: 620px) {
            flex-direction: column;
            align-items: flex-start;
            margin-top: 6px;
        }
    }

    &__bloc {
        margin-top: 23px;

        @media(max-width: 1024px) {
            margin-top: 20px;
        }

        @media(max-width: 620px) {
            margin-top: 14px;
        }
    }

    &__unit {
        &:not(:last-child) {
            margin-right: 30px;

            @media(max-width: 620px) {
                margin-right: 0;
            }
        }

        &:not(:first-child) {
            @media(max-width: 620px) {
                margin-top: 4px;
            }
        }
    }

    &__cost {
        font-size: 18px;
        font-weight: 600;
        margin-top: 10px;

        @media(max-width: 620px) {
            margin-top: 5px;
        }

        .num {
            margin-right: 6px;
        }
    }

    .select2-dropdown {
        z-index: 2000;
    }
}