.pagination-filter {
    display: flex;
    align-items: center;


    &__box {
        display: flex;
    }

    &__items {
        display: flex;
        align-items: center;
    }

    .pagination {
        margin-top: 0;
    }
}