.search-input {
    position: relative;
    width: 508px;
    margin-left: auto;
    flex-shrink: 0;
    margin: 0 auto;
    margin-top: 50px;

    &:hover input {
        border-color: $basic;
    }

    &__field {
        position: relative;
        width: 100%;
        height: 65px;
    }

    input {
        width: 100%;
        padding-left: 26px;
        background-color: white;
        border: 1px solid $gray-1;
        left: 0;
        padding-right: 69px;
        position: absolute;
        height: 100%;
        transition: .2s ease-out;
        cursor: pointer;
        font-size: 16px;



        &:active {
            border-color: $basic;
        }

        &:focus {
            border-color: $basic;
        }

        &::placeholder {
            color: $gray-2;
        }
    }

    button {
        background: 0 0;
        top: 0;
        right: 0;
        width: 71px;
        position: absolute;
        height: 100%;
        transition: .2s ease-out;
        cursor: pointer;
        padding: 0;
        border: 0;

        .icon {
            display: -webkit-box;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 1;
            position: absolute;
            top: 5px;
            bottom: 0;
            margin: auto;
            left: 4px;
            right: 0;
            transition: .2s ease-out;
            pointer-events: none;
            width: 25px;
            fill: $basic;
        }
    }
}