.slider {
    opacity: 0;
    transition: .4s ease;

    &--partner {
        overflow: hidden;
        box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.08);
        margin-top: 36px;

        .swiper-slide {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 274px;

            &:not(:last-child) {
                &:after {
                    position: absolute;
                    content: "";
                    width: 3px;
                    background: $gray-1;
                    opacity: 0.6;
                    height: 100%;
                    right: -3px;
                }
            }

            img {
                transform: translateY(-10px);
            }
        }

        .swiper-pagination-bullet {
            width: 10px;
            height: 10px;
            border-radius: 0;
            transition: .3s ease-in-out;
            background-color: $gray-1;
            opacity: 1;

            &:not(:last-child) {
                margin-right: 25px;
            }

            &:hover {
                background-color: $purple-1;
            }
        }

        .swiper-pagination-bullet-active {
            background-color: $purple-1;
        }

        .arrow {
            position: absolute;
            margin-top: 35px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            bottom: 0;

            &__cover {
                display: flex;
            }

            &__link {
                width: 83px;
                height: 83px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;

                &--next {
                    transform: scale(-1, 1);
                }

                svg {
                    fill: $purple-1;
                }
            }
        }
    }

    .arrow {
        &__link {
            width: 83px;
            height: 83px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            transition: .3s ease-in-out;
            border: 2px solid transparent;

            &--next {
                transform: scale(-1, 1);
            }

            path {
                fill: $purple-1;
                transition: .3s ease-in-out;
            }

            &:hover {
                border-color: $red-1;

                & path {
                    fill: $red-1;
                }
            }

            &:active {
                background-color: $red-1;

                & path {
                    fill: white;
                }
            }

            &.swiper-button-disabled {
                cursor: auto;
                pointer-events: none;

                svg * {
                    fill: $gray-1;
                }
            }
        }

        &--box {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 40px;

            @media (max-width: 1024px) {
                margin-top: 30px;
            }

            @media (max-width: 620px) {
                margin-top: 20px;
            }

            .arrow {
                &__link {
                    width: 41px;
                    height: 41px;
                }
            }
        }

        svg {
            width: 33px;
            height: 19px;
        }
    }

    &--product {

        .arrow {

            svg {
                width: 16px;
                height: 8px;
                fill: $purple-1;
            }

            &__link {

                @media (max-width: 1024px) {
                    display: none;
                }

                &:hover {

                    svg {
                        fill: $red-1;
                    }
                }

                &:active {

                    svg {
                        fill: #fff;
                    }
                }
            }
        }
    }
}