.slider {
    opacity: 0;
    transition: .4s ease;

    &--partner {
        overflow: hidden;
        box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.08);
        margin-top: 36px;

        .slider {
            &__box {
                overflow: hidden;
            }

            &__wrapper {
                box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.08);
            }
        }

        .swiper-slide {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 274px;

            &:not(:last-child) {
                &:after {
                    position: absolute;
                    content: "";
                    width: 3px;
                    background: $gray-1;
                    opacity: 0.6;
                    height: 100%;
                    right: -3px;
                }
            }

            img {
                transform: translateY(-10px);
            }
        }

        .swiper-pagination-bullet {
            width: 10px;
            height: 10px;
            display: inline-block;
            border-radius: 0;
            transition: .3s ease-in-out;
            background-color: $gray-1;
            opacity: 1;

            &:not(:last-child) {
                margin-right: 25px;
            }

            &:hover {
                background-color: $purple-1;
            }
        }

        .swiper-pagination-bullet-active {
            background-color: $purple-1;
        }

        .arrow {
            position: absolute;
            margin-top: 35px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            bottom: 0;

            &__cover {
                display: flex;
            }

            &__link {
                width: 83px;
                height: 83px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;

                &--next {
                    transform: scale(-1, 1);
                }

                svg {
                    fill: $purple-1;
                }
            }
        }
    }

    .arrow {
        &__link {
            width: 83px;
            height: 83px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            transition: .3s ease-in-out;
            border: 2px solid transparent;

            &--next {
                transform: scale(-1, 1);
            }

            path {
                fill: $purple-1;
                transition: .3s ease-in-out;
            }

            &:hover {
                border-color: $red-1;

                & path {
                    fill: $red-1;
                }
            }

            &:active {
                background-color: $red-1;

                & path {
                    fill: white;
                }
            }
        }
    }
}