.slider {
    opacity: 0;
    transition: .4s ease;

    &--partner {
        overflow: hidden;
        box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.08);
        margin-top: 36px;

        @media(max-width: 620px) {
            margin-top: 26px;
        }

        .swiper-slide {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 274px;

            @media(max-width: 620px) {
                min-height: 185px;
            }

            &:not(:last-child) {
                &:after {
                    position: absolute;
                    content: "";
                    width: 3px;
                    background: $gray-1;
                    opacity: 0.6;
                    height: 100%;
                    right: -3px;
                }
            }

            img {
                transform: translateY(-10px);

                @media(max-width: 620px) {
                    max-width: 41%;
                    height: auto;
                }
            }
        }

        .swiper-pagination-bullet {
            width: 10px;
            height: 10px;
            border-radius: 0;
            transition: .3s ease-in-out;
            background-color: $gray-1;
            opacity: 1;

            @media(max-width: 620px) {
                width: 6px;
                height: 6px;
            }

            &:not(:last-child) {
                margin-right: 25px;

                @media(max-width: 620px) {
                    margin-right: 20px;
                }
            }

            &:hover {
                background-color: $purple-1;
            }
        }

        .swiper-pagination-bullet-active {
            background-color: $purple-1;
        }

        .arrow {
            position: absolute;
            margin-top: 35px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            bottom: 0;

            @media(max-width: 1024px) {
                justify-content: center;
            }

            &__cover {
                display: flex;

                @media(max-width: 1024px) {
                    display: none;
                }
            }

            &__link {
                width: 83px;
                height: 83px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;

                &--next {
                    transform: scale(-1, 1);
                }

                svg {
                    fill: $purple-1;
                }
            }
        }
    }

    .arrow {
        &__link {
            width: 83px;
            height: 83px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            transition: .3s ease-in-out;
            border: 2px solid transparent;

            @media(max-width: 620px) {
                width: 65px;
                height: 65px;
            }

            &--next {
                transform: scale(-1, 1);
            }

            path {
                fill: $purple-1;
                transition: .3s ease-in-out;
            }

            &:hover {
                border-color: $red-1;

                & path {
                    fill: $red-1;
                }
            }

            &:active {
                background-color: $red-1;

                & path {
                    fill: white;
                }
            }

            &.swiper-button-disabled {
                cursor: auto;
                pointer-events: none;

                svg * {
                    fill: $gray-1;
                }
            }
        }

        &--box {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 40px;

            @media (max-width: 1024px) {
                margin-top: 30px;
            }

            @media (max-width: 620px) {
                margin-top: 20px;
            }

            .arrow {
                &__link {
                    width: 41px;
                    height: 41px;
                }
            }
        }

        &__cover {
            @media(max-width: 620px) {
                margin-top: 25px;
            }
        }

        svg {
            width: 33px;
            height: 19px;

            @media(max-width: 620px) {
                width: 28px;
                height: auto;
            }
        }
    }

    &--product {

        .arrow {

            &--box {
                margin-bottom: 40px;

                @media (max-width: 1024px) {
                    margin-top: 46px;
                }

                @media (max-width: 620px) {
                    margin-top: 37px;
                }
            }

            svg {
                width: 16px;
                height: 8px;
                fill: $purple-1;
            }

            &__link {

                @media (max-width: 1024px) {
                    display: none;
                }

                &:hover {

                    svg {
                        fill: $red-1;
                    }
                }

                &:active {

                    svg {
                        fill: #fff;
                    }
                }
            }
        }

        .swiper-pagination--num {

            .swiper-pagination-bullet {

                &:not(:last-child) {

                    @media(max-width: 1024px) {
                        margin-right: 35px;
                    }
                }
            }
        }
    }
}