.tab {
    display: flex;
    align-items: center;
    margin: 28px 0;


    @media(max-width: 1024px) {
        overflow-x: scroll;
        margin: 24px 0;
    }

    @media(max-width: 620px) {
        margin: 21px 0;
    }

    &__item {
        font-size: 14px;
        font-weight: 600;
        padding: 7px 14px;
        border: 1px solid $purple-1;
        box-sizing: border-box;
        color: $purple-1;
        transition: .3s ease-in-out;
        cursor: pointer;
        white-space: nowrap;

        @media(max-width: 1024px) {
            padding: 6px 14px;
        }

        &:hover {
            background-color: $purple-1;
            color: white;
        }

        &:not(:last-child) {
            margin-right: 17px;

            @media(max-width: 1024px) {
                margin-right: 14px;
            }
        }

        &.active {
            background-color: $purple-1;
            color: white;
        }
    }

    &--year {
        margin: 19px 0 32px;

        @media(max-width: 1024px) {
            margin: 25px 0 30px;
        }

        @media(max-width: 640px) {
            margin: 25px 0 22px;
        }

        @media(max-width: 620px) {
            margin: 19px 0 22px;
        }

        .tab {
            &__item {
                padding: 7px 7px;
                min-width: 57px;
                display: flex;
                align-items: center;
                justify-content: center;
                line-height: 14px;
                background-color: $gray-3;
                border: none;
                color: $basic;
                font-weight: 400;
                height: 25px;

                &:not(:last-child) {
                    margin-right: 10px;
                }

                &:hover {
                    background-color: $purple-1;
                    color: white;
                }

                &.active {
                    background-color: $purple-1;
                    color: white;
                    padding: 7px 7px;
                }
            }
        }
    }
}