.tab {
    display: flex;
    align-items: center;
    margin: 28px 0;

    &__item {
        font-size: 14px;
        font-weight: 600;
        padding: 7px 14px;
        border: 1px solid $purple-1;
        box-sizing: border-box;
        color: $purple-1;
        transition: .3s ease-in-out;
        cursor: pointer;

        &:hover {
            background-color: $purple-1;
            color: white;
        }

        &:not(:last-child) {
            margin-right: 17px;
        }

        &.active {
            background-color: $purple-1;
            color: white;
        }
    }
}