table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;

  tr {

    &:not(:first-of-type) {

      &:hover {

        td {
          background: rgba(183, 221, 250, 0.2);
        }
      }
    }

    &:first-of-type {

      td {
        padding: 29px 15px;
        background: $purple-1;
        font-weight: 600;
        color: #fff;

        @media (max-width: 1024px) {
          padding: 25px 15px 22px;
        }
      }
    }

    td {
      padding: 11px 15px;
      border: 1px solid $gray-1;
      text-align: center;
      transition: 0.2s;

      @media (max-width: 1024px) {
        padding: 7px 15px 8px;
        font-size: 14px;
        line-height: 1.75;
      }
    }
  }
}