.tabs {
  margin-top: 30px;

  @media (max-width: 1024px) {
    margin-top: 28px;
  }

  @media (max-width: 620px) {
    margin-top: 25px;
  }

  &__list {
    display: flex;
    list-style: none;
    border-bottom: 2px solid rgba(217, 217, 217, 0.35);

    @media (max-width: 1024px) {
      overflow-x: auto;
      overflow-y: hidden;
    }
  }

  &__item {
    white-space: nowrap;

    &:not(:last-of-type) {
      margin-right: 35px;

      @media (max-width: 1024px) {
        margin-right: 25px;
      }

      @media (max-width: 620px) {
        margin-right: 20px;
      }
    }
  }

  &__link {
    position: relative;
    display: block;
    padding-bottom: 12px;
    font-weight: 600;
    font-size: 24px;
    color: $gray-2;

    @media (max-width: 1024px) {
      padding-bottom: 18px;
      font-size: 20px;
      line-height: 1.55;
    }

    @media (max-width: 620px) {
      padding-bottom: 11px;
      font-size: 18px;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: -2px;
      left: 0;
      width: 100%;
      height: 2px;
      background: transparent;

      @media (max-width: 1024px) {
        bottom: 0;
      }
    }

    &:hover {
      color: $basic;
    }

    &.active {
      color: $basic;

      &::after {
        background: $purple-1;
      }
    }
  }

  &-content {

    &__body {
      display: none;

      &.active {
        display: block;
      }
    }
  }
}