.tooltip {
  position: relative;
  display: inline-block;
  margin-left: 5px;

  &--requ {
    .icon {
      fill: $green-1;
    }

    .tooltip__content {
      box-sizing: border-box;
      position: absolute;
      left: 50%;
      top: -25px;
      margin-left: -133px;
      width: calc(266px - -6px);
      transition: .25s ease-in-out;
      font-size: 14px;

      &:before {
        right: 0;
        left: 0;
        bottom: -7px;
        top: auto;
        margin: auto;
        background-color: white;
      }
    }
  }

  &--finish {
    font-size: 14px;
    font-weight: 400;

    .tooltip__content {
      min-width: 254px;
      font-size: 14px;
      line-height: 1.5;
      text-align: left;

      span {
        font-weight: 600;
      }
    }
  }

  &--contract {
    .icon {
      fill: $red-1;
    }

    .tooltip__content {
      box-sizing: border-box;
      position: absolute;
      left: 50%;
      top: -30px;
      margin-left: -133px;
      width: calc(266px - -6px);
      transition: .25s ease-in-out;
      font-size: 14px;

      &:before {
        right: 0;
        left: 0;
        bottom: -7px;
        top: auto;
        margin: auto;
        background-color: white;
      }
    }
  }

  &--steps {
    .tooltip {
      &__content {
        min-width: 308px;
        width: 100%;
        padding: 20px 19px;
        left: 50%;
        top: 1775%;
        margin-left: -150px;

        @media(max-width: 1024px) {
          min-width: 355px;
          margin-left: -28px;
          top: 1851%;
          padding: 23px 19px;
        }

        @media(max-width: 640px) {
          margin-left: -347px;
          top: 280px;
          transform: translateY(-50%);
        }

        @media(max-width: 620px) {
          margin-left: -325px;
        }

        @media(max-width: 400px) {
          margin-left: -92vw;
          min-width: 100vw;
        }

        &:before {
          top: 0;
          left: 0;
          right: 0;
          margin: auto;
          background-color: white;

          @media(max-width: 1024px) {
            left: 27px;
            right: auto;
          }

          @media(max-width: 640px) {
            left: auto;
            right: 0;
          }

          @media(max-width: 620px) {
            right: 22px;
          }
        }
      }

      &__col {

        &:first-child {
          display: flex;
          flex-direction: column;
          flex: 1;


          &.active {
            i {
              background-color: $purple-1;
            }
          }
        }

        &:last-child {
          padding-bottom: 13px;
        }
      }

      &__ic {
        width: 20px;
        height: 20px;

        .icon {
          fill: $purple-1;
        }

        &--basic {
          .icon {
            fill: $gray-1;
          }
        }
      }

      &__row {
        display: grid;
        grid-template-columns: 20px 1fr;
        grid-column-gap: 8px;

        &:last-child,
        &:first-child {
          i {
            display: none;
          }
        }
      }

      &__caption {
        font-weight: 600;
        line-height: 1;
        font-size: 16px;
        padding-top: 3px;

        @media(max-width: 1024px) {
          font-size: 14px;
          padding-top: 4px;
        }
      }

      &__info {
        color: $gray-2;
        margin-top: 3px;
        line-height: 1.3;

        @media(max-width: 1024px) {
          margin-top: 6px;
          max-width: 260px;
        }
      }
    }

    i {
      width: 2px;
      flex: 1;
      background-color: $gray-5;
      align-self: center;
    }
  }

  &--delivery {
    .icon {
      fill: $green-1;
    }

    .tooltip__content {
      box-sizing: border-box;
      position: absolute;
      left: 50%;
      top: -25px;
      transition: .25s ease-in-out;
      font-size: 14px;
      margin-left: -139px;
      width: calc(278px - -5px);

      @media(max-width: 1024px) {
        margin-left: -46px;
        top: -31px;
        width: 278px;
      }

      @media(max-width: 620px) {
        margin-left: -95px;
        top: -52px;
      }

      &:before {
        right: 0;
        left: 0;
        bottom: -7px;
        top: auto;
        margin: auto;
        background-color: white;

        @media(max-width: 1024px) {
          right: auto;
          left: 45px;
        }

        @media(max-width: 620px) {
          right: 38px;
          left: auto;
        }
      }
    }
  }

  &--self {
    .icon {
      fill: $red-1;
    }

    .tooltip__icon {
      @media(max-width: 620px) {
        transform: translateY(-2px);
      }
    }

    .tooltip__content {
      top: -50px;
      transition: .25s ease-in-out;
      font-size: 14px;
      margin-left: -154px;
      width: calc(308px - -6px);
      left: 50%;

      @media(max-width: 1024px) {
        top: -57px;
        margin-left: -44px;
        width: calc(308px - 0px);
        text-align: center;
      }

      @media(max-width: 620px) {
        top: -97px;
        margin-left: 45px;
        line-height: 1.5;
      }

      &:before {
        right: 0;
        left: 0;
        bottom: -7px;
        top: auto;
        margin: auto;
        background-color: white;

        @media(max-width: 1024px) {
          right: auto;
          left: 43px;
        }

        @media(max-width: 620px) {
          right: auto;
          left: 108px;
        }
      }
    }
  }

  &:hover,
  &:focus,
  &.open {

    .tooltip__content {
      display: block;
    }
  }

  &.close {

    .tooltip__content {
      display: none;
    }
  }

  &__icon {
    width: 16px;
    height: 16px;
    background: #fff;
    border-radius: 100%;

    svg {
      fill: $purple-1;
    }
  }

  &__content {
    display: none;
    position: absolute;
    top: 50%;
    left: calc(100% + 10px);
    width: 255px;
    padding: 10px 15px;
    transform: translateY(-50%);
    background: #fff;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.12);
    font-weight: 400;
    z-index: 100;

    @media (max-width: 620px) {
      top: calc(100% + 10px);
      left: 50%;
      transform: translateX(-50%) translateY(0);
    }

    &:before {
      content: "";
      width: 7px;
      height: 7px;
      position: absolute;
      top: 50%;
      left: 0;
      background-color: #fff;
      transform: translateY(-50%) translateX(-50%) rotate(45deg);

      @media (max-width: 620px) {
        top: 0;
        left: 50%;
      }
    }

    b {
      font-weight: 600;
    }
  }
}