extends common/layout

block content
    main.main
        .catalog 
            .catalog__container.container
                include common/breadcrumb
                h1.title-1 Каталог
                p Вот вам яркий пример современных тенденций - курс на социально-ориентированный национальный проект обеспечивает актуальность форм воздействия.
                include includes/catalog/catalog-grid
