extends common/layout

block content
    main.main
        .catalog-goods
            .catalog-goods__container.container
                include common/breadcrumb
                .dropdown.dropdown--catalog-goods
                    .dropdown-label
                        .dropdown-label__txt Ручной инструмент
                    .dropdown-menu 
                        ul.submenu
                            li.active  
                                a(href="javascript:void(0);") Ручной инструмент
                            li  
                                a(href="javascript:void(0);") Пневматический упаковочный инструмент
                            li  
                                a(href="javascript:void(0);") Комбинированный инструмент
                            li  
                                a(href="javascript:void(0);") Аккумуляторный инструмент
                .tab 
                    a.tab__item(href="javascript:void(0);") Все
                    a.tab__item.active(href="javascript:void(0);") Натяжитель ленты
                    a.tab__item(href="javascript:void(0);") Замковой ручной инструмент
                    a.tab__item(href="javascript:void(0);") Замковой инструмент для тяжелых грузов
                    a.tab__item(href="javascript:void(0);") Ножницы для резки
                .aside.aside--reverse
                    .aside__sidebar
                        form.filter
                            .filter__box
                                .filter__bloc
                                    .filter__title Наличие
                                    .filter__group 
                                        label.checkbox(for="ch1")
                                            input#ch1.checkbox__input(type="checkbox" name="check" value="ch1")
                                            .checkbox__label Сейчас в наличии
                                        label.checkbox(for="ch2")
                                            input#ch2.checkbox__input(type="checkbox" name="check" value="ch2")
                                            .checkbox__label Неликвид
                                        label.checkbox(for="ch3")
                                            input#ch3.checkbox__input(type="checkbox" name="check" value="ch3")
                                            .checkbox__label Спецпредложения
                                        label.checkbox(for="ch4")
                                            input#ch4.checkbox__input(type="checkbox" name="check" value="ch4")
                                            .checkbox__label Товары второго сорта
                                .filter__bloc
                                    .filter__title Тип ленты
                                    .filter__group 
                                        label.checkbox(for="ch5")
                                            input#ch5.checkbox__input(type="checkbox" name="check" value="ch5")
                                            .checkbox__label Стандарт (UMC)
                                        label.checkbox(for="ch6")
                                            input#ch6.checkbox__input(type="checkbox" name="check" value="ch6")
                                            .checkbox__label Патентированная (UMC HE)
                                        label.checkbox(for="ch7")
                                            input#ch7.checkbox__input(type="checkbox" name="check" value="ch7")
                                            .checkbox__label Патентированная особопрочная(UMC USLМ)
                                .filter__bloc
                                    .filter__title ГОСТ (Виды и марки)
                                    .filter__group 
                                        label.checkbox(for="ch8")
                                            input#ch8.checkbox__input(type="checkbox" name="check" value="ch8")
                                            .checkbox__label ГОСТ 380-2005
                                        label.checkbox(for="ch9")
                                            input#ch9.checkbox__input(type="checkbox" name="check" value="ch9")
                                            .checkbox__label ГОСТ 1050-2013
                                        label.checkbox(for="ch10")
                                            input#ch10.checkbox__input(type="checkbox" name="check" value="ch10")
                                            .checkbox__label ГОСТ 14637-89
                                .filter__bloc
                                    .filter__title ГОСТ Отделка поверхности
                                    .filter__group 
                                        label.checkbox(for="ch11")
                                            input#ch11.checkbox__input(type="checkbox" name="check" value="ch11")
                                            .checkbox__label Без отделки поверхности (С)
                                        label.checkbox(for="ch12")
                                            input#ch12.checkbox__input(type="checkbox" name="check" value="ch12")
                                            .checkbox__label С обработкой (О)
                                        label.checkbox(for="ch13")
                                            input#ch13.checkbox__input(type="checkbox" name="check" value="ch13")
                                            .checkbox__label Окрашенная (К)
                                        label.checkbox(for="ch14")
                                            input#ch14.checkbox__input(type="checkbox" name="check" value="ch14")
                                            .checkbox__label С защитным восковымпокрытием (В)
                                        label.checkbox(for="ch15")
                                            input#ch15.checkbox__input(type="checkbox" name="check" value="ch15")
                                            .checkbox__label С нанесением логотипаи надписи (Л)
                                .filter__bloc
                                    .filter__title Толщина ленты, мм
                                    .filter__group 
                                        label.checkbox(for="ch16")
                                            input#ch16.checkbox__input(type="checkbox" name="check" value="ch16")
                                            .checkbox__label 0,4
                                        label.checkbox(for="ch17")
                                            input#ch17.checkbox__input(type="checkbox" name="check" value="ch17")
                                            .checkbox__label 0,5
                                        label.checkbox(for="ch18")
                                            input#ch18.checkbox__input(type="checkbox" name="check" value="ch18")
                                            .checkbox__label 0,6
                                        label.checkbox(for="ch19")
                                            input#ch19.checkbox__input(type="checkbox" name="check" value="ch19")
                                            .checkbox__label 0,7
                                .filter__bloc
                                    .filter__title Ширина ленты, мм
                                    .filter__group 
                                        label.checkbox(for="ch20")
                                            input#ch20.checkbox__input(type="checkbox" name="check" value="ch20")
                                            .checkbox__label 9,5
                                        label.checkbox(for="ch21")
                                            input#ch21.checkbox__input(type="checkbox" name="check" value="ch21")
                                            .checkbox__label 12,7
                                        label.checkbox(for="ch22")
                                            input#ch22.checkbox__input(type="checkbox" name="check" value="ch22")
                                            .checkbox__label 16
                                        label.checkbox(for="ch23")
                                            input#ch23.checkbox__input(type="checkbox" name="check" value="ch23")
                                            .checkbox__label 19
                                .filter__bloc
                                    .filter__title Стандарт на продукт
                                    .filter__group 
                                        label.checkbox(for="ch27")
                                            input#ch27.checkbox__input(type="checkbox" name="check" value="ch27")
                                            .checkbox__label ГОСТ 380-2005
                                        label.checkbox(for="ch28")
                                            input#ch28.checkbox__input(type="checkbox" name="check" value="ch28")
                                            .checkbox__label ГОСТ 1050-2013
                                        label.checkbox(for="ch29")
                                            input#ch29.checkbox__input(type="checkbox" name="check" value="ch29")
                                            .checkbox__label ГОСТ 14637-89
                                .filter__bloc
                                    .filter__title Категории
                                    .filter__group 
                                        label.checkbox(for="ch24")
                                            input#ch24.checkbox__input(type="checkbox" name="check" value="ch24")
                                            .checkbox__label Все
                                        label.checkbox(for="ch25")
                                            input#ch25.checkbox__input(type="checkbox" name="check" value="ch25")
                                            .checkbox__label Замковой ручной инструмент
                                        label.checkbox(for="ch26")
                                            input#ch26.checkbox__input(type="checkbox" name="check" value="ch26")
                                            .checkbox__label Ножницы для резки
                            button.btn(type="reset") Очистить фильтр
                    .aside__main
                        .subject 
                            .subject__item 
                                .subject__header 
                                .subject__main 
                                .subject__footer
