extends common/layout

block content
    main.main
        .catalog-goods
            .catalog-goods__container.container
                include common/breadcrumb
                .dropdown.dropdown--catalog-goods
                    .dropdown-label
                        .dropdown-label__txt Ручной инструмент
                    .dropdown-menu 
                        ul.submenu
                            li.active  
                                a(href="javascript:void(0);") Ручной инструмент
                            li  
                                a(href="javascript:void(0);") Пневматический упаковочный инструмент
                            li  
                                a(href="javascript:void(0);") Комбинированный инструмент
                            li  
                                a(href="javascript:void(0);") Аккумуляторный инструмент
                .tab 
                    .tab__item Все
                    .tab__item Натяжитель ленты
                    .tab__item Замковой ручной инструмент
                    .tab__item Замковой инструмент для тяжелых грузов
                    .tab__item Ножницы для резки
                .aside.aside--reverse
                    .aside__sidebar
                    .aside__main
