extends common/layout

block content
    main.main
        .catalog-service
            .catalog-service__container.container
                include common/breadcrumb
                h1.title-1 Сервис
                p В рамках комплексного обеспечения клиентов изделиями из металла ООО «УМК» осуществляет не только поставки собственной продукцией, но и продукции ведущих производителей г. Магнитогорска, прежде всего группы компаний ОАО «ММК»: ММК и ММК-метиз.
                p Наличие проверенных временем партнерских отношений, подъездных автомобильных и железнодорожных путей примыкающих к промышленной площадке, складских площадей, позволяют обеспечивать бесперебойные отправки по ценам сопоставимым с прайс листами ММК и ММК- метиз.
                p Комплексные поставки металлопроката и метизов осуществляются преимущественно покупателям продукции производства ООО «УМК». Однако мы готовы рассмотреть варианты развития сотрудничества начиная с поставок проката и метизов.
                .catalog-grid(itemscope="" itemtype="http://www.schema.org/SiteNavigationElement") 
                    .catalog-grid__item
                        .catalog-grid__header 
                            a.catalog-grid__name.subtitle(href="service-detail.html" itemprop="url") Плоский прокат
                                meta(itemprop="name" content="Упаковочный инструмент")
                            .catalog-grid__pic
                                img(src="img/catalog/img6.png" alt="")
                        .catalog-grid__content
                            a.catalog-grid__link(href="service-detail.html" itemprop="url") Горячекатаный рулон
                                meta(itemprop="name" content="Ручной инструмент")
                            a.catalog-grid__link(href="service-detail.html" itemprop="url") Горячекатаный лист
                                meta(itemprop="name" content="Пневматический упаковочный инструмент")
                            a.catalog-grid__link(href="service-detail.html" itemprop="url") Холоднокатаный рулон
                                meta(itemprop="name" content="Комбинированный инструмент")
                            a.catalog-grid__link(href="service-detail.html" itemprop="url") Холоднокатаный лист
                                meta(itemprop="name" content="Аккумуляторный инструмент")
                            a.catalog-grid__link(href="service-detail.html" itemprop="url") Оцинкованный прокат
                                meta(itemprop="name" content="Аккумуляторный инструмент") 
                    .catalog-grid__item
                        .catalog-grid__header 
                            a.catalog-grid__name.subtitle(href="service-detail.html" itemprop="url") Гнутый и фасонный профиль
                                meta(itemprop="name" content="Труба")
                            .catalog-grid__pic
                                img(src="img/catalog/img7.png" alt="")
                        .catalog-grid__content 
                            a.catalog-grid__link(href="service-detail.html" itemprop="url") Уголок
                                meta(itemprop="name" content="Труба профильная")
                            a.catalog-grid__link(href="service-detail.html" itemprop="url") Швеллер и балка
                                meta(itemprop="name" content="Труба электрическая")
                            a.catalog-grid__link(href="service-detail.html" itemprop="url") Спецпрофиль
                                meta(itemprop="name" content="Замкнутый профиль")
                            a.catalog-grid__link(href="service-detail.html" itemprop="url") Профиль гнутый
                                meta(itemprop="name" content="Замкнутый профиль")
                    .catalog-grid__item
                        .catalog-grid__header 
                            a.catalog-grid__name.subtitle(href="service-detail.html" itemprop="url") Сортовой прокат
                                meta(itemprop="name" content="Профиль для строительства")
                            .catalog-grid__pic
                                img(src="img/catalog/img8.png" alt="")
                        .catalog-grid__content
                            a.catalog-grid__link(href="service-detail.html" itemprop="url") Катанка
                                meta(itemprop="name" content="Фасадный профиль")
                            a.catalog-grid__link(href="service-detail.html" itemprop="url") Круг
                                meta(itemprop="name" content="Профиль армирующий")
                            a.catalog-grid__link(href="service-detail.html" itemprop="url") Арматура
                                meta(itemprop="name" content="Профиль для гипсокартона")
                            a.catalog-grid__link(href="service-detail.html" itemprop="url") Квадрат
                                meta(itemprop="name" content="Профиль для отделки")
                            a.catalog-grid__link(href="service-detail.html" itemprop="url") Шестигранник
                                meta(itemprop="name" content="Замкнутый профиль")
                            a.catalog-grid__link(href="service-detail.html" itemprop="url") Полоса
                                meta(itemprop="name" content="Замкнутый профиль")
                    .catalog-grid__item
                        .catalog-grid__header 
                            a.catalog-grid__name.subtitle(href="service-detail.html" itemprop="url") Метизная продукция
                                meta(itemprop="name" content="Лента стальная (штрипс)")
                            .catalog-grid__pic
                                img(src="img/catalog/img9.png" alt="")
                        .catalog-grid__content
                            a.catalog-grid__link(href="service-detail.html" itemprop="url") Крепежные изделия
                                meta(itemprop="name" content="Лента оцинкованная")
                            a.catalog-grid__link(href="service-detail.html" itemprop="url") Проволока и сетка
                                meta(itemprop="name" content="Лента стальная холоднокатанная")
                            a.catalog-grid__link(href="service-detail.html" itemprop="url") Метизы прочие
                                meta(itemprop="name" content="Штрипс горячекатаный")
                    .catalog-grid__item 
                        .catalog-grid__header 
                            a.catalog-grid__name.subtitle(href="service-detail.html" itemprop="url") Лента упаковочная
                                meta(itemprop="name" content="Лента упаковочная")
                            .catalog-grid__pic
                                img(src="img/catalog/img10.png" alt="")
                        .catalog-grid__content
                            a.catalog-grid__link(href="service-detail.html" itemprop="url") Дополнительные услуги
                                meta(itemprop="name" content="Лента для упаковки марки «UMC»")
                            a.catalog-grid__link(href="service-detail.html" itemprop="url") Резка
                                meta(itemprop="name" content="Лента упаковочная")
                            a.catalog-grid__link(href="service-detail.html" itemprop="url") Сварочные работы
                                meta(itemprop="name" content="Лента упаковочная ГОСТ 3560-73")
                            a.catalog-grid__link(href="service-detail.html" itemprop="url") Услуги аренды помещений
                                meta(itemprop="name" content="Замки упаковочные для стальных лент")