extends common/layout

block content
    main.main
        .delivery
            .container
                h1.title-1 Доставка
                p.
                    ООО «УМК» производственная компания, отгружающая металлопрокат и металлоизделия (в рулонах и пачках
                    весом от 1 до 20 тонн) в регионы России и страны СНГ в объеме до 12 тыс. тонн в месяц.
                p.
                    Приоритетным для Компании ООО «УМК» являются наши клиенты, которым регулярно требуется доставка
                    металла, в связи с чем, мы широко развиваем наши логистические возможности. Приобретаем собственные
                    машины и современные системы связи, чтобы быстро и в срок поставлять Качественный и застрахованный
                    металлопрокат до Вашей производственной площадки.
        .delivery
            .container
                .h2.title-2 География поставок:
                p.
                    Поставки продукции осуществляются как автомобильным, так и железнодорожным транспортом.
                    Основные направления поставок компании:
                .delivery__list
                    ul
                        li Свердловская область;
                        li Челябинская область;
                        li Москва и Московская область;
                        li Пермский край;
                        li Саратовская область;
                        li Башкортостан;
                        li Татарстан;
                    ul
                        li Тюменская область и ХМАО;
                        li Омская область;
                        li Оренбургская область;
                        li Приморский край и Хабаровск;
                        li Казахстан и Средняя Азия (Киргизия, Узбекистан, Таджикистан, Туркменистан);
                        li Азербайджан.
                .delivery__map
                    img(src="../img/delivery-map.png" alt="География поставок")
        .delivery
            .container
                h2.title-3 Вид используемого транспорта:
                ul
                    li
                        span Железнодорожный:
                        |
                        | полувагоны.
                    li
                        span Автомобильный:
                        |
                        | закрытый тентованный с верхней загрузкой, открытый бортовой (имеем опыт погрузки рефрижераторов).
                .delivery__item
                    .delivery__title Отдел логистики:
                    .delivery__text
                        | Специалист по логистике:
                        |
                        span Наталья Бандяева
                    .delivery__text
                        | Специалист по логистике:
                        |
                        span Ольга Мацапей
                    .delivery__text
                        | Телефон:
                        |
                        a(href="tel:+73517013320") +7 (3517) 01-33-20