extends common/layout

block content
    main.main
        include common/topmenu
        .history
            .history__container.container
                include common/breadcrumb
                h1.title-1 Наша история
                p В своём стремлении улучшить пользовательский опыт мы упускаем, что независимые государства набирают популярность среди определенных слоев населения, а значит, должны быть в равной степени предоставлены сами себе.
                .history-slider.slider.js-history-slider
                    .swiper-wrapper 
                        .swiper-slide.history-slider__slide(data-year=`2006`)
                            .history-slider__img
                                img(src="img/history.jpg" alt="")
                            .history-slider__content
                                .history-slider__year 2008 год
                                .history-slider__title Запуск нового центра 1
                                .history-slider__info Ясность нашей позиции очевидна: современная методология разработки позволяет оценить значение глубокомысленных рассуждений. Каждый из нас понимает очевидную вещь: семантический разбор внешних противодействий прекрасно подходит для реализации позиций, занимаемых участниками в отношении поставленных задач. Ясность нашей позиции очевидна: семантический разбор внешних противодействий создаёт необходимость включения в производственный план целого ряда внеочередных мероприятий с учётом комплекса системы массового участия.
                        .swiper-slide.history-slider__slide(data-year=`2007`)
                            .history-slider__img
                                img(src="img/history.jpg" alt="")
                            .history-slider__content
                                .history-slider__year 2009 год
                                .history-slider__title Запуск нового центра 2
                                .history-slider__info Ясность нашей позиции очевидна: современная методология разработки позволяет оценить значение глубокомысленных рассуждений. Каждый из нас понимает очевидную вещь: семантический разбор внешних противодействий прекрасно подходит для реализации позиций, занимаемых участниками в отношении поставленных задач. Ясность нашей позиции очевидна: семантический разбор внешних противодействий создаёт необходимость включения в производственный план целого ряда внеочередных мероприятий с учётом комплекса системы массового участия.
                        .swiper-slide.history-slider__slide(data-year=`2008`) 
                            .history-slider__img
                                img(src="img/history.jpg" alt="")
                            .history-slider__content
                                .history-slider__year 2009 год
                                .history-slider__title Запуск нового центра 2
                                .history-slider__info Ясность нашей позиции очевидна: современная методология разработки позволяет оценить значение глубокомысленных рассуждений. Каждый из нас понимает очевидную вещь: семантический разбор внешних противодействий прекрасно подходит для реализации позиций, занимаемых участниками в отношении поставленных задач. Ясность нашей позиции очевидна: семантический разбор внешних противодействий создаёт необходимость включения в производственный план целого ряда внеочередных мероприятий с учётом комплекса системы массового участия.
                        .swiper-slide.history-slider__slide(data-year=`2009`) 
                            .history-slider__img
                                img(src="img/history.jpg" alt="")
                            .history-slider__content
                                .history-slider__year 2009 год
                                .history-slider__title Запуск нового центра 2
                                .history-slider__info Ясность нашей позиции очевидна: современная методология разработки позволяет оценить значение глубокомысленных рассуждений. Каждый из нас понимает очевидную вещь: семантический разбор внешних противодействий прекрасно подходит для реализации позиций, занимаемых участниками в отношении поставленных задач. Ясность нашей позиции очевидна: семантический разбор внешних противодействий создаёт необходимость включения в производственный план целого ряда внеочередных мероприятий с учётом комплекса системы массового участия.
                        .swiper-slide.history-slider__slide(data-year=`2010`) 
                            .history-slider__img
                                img(src="img/history.jpg" alt="")
                            .history-slider__content
                                .history-slider__year 2009 год
                                .history-slider__title Запуск нового центра 2
                                .history-slider__info Ясность нашей позиции очевидна: современная методология разработки позволяет оценить значение глубокомысленных рассуждений. Каждый из нас понимает очевидную вещь: семантический разбор внешних противодействий прекрасно подходит для реализации позиций, занимаемых участниками в отношении поставленных задач. Ясность нашей позиции очевидна: семантический разбор внешних противодействий создаёт необходимость включения в производственный план целого ряда внеочередных мероприятий с учётом комплекса системы массового участия.
                        .swiper-slide.history-slider__slide(data-year=`2011`) 
                            .history-slider__img
                                img(src="img/history.jpg" alt="")
                            .history-slider__content
                                .history-slider__year 2009 год
                                .history-slider__title Запуск нового центра 2
                                .history-slider__info Ясность нашей позиции очевидна: современная методология разработки позволяет оценить значение глубокомысленных рассуждений. Каждый из нас понимает очевидную вещь: семантический разбор внешних противодействий прекрасно подходит для реализации позиций, занимаемых участниками в отношении поставленных задач. Ясность нашей позиции очевидна: семантический разбор внешних противодействий создаёт необходимость включения в производственный план целого ряда внеочередных мероприятий с учётом комплекса системы массового участия.
                        .swiper-slide.history-slider__slide(data-year=`2012`) 
                            .history-slider__img
                                img(src="img/history.jpg" alt="")
                            .history-slider__content
                                .history-slider__year 2009 год
                                .history-slider__title Запуск нового центра 2
                                .history-slider__info Ясность нашей позиции очевидна: современная методология разработки позволяет оценить значение глубокомысленных рассуждений. Каждый из нас понимает очевидную вещь: семантический разбор внешних противодействий прекрасно подходит для реализации позиций, занимаемых участниками в отношении поставленных задач. Ясность нашей позиции очевидна: семантический разбор внешних противодействий создаёт необходимость включения в производственный план целого ряда внеочередных мероприятий с учётом комплекса системы массового участия.
                        .swiper-slide.history-slider__slide(data-year=`2013`) 
                            .history-slider__img
                                img(src="img/history.jpg" alt="")
                            .history-slider__content
                                .history-slider__year 2009 год
                                .history-slider__title Запуск нового центра 2
                                .history-slider__info Ясность нашей позиции очевидна: современная методология разработки позволяет оценить значение глубокомысленных рассуждений. Каждый из нас понимает очевидную вещь: семантический разбор внешних противодействий прекрасно подходит для реализации позиций, занимаемых участниками в отношении поставленных задач. Ясность нашей позиции очевидна: семантический разбор внешних противодействий создаёт необходимость включения в производственный план целого ряда внеочередных мероприятий с учётом комплекса системы массового участия.
                .arrow
                    //- .swiper-pagination
                    //-     <div class="swiper-progress-bar">
                    //-         <div class="progress"></div>
                    //-         <div class="progress-sections"></div>
                    //-     </div>
                    .mf-slider
                        .history-pagination.js-slider-year
                            .swiper-wrapper 
                            .progress
                    .arrow__cover
                        .arrow__link.arrow__link--prev
                            svg(width="33" height="17" viewbox="0 0 33 17" fill="none" xmlns="http://www.w3.org/2000/svg")
                                path(d="M6.47375 6.875L10.6662 2.66625L8.375 0.375002L0.249999 8.5L8.375 16.625L10.6663 14.3338L6.47375 10.125L32.75 10.125L32.75 6.875L6.47375 6.875Z" fill="#2C43A1")
                        .arrow__link.arrow__link--next
                            svg(width="33" height="17" viewbox="0 0 33 17" fill="none" xmlns="http://www.w3.org/2000/svg")
                                path(d="M6.47375 6.875L10.6662 2.66625L8.375 0.375002L0.249999 8.5L8.375 16.625L10.6663 14.3338L6.47375 10.125L32.75 10.125L32.75 6.875L6.47375 6.875Z" fill="#2C43A1")