extends common/layout

block content
  main.main
    include includes/index/view
    include common/catalog-list
    include includes/index/service
    include includes/index/advantage
    include includes/index/novation
    include includes/index/slider-partner
    