extends common/layout

block content
    main.main.main--lk.main--special
        .lk.lk--call
            .lk__container.container
                include common/breadcrumb
                form.lk-call.lk-call--call
                    h1.title-1 Обратная связь
                    p В своём стремлении улучшить пользовательский опыт мы упускаем, что независимые государства набирают популярность среди определенных слоев населения, а значит, должны быть в равной степени предоставлены сами себе.
                    .lk-call__grid.lk-call__grid--call
                        .lk-call__col.lk-call__col--name
                            .form-group
                                label.form-group__label(for="name") Имя*
                                input#name.form-group__input.js-input(type="text")
                        .lk-call__col.lk-call__col--phone
                            .form-group
                                label.form-group__label(for="phone") Телефон*
                                input#phone.form-group__input.js-input.js-phone(type="text")
                        .lk-call__col.lk-call__col--company
                            .form-group
                                label.form-group__label(for="company") Компания
                                input#company.form-group__input.js-input(type="text")
                        .lk-call__col.lk-call__col--email
                            .form-group
                                label.form-group__label(for="email") Email*
                                input#email.form-group__input.js-input(type="text")
                        .lk-call__col.lk-call__col--description
                            .form-group.form-group--textarea
                                label.form-group__label.form-group__label--text.js-form-label(for="text") Введите описание претензии
                                textarea#text.form-group__input.js-input.js-ta-input(name="text")
                    label.checkmark Подтверждаю корректность введенных данных и даю согласие на обработку моих персональных данных
                        input(type="checkbox" name="check" value="agree")
                        span.checkmark__flag
                    .lk-call__func
                        button.btn.btn--basic.btn--w275.js-btn-success(type="submit") Отправить
                        button.btn.btn--w170.btn--transparent.js-btn-reset(type="reset") Отменить
        include common/menu-app