extends common/layout

block content
    main.main.main--lk
        .lk.lk-cart
            .lk__container.container
                include common/breadcrumb
                h1.lk-cart__title.title-1 В корзине 
                    span 6
                    | товаров
                .lk-cart__items
                    .lk-cart__item
                        .lk-cart__top
                            .container
                                .lk-cart__bloc 
                                    .lk-cart__company Компания ООО "Аверс"
                                    .lk-cart__location Склад. Магнитогорск: 3 позиции, 150 т
                                .lk-cart__close
                                    +icon('ic-delete')
                        .lk-cart__wrapper 
                            .lk-cart__row.lk-cart__row--header
                                .lk-cart__col
                                    .lk-cart__txt.lk-cart__txt--name Наименование товара
                                .lk-cart__col
                                    .lk-cart__txt Количество
                                .lk-cart__col
                                    .lk-cart__txt С НДС (1 т) 
                                .lk-cart__col
                                    .lk-cart__txt Без НДС (1 т)
                                .lk-cart__col
                                    .lk-cart__txt Сумма
                            .lk-cart__row
                                .lk-cart__col.lk-cart__col--title.lk-cart__col--name
                                    .lk-cart__ic 
                                            +icon('ic-coll')
                                    .lk-cart__txt.lk-cart__txt--name Натяжитель ленты ГОСТ 380-2005
                                .lk-cart__col.lk-cart__col--qty
                                    input(type="number" placeholder="50 т" min="1")
                                .lk-cart__col.lk-cart__col--nds
                                    .lk-cart__sub С НДС (1 т):
                                    .lk-cart__txt 
                                        span.js-price-nds 110 790
                                        span ₽
                                .lk-cart__col.lk-cart__col--wnds
                                    .lk-cart__sub Без НДС (1 т):
                                    .lk-cart__txt
                                        span.js-price-wnds  98 587
                                        span ₽
                                .lk-cart__col.lk-cart__col--summ
                                    .lk-cart__sub Суммв:
                                    .lk-cart__txt
                                        span.js-price-sum 1 607 338
                                        span ₽
                                .lk-cart__col.lk-cart__col--close
                                    .lk-cart__delete
                                        +icon('ic-delete')
                            .lk-cart__row
                                .lk-cart__col.lk-cart__col--title.lk-cart__col--name
                                    .lk-cart__ic 
                                        +icon('ic-coll')
                                    .lk-cart__txt Натяжитель ленты ГОСТ 380-2005
                                .lk-cart__col.lk-cart__col--qty
                                    input(type="number" placeholder="50 т" min="1")
                                .lk-cart__col.lk-cart__col--nds
                                    .lk-cart__sub С НДС (1 т):
                                    .lk-cart__txt 
                                        span.js-price-nds 110 790
                                        span ₽
                                .lk-cart__col.lk-cart__col--wnds
                                    .lk-cart__sub Без НДС (1 т):
                                    .lk-cart__txt
                                        span.js-price-wnds 98 587
                                        span ₽
                                .lk-cart__col.lk-cart__col--summ
                                    .lk-cart__sub Суммв:
                                    .lk-cart__cover
                                        .lk-cart__txt.lk-cart__txt--oldprice
                                            span.js-price-oldsum 1 607 338
                                            span ₽
                                        .lk-cart__txt.lk-cart__txt--newprice
                                            span.js-price-newsum 1 607 338
                                            span ₽
                                .lk-cart__col.lk-cart__col--close
                                    .lk-cart__delete
                                        +icon('ic-delete')
                            .lk-cart__row.lk-cart__row--delivery
                                .lk-cart__col
                                    .lk-cart__txt Доставка в г. Челябинск (ж/д)
                                .lk-cart__col.lk-cart__col--itog
                                    .lk-cart__txt 30 000 ₽
                                .lk-cart__col
                                    .lk-cart__delete
                                        +icon('ic-delete')
                            .lk-cart__itog
                                .lk-cart__box
                                    .lk-cart__finish
                                        .lk-cart__s ИТОГО: 
                                        .lk-cart__n 4 952 016 ₽
                                    .lk-cart__discount
                                        .lk-cart__s Скидка: 
                                        .lk-cart__n 1 607 338 ₽
                                    .lk-cart__nds
                                        .lk-cart__s В том числе НДС: 
                                        .lk-cart__n 101 550 ₽
                            .lk-cart__bottom 
                                a.btn.btn--delivery.btn--cart-info.btn--transparent.btn--w218.js-btn-cartInfo(href="javascript:void(0);") 
                                    span
                                    span.js-btn-txt Добавить доставку
                                a.btn.btn--comment.btn--cart-info.btn--transparent.btn--w181.js-btn-cartInfo(href="javascript:void(0);")
                                    span
                                    span.js-btn-txt Комментарий
                                a.btn.btn--basic.btn--w187(href="javascript:void(0);") Оформить заказ
                            .lk-cart__detail
                                form.lk-cart__content
                                    .lk-cart__bloc.lk-cart__bloc--city 
                                        .lk-cart__subtitle Укажите город:
                                        select.js-select(name="city")
                                            option Челябинск
                                            option Магнитогорск
                                    .lk-cart__bloc.lk-cart__bloc--transport
                                        .lk-cart__subtitle Выберите транспорт:
                                        .lk-cart__wrp
                                            .lk-cart__unit
                                                input#delivery_g.lk-radio(type="radio" name="delivery" value="delivery_g" checked="checked")
                                                label(for="delivery_g") Доставка ж/д
                                            .lk-cart__unit
                                                input#delivery_c.lk-radio(type="radio" name="delivery" value="delivery_c")
                                                label(for="delivery_c") Доставка машиной
                                    .lk-cart__bloc.lk-cart__bloc--cost
                                        .lk-cart__subtitle Стоимость:
                                        .lk-cart__cost 50 000 ₽
                                    button.btn.btn--transparent.btn--w187(type="submit")(href="javascript:void(0);") Подтвердить
                            .lk-cart__detail
                                form.lk-cart__content
                                    .lk-cart__cover
                                        .lk-cart__subhead Введите свой комментарий к заказу:
                                        textarea.lk-cart__textarea(name="comment" placeholder="Введите описание претензии")
                                        .lk-cart__func
                                            button.btn.btn--transparent.btn--w187(type="reset")(href="javascript:void(0);") Отмена
                                            button.btn.btn--transparent.btn--w187(type="submit")(href="javascript:void(0);") Сохранить
        include common/menu-app
