extends common/layout

block content
    main.main.main--lk
        .lk
            .lk__container.container
                .aside.aside--lk
                    .aside__sidebar
                        include common/sidemenu
                        .delivery-unit(itemscope itemtype="http://schema.org/Organization")
                            .delivery-unit__title Ваш менеджер:
                            .delivery-unit__text(itemprop="contactPoint")
                                | Специалист:
                                br
                                span Иванов Иван Иванович
                            .delivery-unit__text(itemprop="email")
                                | Почта:
                                br
                                a(href="mailto:sdefefvr@mail.ru") sdefefvr@mail.ru
                            .delivery-unit__text(itemprop="telephone")
                                | Телефон:
                                br
                                a(href="tel:+7(999)985-48-56") +7 (999) 985-48-56
                    .aside__main
                        include common/breadcrumb
                        h1.title-1 Рабочий стол
                        .lk-menu(itemscope itemtype="http://www.schema.org/SiteNavigationElement")
                            a.lk-menu__item(href="lk-order.html" itemprop="url")
                                meta(itemprop="name" content="Мои заказы")
                                .lk-menu__title Мои заказы
                                .lk-menu__icon
                                    +icon('check_all')
                            a.lk-menu__item(href="lk-call.html" itemprop="url")
                                meta(itemprop="name" content="Обратная связь")
                                .lk-menu__title Обратная связь
                                .lk-menu__icon
                                    +icon('chat_alt')
                            a.lk-menu__item(href="lk-profile-user.html" itemprop="url")
                                meta(itemprop="name" content="Личный профиль")
                                .lk-menu__title Личный профиль
                                .lk-menu__icon
                                    +icon('heart_outline')
                            a.lk-menu__item(href="lk-profile-company.html" itemprop="url")
                                meta(itemprop="name" content="Профиль компании")
                                .lk-menu__title Профиль компании
                                .lk-menu__icon
                                    +icon('settings')
        include common/menu-app