extends common/layout

block content
    main.main.main--lk
        .lk.lk-documentation
            .lk-documentation__container.container
                include common/breadcrumb
                a.back(href="javascript:void(0);") К списку заказов
                .lk-documentation__date от 24 декабря 2021 г.
                h1.title-1 Заказ №0155-3213543
                .lk-documentation__grid
                    .lk-documentation__row.lk-documentation__row--active
                        .lk-documentation__col
                            .lk-documentation__icon
                                svg(width="58" height="58" viewbox="0 0 58 58" fill="none" xmlns="http://www.w3.org/2000/svg")
                                    circle(cx="29" cy="29" r="27" stroke="#D9D9D9" stroke-width="4")
                                    path(d="M12 30.8288L14.8284 28.0004L26.3633 39.5353L23.5349 42.3637L12 30.8288Z" fill="#D9D9D9")
                                    path(d="M23.5349 42.3637L20.7065 39.5353L43.2545 17L46.0829 19.8284L23.5349 42.3637Z" fill="#D9D9D9")
                            i
                        .lk-documentation__col
                            .lk-documentation__title Спецификация
                            .lk-documentation__txt Сделанные на базе интернет-аналитики выводы указаны как претенденты
                            .lk-documentation__items
                                .lk-documentation__item
                                    .lk-documentation__ic
                                        svg(width="58" height="58" viewbox="0 0 58 58" fill="none" xmlns="http://www.w3.org/2000/svg")
                                            circle(cx="29" cy="29" r="27" stroke="#D9D9D9" stroke-width="4")
                                            path(d="M12 30.8288L14.8284 28.0004L26.3633 39.5353L23.5349 42.3637L12 30.8288Z" fill="#D9D9D9")
                                            path(d="M23.5349 42.3637L20.7065 39.5353L43.2545 17L46.0829 19.8284L23.5349 42.3637Z" fill="#D9D9D9")
                                    .lk-documentation__text Менеджер выслал Вам спецификацию на почту
                                .lk-documentation__item
                                    .lk-documentation__ic
                                        svg(width="58" height="58" viewbox="0 0 58 58" fill="none" xmlns="http://www.w3.org/2000/svg")
                                            circle(cx="29" cy="29" r="27" stroke="#D9D9D9" stroke-width="4")
                                            path(d="M12 30.8288L14.8284 28.0004L26.3633 39.5353L23.5349 42.3637L12 30.8288Z" fill="#D9D9D9")
                                            path(d="M23.5349 42.3637L20.7065 39.5353L43.2545 17L46.0829 19.8284L23.5349 42.3637Z" fill="#D9D9D9")
                                    .lk-documentation__text Вы подписали спецификацию и отправили обратно
                            a.btn.btn--transparent.btn--w239.btn--h47(href="javascript:void(0);") Прикрепить спецификацию
                    .lk-documentation__row.lk-documentation__row--active.lk-documentation__row--billing
                        .lk-documentation__col
                            .lk-documentation__icon
                                svg(width="58" height="58" viewbox="0 0 58 58" fill="none" xmlns="http://www.w3.org/2000/svg")
                                    circle(cx="29" cy="29" r="27" stroke="#D9D9D9" stroke-width="4")
                                    path(d="M12 30.8288L14.8284 28.0004L26.3633 39.5353L23.5349 42.3637L12 30.8288Z" fill="#D9D9D9")
                                    path(d="M23.5349 42.3637L20.7065 39.5353L43.2545 17L46.0829 19.8284L23.5349 42.3637Z" fill="#D9D9D9")
                        .lk-documentation__col
                            .lk-documentation__title Выставление счета
                            .lk-documentation__txt Сделанные на базе интернет-аналитики выводы указаны как претенденты 
                            .lk-documentation__items
                                .lk-documentation__item
                                    .lk-documentation__ic
                                        svg(width="58" height="58" viewbox="0 0 58 58" fill="none" xmlns="http://www.w3.org/2000/svg")
                                            circle(cx="29" cy="29" r="27" stroke="#D9D9D9" stroke-width="4")
                                            path(d="M12 30.8288L14.8284 28.0004L26.3633 39.5353L23.5349 42.3637L12 30.8288Z" fill="#D9D9D9")
                                            path(d="M23.5349 42.3637L20.7065 39.5353L43.2545 17L46.0829 19.8284L23.5349 42.3637Z" fill="#D9D9D9")
                                    .lk-documentation__text Менеджер выслал Вам счет на почту
                    .lk-documentation__row.lk-documentation__row--itog
                        .lk-documentation__col
                            .lk-documentation__icon
                                svg(width="58" height="58" viewbox="0 0 58 58" fill="none" xmlns="http://www.w3.org/2000/svg")
                                    circle(cx="29" cy="29" r="27" stroke="#D9D9D9" stroke-width="4")
                                    path(d="M12 30.8288L14.8284 28.0004L26.3633 39.5353L23.5349 42.3637L12 30.8288Z" fill="#D9D9D9")
                                    path(d="M23.5349 42.3637L20.7065 39.5353L43.2545 17L46.0829 19.8284L23.5349 42.3637Z" fill="#D9D9D9")
                        .lk-documentation__col.js-dogovor-date(data-date="00-00-0000")
                            .lk-documentation__title Договор
                            .lk-documentation__txt Сделанные на базе интернет-аналитики выводы указаны как претенденты 
                            .lk-documentation__items
                                .lk-documentation__item
                                    .lk-documentation__ic
                                        svg(width="58" height="58" viewbox="0 0 58 58" fill="none" xmlns="http://www.w3.org/2000/svg")
                                            circle(cx="29" cy="29" r="27" stroke="#D9D9D9" stroke-width="4")
                                            path(d="M12 30.8288L14.8284 28.0004L26.3633 39.5353L23.5349 42.3637L12 30.8288Z" fill="#D9D9D9")
                                            path(d="M23.5349 42.3637L20.7065 39.5353L43.2545 17L46.0829 19.8284L23.5349 42.3637Z" fill="#D9D9D9")
                                    .lk-documentation__text Менеджер выслал Вам договор на почту
                                .lk-documentation__item
                                    .lk-documentation__ic
                                        svg(width="58" height="58" viewbox="0 0 58 58" fill="none" xmlns="http://www.w3.org/2000/svg")
                                            circle(cx="29" cy="29" r="27" stroke="#D9D9D9" stroke-width="4")
                                            path(d="M12 30.8288L14.8284 28.0004L26.3633 39.5353L23.5349 42.3637L12 30.8288Z" fill="#D9D9D9")
                                            path(d="M23.5349 42.3637L20.7065 39.5353L43.2545 17L46.0829 19.8284L23.5349 42.3637Z" fill="#D9D9D9")
                                    .lk-documentation__text Вы подписали договор и отправили обратно
                            a.btn.btn--transparent.btn--w239.btn--h47(href="javascript:void(0);") Прикрепить договор
        include common/menu-app