extends common/layout

block content
    main.main.main--lk
        .lk.lk--basic
            .lk__container.container
                .aside.aside--lk
                    .aside__sidebar
                        include common/sidemenu
                        .delivery-unit(itemscope itemtype="http://schema.org/Organization")
                            .delivery-unit__title Ваш менеджер:
                            .delivery-unit__text(itemprop="contactPoint")
                                | Специалист:
                                br
                                span Иванов Иван Иванович
                            .delivery-unit__text(itemprop="email")
                                | Почта:
                                br
                                a(href="mailto:sdefefvr@mail.ru") sdefefvr@mail.ru
                            .delivery-unit__text(itemprop="telephone")
                                | Телефон:
                                br
                                a(href="tel:+7(999)985-48-56") +7 (999) 985-48-56
                    .aside__main
                        include common/breadcrumb
                        form.lk-profile.js-portfolio
                            .lk-profile__bloc
                                h1.title-1 Личный профиль
                                .lk-profile__wrapper 
                                    .lk-profile__item 
                                        .lk-profile__row
                                            .lk-profile__col
                                                .lk-profile__caption Название компании:
                                            .lk-profile__col.lk-profile__col--subgrid
                                                .lk-profile__info ООО 'Аверс'
                                                .lk-profile__sub.js-sub-edit 
                                                    .lk-edit
                                                        .lk-edit__group
                                                            .lk-edit__field 
                                                                input.lk-edit__input.js-edit-input(type="text" name="company" value="ООО 'Аверс'")
                                                                .close.js-close-edit
                                                .lk-profile__col
                                                    .lk-profile__icon.js-btn-edit 
                                                        +icon("ic-edit")
                                    .lk-profile__item 
                                        .lk-profile__row
                                            .lk-profile__col
                                                .lk-profile__caption Руководитель:
                                            .lk-profile__col.lk-profile__col--subgrid
                                                .lk-profile__info Иванов Иван Иванович
                                                .lk-profile__sub.js-sub-edit 
                                                    .lk-edit
                                                        .lk-edit__group
                                                            .lk-edit__field 
                                                                input.lk-edit__input.js-edit-input(type="text" name="leader" value="Иванов Иван Иванович")
                                                                .close.js-close-edit
                                                .lk-profile__col
                                                    .lk-profile__icon.js-btn-edit 
                                                        +icon("ic-edit")
                                    .lk-profile__item 
                                        .lk-profile__row
                                            .lk-profile__col
                                                .lk-profile__caption Сотрудник:
                                            .lk-profile__col.lk-profile__col--subgrid
                                                .lk-profile__info -
                                                .lk-profile__sub.js-sub-edit 
                                                    .lk-edit
                                                        .lk-edit__group
                                                            .lk-edit__field 
                                                                input.lk-edit__input.js-edit-input(type="text" name="worker" value="-")
                                                                .close.js-close-edit
                                                .lk-profile__col
                                                    .lk-profile__icon.js-btn-edit 
                                                        +icon("ic-edit")
                                    .lk-profile__item 
                                        .lk-profile__row
                                            .lk-profile__col
                                                .lk-profile__caption Должность:
                                            .lk-profile__col.lk-profile__col--subgrid
                                                .lk-profile__info -
                                                .lk-profile__sub.js-sub-edit 
                                                    .lk-edit
                                                        .lk-edit__group
                                                            .lk-edit__field 
                                                                input.lk-edit__input.js-edit-input(type="text" name="vacancy" value="-")
                                                                .close.js-close-edit
                                                .lk-profile__col
                                                    .lk-profile__icon.js-btn-edit
                                                        +icon("ic-edit")
                                    .lk-profile__item 
                                        .lk-profile__row
                                            .lk-profile__col
                                                .lk-profile__caption Логин:
                                            .lk-profile__col.lk-profile__col--subgrid
                                                .lk-profile__info Аверс@mail.ru
                                                .lk-profile__sub.js-sub-edit 
                                                    .lk-edit
                                                        .lk-edit__group
                                                            .lk-edit__field 
                                                                input.lk-edit__input.js-edit-input(type="text" name="login" value="Аверс@mail.ru")
                                                                .close.js-close-edit
                                                .lk-profile__col
                                                    .lk-profile__icon.js-btn-edit 
                                                        +icon("ic-edit")
                                    .lk-profile__item.lk-profile__item--acc 
                                        .lk-profile__row
                                            .lk-profile__col
                                                .lk-profile__caption Изменение пароля:
                                            .lk-profile__col.lk-profile__col--subgrid
                                                .lk-profile__info ********
                                                .lk-profile__col
                                                    .lk-profile__icon.js-btn-edit
                                                        +icon("ic-edit")
                                        .lk-profile__sub.js-sub-edit
                                            .lk-edit
                                                .lk-edit__row
                                                    label.lk-edit__caption(for="pass_new") Новый пароль:
                                                    .lk-edit__group
                                                        .lk-edit__field 
                                                            input#pass_new.lk-edit__input.js-edit-input(type="password" name="new_pass")
                                                            .close.js-close-edit
                                                .lk-edit__row
                                                    label.lk-edit__caption(for="pass_old") Старый пароль:
                                                    .lk-edit__group
                                                        .lk-edit__field 
                                                            input#pass_old.lk-edit__input.js-edit-input(type="password" name="old_pass")
                            .lk-profile__bloc
                                h4.title-4 Контакты
                                .lk-profile__wrapper 
                                    .lk-profile__item 
                                        .lk-profile__row
                                            .lk-profile__col
                                                .lk-profile__caption Телефон:
                                            .lk-profile__col.lk-profile__col--subgrid
                                                .lk-profile__info +7 (586) 682-78-15
                                                .lk-profile__sub.js-sub-edit 
                                                    .lk-edit
                                                        .lk-edit__group
                                                            .lk-edit__field 
                                                                input.lk-edit__input.js-edit-input(type="text" name="phone" value="+7 (586) 682-78-15")
                                                                .close.js-close-edit
                                                .lk-profile__col
                                                    .lk-profile__icon.js-btn-edit 
                                                        +icon("ic-edit")
                                    .lk-profile__item 
                                        .lk-profile__row
                                            .lk-profile__col
                                                .lk-profile__caption Почта:
                                            .lk-profile__col.lk-profile__col--subgrid
                                                .lk-profile__info test@mail.ru
                                                .lk-profile__sub.js-sub-edit 
                                                    .lk-edit
                                                        .lk-edit__group
                                                            .lk-edit__field 
                                                                input.lk-edit__input.js-edit-input(type="text" name="post" value="test@mail.ru")
                                                                .close.js-close-edit
                                                .lk-profile__col
                                                    .lk-profile__icon.js-btn-edit 
                                                        +icon("ic-edit")
                            button.btn.btn--basic.js-btn-save.btn--w275(type="submit") Сохранить изменения                                
        include common/menu-app