extends common/layout

block content
    main.main
        include common/topmenu
        .news-detail(itemscope itemtype="https://schema.org/Article")
            .container
                .news-detail__container
                    include common/breadcrumb
                    h1.title-1.news-detail__title(itemprop="headline name" content="WSA: за январь-февраль производство стали в мире выросло на 6,6%") WSA: за январь-февраль производство стали в&nbsp;мире выросло на&nbsp;6,6%
                    .news-detail__date(itemprop="dateCreated") 3 декабря 2020 года
                    .news-detail__img
                        img(src="../img/placeholder-l.jpg" alt="WSA: за январь-февраль производство стали в мире выросло на 6,6%" itemprop="image")
                    .news-detail__text(itemprop="description")
                        p.
                            В течение января-февраля 2021 года металлургические предприятия 64 стран, предоставляющих данные
                            World Steel Association, выплавили 315 млн. тонн стали. Рост объёмов в годовом соотношении - 6,6%.
                            Февральский объём составил 150,2 млн. тонн, улучшение показателей год к году - 4,1%.
                        p.
                            На долю Китая, по подсчётам WSA, пришлось 83 млн. тонн - на 10,9% больше по сравнению с февралём
                            2020 года. Металлурги Индии сократили выплавку стали на 3,1% до 9,1 млн. т., Японии - на 5,6% до
                            7,5 млн. тонн. Южная Корея нарастила объёмы на 1,2% до 5,5 млн. т.
                        p.
                            Страны СНГ произвели в феврале 2021 года 8 млн. тонн нерафинированной стали - на 1,5% меньше в годовом
                            сопоставлении. В РФ, по оценке WSA, выплавка составила 5,7 млн. тонн, снижение год к году - 1,3%.
                    .news-detail__actions
                        a.btn.btn--basic.news-detail__btn(href="javascript:void(0);") Вернуться назад
                        .share
                            .share__text Поделиться:
                            a(href="javascript:void(0);")
                                +icon('facebook')
                            a(href="javascript:void(0);")
                                +icon('twitter')
                            a(href="javascript:void(0);")
                                +icon('linkedin')
                            a(href="javascript:void(0);")
                                +icon('google')