extends common/layout

block content
    main.main
        .news
            .container
                h1.title-1 Новости
                .news__items
                    .news__item
                        .news__img
                            img(src="../img/placeholder-s.jpg" alt="WSA: за январь-февраль производство стали в мире выросло на 6,6%")
                        .news__content
                            .news__date 3 декабря 2020 года
                            .news__title WSA: за январь-февраль производство стали в мире выросло на 6,6%
                            .news__text.
                                В течение января-февраля 2021 года металлургические предприятия 64 стран, предоставляющих
                                данные World Steel Association, выплавили 315 млн. тонн стали.
                    .news__item
                        .news__img
                            img(src="../img/placeholder-s.jpg" alt="На ЧерМК начали выпускать новую сталь повышенной прочности")
                        .news__content
                            .news__date 3 декабря 2020 года
                            .news__title На ЧерМК начали выпускать новую сталь повышенной прочности
                            .news__text.
                                В листопрокатном цехе №2 Череповецкого металлургического комбината (предприятие дивизиона
                                "Северсталь Российская сталь") освоено производство новой продукции - двухфазной феррито-мартенситной
                                горячекатаной травленой стали повышенной прочности с техническим названием DP 600.