extends common/layout

block content
    main.main
        .notification
            .container
                .notification__container
                    include common/breadcrumb
                    h1.title-1 Оповещение о НМУ
                    .filter
                        form
                            select.js-select
                                option Январь
                                option Февраль
                                option Март
                            select.js-select
                                option 2021
                                option 2020
                                option 2019
                            button.btn.btn--basic(type="submit")
                                +icon('ic-search', 15, 15)
                                | Найти
                    .notification__items
                        .notification__item
                            .notification__title 26 февраля 2021 года
                            .notification__text.
                                По данным Челябинского ЦГМС — филиала «Уральского УГМС» c 19:00 часов 26.02.2020 г. до 13:00
                                часов 27.02.2021 г. на территории г.Магнитогорск, в приземном слое атмосферы, ожидаются НМУ
                                1 степени опасности, неблагоприятные для рассеивания вредных примесей в атмосферном воздухе
                                (слабый ветер, инверсия)Перевести Организацию в режим работы № I, установленный мероприятиями
                                по уменьшению выбросов вредных веществ в атмосферный воздух в периоды НМУ.
                        .notification__item
                            .notification__title 26 февраля 2021 года
                            .notification__text.
                                По данным Челябинского ЦГМС — филиала «Уральского УГМС» c 19:00 часов 26.02.2020 г. до 13:00
                                часов 27.02.2021 г. на территории г.Магнитогорск, в приземном слое атмосферы, ожидаются НМУ
                                1 степени опасности, неблагоприятные для рассеивания вредных примесей в атмосферном воздухе
                                (слабый ветер, инверсия)Перевести Организацию в режим работы № I, установленный мероприятиями
                                по уменьшению выбросов вредных веществ в атмосферный воздух в периоды НМУ.