extends common/layout

block content
    main.main
        .product
            .container
                include common/breadcrumb
                .product__top
                    .product__icon
                        +icon('layers_alt')
                    .product__title
                        .product__code Код товара: 954108
                        h1.title-1.product__name Натяжитель ленты ГОСТ 380-2005
                include includes/product/product-specs
                .product__bottom
                    .product-numbers
                        .product-numbers__item
                            .product-numbers__text На складе:&nbsp;
                            .product-numbers__value 350 т
                        .product-numbers__item.product-numbers__item--price
                            .product-numbers__text Стоимость:&nbsp;
                            .product-numbers__value 50 000 ₽
                    .product-actions
                         .count
                            input#quantity.count__input(type="number" name="quantity" placeholder="1 т")
                         a.btn.btn--basic.btn--cart В корзину
                         a.btn.btn--basic.btn--cart-mobile
                            +icon('shopping-cart')
                include includes/product/product-info
                include includes/product/product-related