extends common/layout

block content
    main.main
        include common/topmenu
        .purchase
            .container
                include common/breadcrumb
                h1.title-1 Закупки
                form.purchase__form
                    select.js-select(style="width: 200px;")
                        option Объявленные
                        option Объявленные
                    select.js-select(style="width: 200px;")
                        option Все материалы
                        option Все материалы
                    select.js-select(style="width: 200px;")
                        option По 20 записей
                        option По 50 записей
                    button.btn.btn--basic.btn--w200(type="submit") Применить
                .purchase__table
                    table
                        tr
                            td Номер торгов
                            td Наименование торгов
                            td Дата открытия
                            td Дата закрытия
                            td Контактное лицо
                            td Статус
                        tr
                            td 15215_5
                            td Дерево ясень
                            td 02.02.2021
                            td 07.09.2021
                            td Иванов Иван Иванович
                            td На рассмотрении
                        tr
                            td 15215_5
                            td Дерево ясень
                            td 02.02.2021
                            td 07.09.2021
                            td Иванов Иван Иванович
                            td На рассмотрении
                include common/pagination