extends common/layout

block content
    main.main
        include common/topmenu
        .purchase
            .container
                include common/breadcrumb
                h1.title-1 Закупки
                form.purchase__form
                    select.js-select(style="width: 200px;")
                        option Объявленные
                        option Объявленные
                    select.js-select(style="width: 200px;")
                        option Все материалы
                        option Все материалы
                    select.js-select(style="width: 200px;")
                        option По 20 записей
                        option По 50 записей
                    button.btn.btn--basic.btn--w200(type="submit") Применить
                .table
                    .table__row.table__row--head
                        .table__cell Номер торгов
                        .table__cell Наименование торгов
                        .table__cell Дата открытия
                        .table__cell Дата закрытия
                        .table__cell Контактное лицо
                        .table__cell Статус
                    .table__row
                        .table__cell 15215_5
                        .table__cell Дерево ясень
                        .table__cell 02.02.2021
                        .table__cell 07.09.2021
                        .table__cell Иванов Иван Иванович
                        .table__cell На рассмотрении
                    .table__row
                        .table__cell 15215_5
                        .table__cell Дерево ясень
                        .table__cell 02.02.2021
                        .table__cell 07.09.2021
                        .table__cell Иванов Иван Иванович
                        .table__cell На рассмотрении
                include common/pagination