extends common/layout

block content
  main.main
    .auth.auth--restore
      .auth__container.container 
        .auth__box 
          .auth-popup 
            h1.auth-popup__title.title-1 Восстановить пароль
            .auth-popup__quote Если вы забыли пароль, введите E-mail. Ваши региcтрационные данные (пароль) будут высланы на этот адрес электронной почты.
            .auth-popup__cover
              form.auth-popup__form.show(action="/")
                .form-group
                    label.form-group__label(for="email_reg") E-mail
                    input#email_reg.form-group__input.js-input(type="text")
                button.btn.btn--basic(type="submit") Восстановить