extends common/layout

block content
  main.main
    .auth.auth--restore
      .auth__container.container 
        .auth__box 
          .auth-popup 
            h1.auth-popup__title.title-1 Восстановить пароль
            .auth-popup__quote Если вы забыли пароль, введите E-mail. Ваши региcтрационные данные (пароль) будут высланы на этот адрес электронной почты.
            .auth-popup__cover
              form.auth-popup__form.show
                .input
                    label(for="email_reg") E-mail
                    input.js-input(type="text")
                #email_reg.btn.btn--basic(type="submit") Восстановить
