extends common/layout

block content
    main.main
        .search
            .container
                h1.title-1 Результаты поиска
                ol.search__items
                    li.search__item
                        .search__text.
                            Холоднокатаный прокат электротехнических изотропных сталей, марки 2013, толщина 0.50 мм,
                            ширина 100-499 мм, по ГОСТ 21427.2-83, Лента
                        a.search__link(href="#") Продукция для упаковки
                    li.search__item
                        .search__text.
                            Холоднокатаный прокат электротехнических анизотропных сталей, марки NV27S-105L, толщина
                            0.27 мм, ширина 100-499 мм, по СТО 05757665-008-2016, Лента
                        a.search__link(href="#") Продукция для упаковки

