extends common/layout

block content
    main.main
        include common/topmenu
        .tender
            .container
                include common/breadcrumb
                h1.title-1 Тендер
                ol.tender__items(itemscope itemtype = "https://schema.org/ItemList")
                    li.tender__item(itemprop = "itemListElement" itemscope itemtype = "https://schema.org/Article")
                        a.tender__title(href="javascript:void(0);" itemprop="name" content="Тендер 1 56226-548ОПНт59") Тендер 1 56226-548ОПНт59
                        .tender__text(itemprop="description").
                            Акционеры крупнейших компаний и по сей день остаются уделом либералов, которые жаждут быть
                            рассмотрены исключительно в разрезе маркетинговых и финансовых предпосылок. Равным образом,
                            укрепление и развитие внутренней структуры в значительной степени обусловливает важность дальнейших.
                        .tender__date(itemprop="dateCreated") 12 декабря 2020
                    li.tender__item(itemprop = "itemListElement" itemscope itemtype = "https://schema.org/Article")
                        a.tender__title(href="javascript:void(0);" itemprop="name" content="Тендер 3584") Тендер 3584
                        .tender__text(itemprop="description").
                            Кстати, элементы политического процесса призывают нас к новым свершениям, которые, в свою
                            очередь, должны быть преданы социально-демократической.
                        .tender__date(itemprop="dateCreated") 12 декабря 2020
                include common/pagination