extends common/layout

block content
    main.main
        .tender
            .container
                h1.title-1 Тендер
                ol.tender__items
                    li.tender__item
                        .tender__head
                            .tender__title Тендер 1 56226-548ОПНт59
                        .tender__text.
                            Акционеры крупнейших компаний и по сей день остаются уделом либералов, которые жаждут быть
                            рассмотрены исключительно в разрезе маркетинговых и финансовых предпосылок. Равным образом,
                            укрепление и развитие внутренней структуры в значительной степени обусловливает важность дальнейших.
                        .tender__date 12 декабря 2020
                    li.tender__item
                        .tender__head
                            .tender__title Тендер 3584
                        .tender__text.
                            Кстати, элементы политического процесса призывают нас к новым свершениям, которые, в свою
                            очередь, должны быть преданы социально-демократической.
                        .tender__date 12 декабря 2020
