extends common/layout

block content
    main.main
        .tender-detail
            .container
                .tender-detail__container
                    h1.title-1 Тендер 1 56226-548ОПНт59
                    .tender-detail__content
                        p.
                            Проводится конкурс на поставку пиломатериалов и поддонов на ООО «УМК». Контракт заключается с
                            победителем тендера — участником, подавшим предложение, соответствующее требованиям
                            документации, в котором предложены наилучшие условия.
                        p.
                            Согласно типовому договору ООО «УМК» на поставку продукции срок оплаты составляет 30 дней после
                            поставки продукции на склад Покупателя. Базис поставки — склад Покупателя.
                        .tender-detail__contacts
                            h2.title-4 Контактное лицо:
                            p Зам. начальника бюро снабжения ООО «Уральская металлообрабатывающая компания»: <span>О. М. Савин.</span>
                            p Электронная почта: <a href="mailto:o.savin@uralmetalcompany.ru">o.savin@uralmetalcompany.ru</a>
                            p Телефон: <span>8 (912) 300-24-00; 8 (3519) 58-00-15 (доб.187)</span>

                        p Конкурсная документация прилагается.
                        .tender-detail__download
                            span Скачать архив:
                            a.tender-detail__link(href="#").
                                 <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                 <path d="M14.25 16.5H3.75V15H14.25V16.5ZM9 13.5L4.5 9L5.5575 7.9425L8.25 10.6275V1.5H9.75V10.6275L12.4425 7.9425L13.5 9L9 13.5Z" fill="#D81A27"/>
                                 </svg>
                                 Attachments_o.savin@uralmetalcompany.ru_2018-12-06_08-36-05
                    .tender-detail__form
                        h2.title-3 Заполните заявку
                        form.form(data-form)
                            .form-group(data-form-group)
                                label.form-group__label(for="name" data-form-label) Имя*
                                input.form-group__input(type="text" id="name" name="name" data-form-field)
                            .form-group(data-form-group)
                                label.form-group__label(for="phone" data-form-label) Телефон*
                                input.form-group__input(type="tel" id="phone" name="phone" data-form-field)
                            .form-group(data-form-group)
                                label.form-group__label(for="email" data-form-label) E-mail*
                                input.form-group__input(type="text" id="email" name="email" data-form-field)
                            .form-group(data-form-group)
                                label.form-group__label(for="company" data-form-label) Компания
                                input.form-group__input(type="text" id="company" name="company" data-form-field)
                            .form-group(data-form-group)
                                label.form-group__label(for="text" data-form-label) Поле ввода
                                textarea.form-group__input(id="text" name="text" data-form-field)
                            label(for="agree" data-form-label).checkbox
                                input(id="agree" type="checkbox" name="check" value="agree" data-form-check).checkbox__input
                                .checkbox__label Подтверждаю корректность введенных данных и даю согласие на обработку моих персональных данных
                            button.btn.btn--basic(type="submit" name="submit" data-form-button) Отправить



