extends common/layout

block content
    main.main
        include common/topmenu
        .tender-detail(itemscope itemtype="https://schema.org/Article")
            .container
                .tender-detail__container
                    include common/breadcrumb
                    h1.title-1(itemprop="headline name" content="Тендер 1 56226-548ОПНт59") Тендер 1 56226-548ОПНт59
                    .tender-detail__content(itemprop="description")
                        p.
                            Проводится конкурс на поставку пиломатериалов и поддонов на ООО «УМК». Контракт заключается с
                            победителем тендера — участником, подавшим предложение, соответствующее требованиям
                            документации, в котором предложены наилучшие условия.
                        p.
                            Согласно типовому договору ООО «УМК» на поставку продукции срок оплаты составляет 30 дней после
                            поставки продукции на склад Покупателя. Базис поставки — склад Покупателя.
                        .tender-detail__contacts(itemscope itemtype="http://schema.org/Organization")
                            h2.title-4 Контактное лицо:
                            p(itemprop="contactPoint")
                                | Зам. начальника бюро снабжения ООО «Уральская металлообрабатывающая компания»:
                                |
                                span О. М. Савин.
                            p(itemprop="email")
                                | Электронная почта:
                                |
                                a(href="mailto:o.savin@uralmetalcompany.ru") o.savin@uralmetalcompany.ru
                            p(itemprop="telephone")
                                | Телефон:
                                |
                                span 8 (912) 300-24-00; 8 (3519) 58-00-15 (доб.187)

                        p Конкурсная документация прилагается.
                        .tender-detail__download
                            span Скачать архив:
                            a.tender-detail__link(href="javascript:void(0);")
                                +icon('download')
                                |
                                | Attachments_o.savin@uralmetalcompany.ru_2018-12-06_08-36-05
                    .tender-detail__form
                        h2.title-3 Заполните заявку
                        form.form
                            .form-group
                                label.form-group__label(for="name") Имя*
                                input#name.form-group__input.js-input(type="text" name="name")
                            .form-group
                                label.form-group__label(for="phone") Телефон*
                                input#phone.form-group__input.js-input.js-phone(type="tel" name="phone")
                            .form-group
                                label.form-group__label(for="email") E-mail*
                                input#email.form-group__input.js-input(type="text" name="email")
                            .form-group
                                label.form-group__label(for="company") Компания
                                input#company.form-group__input.js-input(type="text" name="company")
                            .form-group
                                label.form-group__label(for="text") Поле ввода
                                textarea#text.form-group__input.js-input(name="text")
                            label.checkmark Подтверждаю корректность введенных данных и даю согласие на обработку моих персональных данных
                                input(type="checkbox" name="check" value="agree")
                                span.checkmark__flag
                            button.btn.btn--basic(type="submit" name="submit") Отправить