extends common/layout

block content
    main.main
        include common/topmenu
        .vacancy-detail
            .container
                .vacancy-detail__container
                    include common/breadcrumb
                    h1.title-1 Менеджер по сбыту металлопродукции
                    .vacancy-detail__date 4 марта в 15:34
                    .vacancy-detail__img
                        img(src="../img/vacancy-detail.jpg" alt="Менеджер по сбыту металлопродукции")
                    .vacancy-detail__item
                        p
                            | Сфера деятельности:
                            |
                            span продажи
                        p
                            | График работы:
                            |
                            span полный день
                        p
                            | Опыт работы:
                            |
                            span более 3х лет
                        p
                            | Адрес:
                            |
                            span Челябинская область, г. Магнитогорск, Коммунальная ул., 10с1 р-н Орджоникидзевский
                    .vacancy-detail__item
                        h2.title-4 Обязанности:
                        ol
                            li Активный поиск российских и иностранных потенциальных покупателей, проверка их надежности и платежеспособности.
                            li Ведение переговоров в интересах Организации.
                            li Ведение договоров.
                            li Планирование реализации.
                            li Работа по снижению дебиторской задолженности.
                            li Составление отчетности.
                    .vacancy-detail__item
                        h2.title-4 Требования:
                        ol
                            li Высшее образование.
                            li Работоспособность, активность, внутренняя дисциплина, стрессоустойчивость, умение работать в команде, порядочность.
                            li Обязательно ВЫСЫЛАТЬ РЕЗЮМЕ.
                        p.
                            Срок рассмотрения резюме 10 рабочих дней. Если Ваши знания, опыт работы и пожелания
                            соответствуют требованиям и возможностям Компании, мы свяжемся с Вами по указанным в Вашем резюме контактам.
                    .vacancy-detail__item
                        h2.title-4 Условия работы:
                        ol
                            li Трудоустройство и соц.пакет в соответствии с ТК РФ.
                            li Пятидневная рабочая неделя, командировки.
                            li Своевременно выплачиваемая заработная плата (оклад+ премия и бонусы от продаж). Через год непрерывной работы доплата за стаж.
                        p
                            span Ведется запись на собеседование.
                    a.btn.vacancy-detail__btn.btn--basic.btn--w275.js-btn-resume Откликнуться на вакансию
                    .vacancy-detail__item
                        h2.title-4 ВНИМАНИЕ!
                        p.
                            В целях снижения рисков распространения в ООО «УМК» новой коронавирусной инфекции и в
                            соответствии с Постановлением Главного Государственного санитарного врача Российской Федерации
                            от 2 марта 2020 года №5 «О дополнительных мерах по снижению рисков завоза и распространения
                            новой коронавирусной инфекции (Covid-19)», посетители на территорию ООО «УМК» допускаются
                            только в личных масках (повязках) по предварительному звонку!
                        p
                            | По вопросам трудоустройства обращаться с
                            |
                            span ПН по ЧТ
                            |
                            | с
                            |
                            span 10:00 до 11:00
                            |
                            | и с
                            |
                            span 14:00 до 15:00
                            |
                            | по телефону
                            |
                            a(href="tel:+79995876261") + 7 (999) 587-62-61

    .modal.js-modal-resume
        .modal__content
            a.modal__close.js-close-modal(href="javascript:void(0);")
                +icon('close_big')
            h2.title-2 Отправьте резюме,
            p и наш специалист свяжется с Вами в ближайшее время.
            form.form
                .form-group
                    label.form-group__label(for="name") Имя*
                    input#name.form-group__input.js-input(type="text" name="name")
                .form-group
                    label.form-group__label(for="phone") Телефон*
                    input#phone.form-group__input.js-input(type="tel" name="phone")
                .form-group
                    label.form-group__label(for="email") E-mail*
                    input#email.form-group__input.js-input(type="text" name="email")
                .form-group
                    label.form-group__label(for="text") Поле ввода
                    textarea#text.form-group__input.js-input(name="text")
                label.file(for="file")
                    input#file.file__input(type="file" accept=".pdf, .doc, .docx, .ppt, .pptx")
                    +icon('file_new')
                    .file__label Прикрепить файлы: резюме, фото и т.п.
                button.btn.btn--basic(type="submit" name="submit") Отправить

//-
    .modal.js-modal.modal--success
        .modal__content
            a.modal__close.js-close-modal(href="javascript:void(0);")
                +icon('close_big')
            .modal__img
                +icon('check_all_big')
            h2.title-2 Спасибо!
            p
                | Ваше резюме будет обработано
                br
                | нами в ближайшее время
            a.link.link--underline.js-close-modal(href="javascript:void(0);") Закрыть