.vacancy {

  &__video {
    height: 675px;
    margin-top: 60px;

    @media (max-width: 1024px) {
      height: 410px;
      margin-top: 50px;
    }

    @media (max-width: 620px) {
      height: 190px;
      margin-top: 37px;
    }
  }

  &__items {
    margin-top: 35px;

    @media (max-width: 1024px) {
      margin-top: 22px;
    }

    @media (max-width: 620px) {
      margin-top: 10px;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 0 19px;
    border-bottom: 2px solid rgba(217, 217, 217, 0.35);

    @media (max-width: 620px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__title {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.6;

    @media (max-width: 1024px) {
      font-size: 16px;
      line-height: 1.65;
    }
  }

  &__text {
    font-size: 14px;
    line-height: 1.45;
    margin-top: 10px;

    @media (max-width: 620px) {
      margin-top: 6px;
    }
  }

  &__payment {
    font-weight: 600;
    font-size: 22px;

    @media (max-width: 1024px) {
      font-size: 18px;
      line-height: 1.65;
    }

    @media (max-width: 620px) {
      margin-top: 8px;
    }
  }
}