.order-info {
    background-color: white;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.08);
    margin-top: 20px;
    padding: 33px 50px 50px;

    @media(max-width: 1235px) {
        padding: 33px 33px 44px;
    }

    @media(max-width: 1024px) {
        padding: 27px 36px 44px 38px;
    }

    @media(max-width: 620px) {
        margin-top: 17px;
        padding: 18px 20px 25px 20px;
    }

    &__txt {
        font-size: 35px;
        font-weight: 600;

        @media(max-width: 1024px) {
            font-size: 30px;
        }

        @media(max-width: 620px) {
            font-size: 23px;
        }
    }

    &__row {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 43px;

        &:not(:first-child) {
            margin-top: 28px;

            @media(max-width: 1024px) {
                margin-top: 17px;
            }

            .num {
                margin-right: 5px;
            }
        }

        &:nth-child(2) {
            margin-top: 22px;

            @media(max-width: 1024px) {
                margin-top: 17px;
            }

            @media(max-width: 620px) {
                margin-top: 12px;
            }
        }
    }

    &__col {
        &:first-child {
            .order-info__text {
                font-weight: 600;
            }
        }

        &:last-child {
            justify-self: end;
            text-align: right;
        }
    }

    &__subtext {
        margin-top: 7px;

        @media(max-width: 620px) {
            margin-top: 5px;
        }
    }

    .symbol {
        font-weight: 400;
    }

    .num {
        margin-right: 8px;
        font-weight: 600;
    }

    .btn {
        width: 100%;
        margin-top: 41px;

        @media(max-width: 1024px) {
            margin-top: 35px;
        }

        @media(max-width: 620px) {
            margin-top: 22px;
        }
    }
}