.auth-popup {
    flex: 1;
    padding: 46px 65px 60px;

    @media(max-width: 1024px) {
        padding: 37px 55px 60px;
    }

    &__cover {
        margin-top: 31px;

        @media(max-width: 1024px) {
            margin-top: 25px;
        }
    }

    &__ref {
        margin-top: 19px;
        color: $gray-2;

        @media(max-width: 1024px) {
            font-size: 14px;
        }
    }

    &__form {
        display: none;
        visibility: hidden;
        opacity: 0;
        left: 0;
        right: 0;
        bottom: 0;

        .btn {
            width: 100%;
            margin-top: 24px;

            @media(max-width: 1024px) {
                margin-top: 26px;
            }
        }

        &.show {
            visibility: visible;
            opacity: 1;
            display: block;
        }
    }

    &__link {
        font-size: 35px;
        line-height: 54px;
        font-weight: 600;
        color: $gray-2;
        cursor: pointer;

        @media(max-width: 1024px) {
            font-size: 30px;
        }

        &.active {
            color: $basic !important;
            font-size: 45px;
            transform: translateY(0);
            pointer-events: none;

            @media(max-width: 1024px) {
                font-size: 40px;
            }
        }

        &:hover {
            color: $basic;
        }
    }

    &__header {
        display: flex;
        justify-content: space-between;
    }

    &__info {
        font-size: 14px;
        max-width: 370px;
        line-height: 1.5;
        margin-top: 16px;
        color: $gray-2;

        &>.link {
            color: $gray-2;

            &:hover {
                color: $purple-1;
            }
        }
    }
}