.auth {
    background: url(../img/decor/grid4.svg) no-repeat 50% 28%/auto;
    min-height: 773px;
    margin-bottom: -102px;
    height: calc(100vh - 518px);

    @media(max-width: 1024px) {
        min-height: 568px;
        height: calc(100vh - 459px);
        margin-bottom: -70px;
    }

    &__box {
        height: 100vh;
        max-height: 473px;
        display: flex;
        max-width: 556px;
        width: 100%;
        background-color: white;
        margin: auto;
        box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.08);
        /* изначально блок свёрнут */
        overflow: hidden;
        /* полностью скрывает дочерний блок */
        transition: max-height 0.5s;
        /* время анимации можно менять по желанию */

        @media(max-width: 1024px) {
            max-width: 648px;
        }
    }

    &__container {
        padding-top: 100px;

        @media(max-width: 1024px) {
            padding-top: 48px;
        }
    }

    &--restore {
        background: url(../img/decor/grid5.svg) no-repeat 50% -12%;
        min-height: 643px;

        @media(max-width: 1024px) {
            min-height: 468px;
        }

        .auth-popup {
            padding: 0;

            &__title {
                text-align: center;
            }

            &__form {
                .btn {
                    width: 100%;
                    text-align: center;
                    padding: 23.5px 0;
                }
            }

            &__quote {
                font-size: 16px;
                text-align: center;
                line-height: 1.5;
                margin-top: 15px;

                @media(max-width: 1024px) {
                    max-width: 462px;
                    width: 100%;
                    margin: 13px auto 0;
                }
            }

            &__cover {
                max-width: 426px;
                margin: 42px auto 0;

                @media(max-width: 1024px) {
                    max-width: initial;
                    margin: 36px auto 0;
                }
            }
        }

        .auth {
            &__box {
                max-width: 470px;
                box-shadow: none;
                max-height: initial;
                height: auto;

                @media(max-width: 1024px) {
                    max-width: 538px;
                }
            }

            &__container {
                min-height: initial;
                height: 100%;
            }
        }
    }
}