.auth {
    background: url(../img/decor/grid4.svg) no-repeat 50% 28%/auto;
    margin-bottom: -105px;
    min-height: 773px;

    &__box {
        height: 100vh;
        max-height: 473px;
        overflow: hidden;
        display: flex;
        max-width: 556px;
        width: 100%;
        background-color: white;
        margin: auto;
        box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.08);

        /* изначально блок свёрнут */
        overflow: hidden;
        /* полностью скрывает дочерний блок */
        transition: max-height 0.5s;
        /* время анимации можно менять по желанию */
    }

    &__container {
        padding-top: 100px;
        min-height: 665px;
        padding-bottom: 202px;
    }

    &--restore {
        min-height: initial;
        background: url(../img/decor/grid5.svg) no-repeat 50% -25%/auto;

        .auth-popup {
            padding: 0;

            &__title {
                text-align: center;
            }

            &__form {
                .btn {
                    width: 100%;
                    text-align: center;
                    padding: 23.5px 0;
                }
            }

            &__quote {
                font-size: 16px;
                text-align: center;
                line-height: 1.5;
                margin-top: 15px;
            }

            &__cover {
                max-width: 426px;
                margin: 42px auto 0;
            }
        }

        .auth {
            &__box {
                max-width: 470px;
                box-shadow: none;
                max-height: initial;
                height: auto;
            }

            &__container {
                padding-bottom: 225px;
                min-height: initial;
            }
        }
    }
}