//- mixin icon(name,mod)
//- 	- mod = mod || ''
//- 	svg(class="icon icon-" + name + ' ' + mod)
//- 		use(xlink:href="i/sprite/sprite.svg#" + name)


mixin icon(name, width, height)
    - var sizeW = width || 24;
    - var sizeH = height || 24;
    - var sprite = "img/sprite/sprite.svg"
    - var prefix = ""
    
    span.icon(aria-hidden="true")&attributes(attributes)
        svg(viewBox='0 0 ' + sizeW + ' ' + sizeH width=sizeW height=sizeH)
            use(xlink:href= sprite + '#' + name)