.activity
    .container
        h2.title-2 Деятельность компании
        .activity__items
            .activity__item
                .activity__img
                    +icon('settings_future')
                .activity__content
                    .activity__title Большой выбор и реализация металлопроката
                    .activity__text трубы стальные электросварные прямошовные, трубы стальные профильные (прямоуг., квадратн.)
            .activity__item
                .activity__img
                    +icon('bar_chart_circle')
                .activity__content
                    .activity__title Производство армирующего профиля,
                    .activity__text необходимого для формирования каркаса жёсткости пластиковых окон и фасадного профиля
            .activity__item
                .activity__img
                    +icon('copy')
                .activity__content
                    .activity__title Производство упаковочных лент различного типа,
                    .activity__text высокого качества, включая высокопрочные термоупрочненные ленты
            .activity__item
                .activity__img
                    +icon('note')
                .activity__content
                    .activity__title Производство оцинкованного профиля
                    .activity__text для монтажа гипсокартона, предназначенного для формирования каркасов, перегородок и подвесных потолков
            .activity__item
                .activity__img
                    +icon('grid_big_round')
                .activity__content
                    .activity__title Производство труб различного вида
                    .activity__text трубы стальные электросварные прямошовные, трубы стальные профильные (прямоугольные, квадратные)
            .activity__item
                .activity__img
                    +icon('map')
                .activity__content
                    .activity__title Резка рулонного проката на&nbsp;ленту шириной от 10 мм,
                    .activity__text используемый для штамповки и холодного профилирования деталей в различных областях производства и многого другого