.mission
    .container
        .mission__items
            .mission__item
                .mission__img
                    img(src="../img/about/about-1.jpg" alt="Миссия компании")
                .mission__inner
                    h2.title-3 Миссия компании
                    .mission__text
                        p.
                            Мы работаем для повышения уровня доверия европейского потребителя к российскому производителю.
                            Ориентируемся на развитие продуктов, направленных на импортозамещение. Нацелеваемся на продвижение
                            в Интернет и активное участие в четвертой промышленной революции «Индустриализация 4.0».
                        p Заботимся о своих работниках, а также об окружающей среде региона.
            .mission__item
                .mission__img
                    img(src="../img/about/about-2.jpg" alt="Наше видение")
                .mission__inner
                    h2.title-3 Наше видение
                    .mission__text
                        p Бренд UMC станет узнаваем и престижен на мировом рынке.
                        p Для потребителей мы сможем предлагать уникальные комплексные системы и решения.
                        p.
                            К нам будут стремиться трудоустроиться соискатели со всего региона, как к одному из самых
                            привлекательных аботодателей, расположенном в чистой и благоустроенной зоне.