.product-info {
  margin-top: 42px;

  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 20px 20px 30px;
    background: rgba(217, 217, 217, 0.3);
  }

  &__title {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.6;
  }

  &__icon {

    svg {
      fill: $basic;
    }
  }

  &__body {
    padding: 25px 28px 38px;
    border: 2px solid rgba(217, 217, 255, 0.3);
  }

  &__row {

    &:not(:first-of-type) {
      margin-top: 22px;
    }
  }

  p {
    margin: 13px 0 0;
  }
}