.product-related {
  margin-top: 70px;

  &__items {
    padding: 20px 20px 0;
    margin: 15px -20px 0px;
  }

  &__item {
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.08);
  }

  &__inner {
    padding: 23px 20px 80px;
  }

  p {
    margin: 13px 0 0;
    font-size: 14px;
    line-height: 1.45;

    span {
      font-weight: 600;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 11px 20px 10px;
    background: $purple-1;
    color: #fff;

    &:hover {
      background: $red-1;
    }
  }

  &__text {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.45;
  }

  &__price {
    font-weight: 600;
    font-size: 24px;
  }

  &__icon {
    width: 21px;
    height: 21px;

    svg {
      fill: #fff;
    }
  }
}