.catalog-grid
    .catalog-grid__item
        .catalog-grid__header 
            a.catalog-grid__name.subtitle(href="catalog-goods.html") Упаковочный инструмент
            .catalog-grid__pic
                img(src="img/catalog/img1.png" alt="")
        .catalog-grid__content 
            a.catalog-grid__link(href="catalog-goods.html") Ручной инструмент
            a.catalog-grid__link(href="catalog-goods.html") Пневматический упаковочный инструмент
            a.catalog-grid__link(href="catalog-goods.html") Комбинированный инструмент
            a.catalog-grid__link(href="catalog-goods.html") Аккумуляторный инструмент
    .catalog-grid__item
        .catalog-grid__header 
            a.catalog-grid__name.subtitle(href="catalog-goods.html") Труба
            .catalog-grid__pic
                img(src="img/catalog/img2.png" alt="")
        .catalog-grid__content 
            a.catalog-grid__link(href="catalog-goods.html") Труба профильная
            a.catalog-grid__link(href="catalog-goods.html") Труба электрическая
            a.catalog-grid__link(href="catalog-goods.html") Замкнутый профиль
    .catalog-grid__item
        .catalog-grid__header 
            a.catalog-grid__name.subtitle(href="catalog-goods.html") Профиль для строительства
            .catalog-grid__pic
                img(src="img/catalog/img3.png" alt="")
        .catalog-grid__content 
            a.catalog-grid__link(href="catalog-goods.html") Фасадный профиль
            a.catalog-grid__link(href="catalog-goods.html") Профиль армирующий
            a.catalog-grid__link(href="catalog-goods.html") Профиль для гипсокартона
            a.catalog-grid__link(href="catalog-goods.html") Профиль для отделки
            a.catalog-grid__link(href="catalog-goods.html") Замкнутый профиль
    .catalog-grid__item
        .catalog-grid__header 
            a.catalog-grid__name.subtitle(href="catalog-goods.html") Лента стальная (штрипс)
            .catalog-grid__pic
                img(src="img/catalog/img4.png" alt="")
        .catalog-grid__content 
            a.catalog-grid__link(href="catalog-goods.html") Лента оцинкованная
            a.catalog-grid__link(href="catalog-goods.html") Лента стальная холоднокатанная
            a.catalog-grid__link(href="catalog-goods.html") Штрипс горячекатаный
            a.catalog-grid__link(href="catalog-goods.html") Лента с полимерным покрытием
            a.catalog-grid__link(href="catalog-goods.html") Лента упаковочная
    .catalog-grid__item
        .catalog-grid__header 
            a.catalog-grid__name.subtitle(href="catalog-goods.html") Лента упаковочная
            .catalog-grid__pic
                img(src="img/catalog/img5.png" alt="")
        .catalog-grid__content 
            a.catalog-grid__link(href="catalog-goods.html") Лента для упаковки марки «UMC»
            a.catalog-grid__link(href="catalog-goods.html") Лента упаковочная
            a.catalog-grid__link(href="catalog-goods.html") Лента упаковочная ГОСТ 3560-73
            a.catalog-grid__link(href="catalog-goods.html") Замки упаковочные для стальных лент