.catalog-grid(itemscope="" itemtype="http://www.schema.org/SiteNavigationElement") 
    .catalog-grid__item
        .catalog-grid__header 
            a.catalog-grid__name.subtitle(href="catalog-goods.html" itemprop="url") Упаковочный инструмент
                meta(itemprop="name" content="Упаковочный инструмент")
            .catalog-grid__pic
                img(src="img/catalog/img1.png" alt="")
        .catalog-grid__content
            a.catalog-grid__link(href="catalog-goods.html" itemprop="url") Ручной инструмент
                meta(itemprop="name" content="Ручной инструмент")
            a.catalog-grid__link(href="catalog-goods.html" itemprop="url") Пневматический упаковочный инструмент
                meta(itemprop="name" content="Пневматический упаковочный инструмент")
            a.catalog-grid__link(href="catalog-goods.html" itemprop="url") Комбинированный инструмент
                meta(itemprop="name" content="Комбинированный инструмент")
            a.catalog-grid__link(href="catalog-goods.html" itemprop="url") Аккумуляторный инструмент
                meta(itemprop="name" content="Аккумуляторный инструмент")
    .catalog-grid__item
        .catalog-grid__header 
            a.catalog-grid__name.subtitle(href="catalog-goods.html" itemprop="url") Труба
                meta(itemprop="name" content="Труба")
            .catalog-grid__pic
                img(src="img/catalog/img2.png" alt="")
        .catalog-grid__content
            a.catalog-grid__link(href="catalog-goods.html" itemprop="url") Труба профильная
                meta(itemprop="name" content="Труба профильная")
            a.catalog-grid__link(href="catalog-goods.html" itemprop="url") Труба электрическая
                meta(itemprop="name" content="Труба электрическая")
            a.catalog-grid__link(href="catalog-goods.html" itemprop="url") Замкнутый профиль
                meta(itemprop="name" content="Замкнутый профиль")
    .catalog-grid__item
        .catalog-grid__header 
            a.catalog-grid__name.subtitle(href="catalog-goods.html" itemprop="url") Профиль для строительства
                meta(itemprop="name" content="Профиль для строительства")
            .catalog-grid__pic
                img(src="img/catalog/img3.png" alt="")
        .catalog-grid__content
            a.catalog-grid__link(href="catalog-goods.html" itemprop="url") Фасадный профиль
                meta(itemprop="name" content="Фасадный профиль")
            a.catalog-grid__link(href="catalog-goods.html" itemprop="url") Профиль армирующий
                meta(itemprop="name" content="Профиль армирующий")
            a.catalog-grid__link(href="catalog-goods.html" itemprop="url") Профиль для гипсокартона
                meta(itemprop="name" content="Профиль для гипсокартона")
            a.catalog-grid__link(href="catalog-goods.html" itemprop="url") Профиль для отделки
                meta(itemprop="name" content="Профиль для отделки")
            a.catalog-grid__link(href="catalog-goods.html" itemprop="url") Замкнутый профиль
                meta(itemprop="name" content="Замкнутый профиль")
    .catalog-grid__item
        .catalog-grid__header 
            a.catalog-grid__name.subtitle(href="catalog-goods.html" itemprop="url") Лента стальная (штрипс)
                meta(itemprop="name" content="Лента стальная (штрипс)")
            .catalog-grid__pic
                img(src="img/catalog/img4.png" alt="")
        .catalog-grid__content
            a.catalog-grid__link(href="catalog-goods.html" itemprop="url") Лента оцинкованная
                meta(itemprop="name" content="Лента оцинкованная")
            a.catalog-grid__link(href="catalog-goods.html" itemprop="url") Лента стальная холоднокатанная
                meta(itemprop="name" content="Лента стальная холоднокатанная")
            a.catalog-grid__link(href="catalog-goods.html" itemprop="url") Штрипс горячекатаный
                meta(itemprop="name" content="Штрипс горячекатаный")
            a.catalog-grid__link(href="catalog-goods.html" itemprop="url") Лента с полимерным покрытием
                meta(itemprop="name" content="Лента с полимерным покрытием")
            a.catalog-grid__link(href="catalog-goods.html" itemprop="url") Лента упаковочная
                meta(itemprop="name" content="Лента упаковочная")
    .catalog-grid__item 
        .catalog-grid__header 
            a.catalog-grid__name.subtitle(href="catalog-goods.html" itemprop="url") Лента упаковочная
                meta(itemprop="name" content="Лента упаковочная")
            .catalog-grid__pic
                img(src="img/catalog/img5.png" alt="")
        .catalog-grid__content
            a.catalog-grid__link(href="catalog-goods.html" itemprop="url") Лента для упаковки марки «UMC»
                meta(itemprop="name" content="Лента для упаковки марки «UMC»")
            a.catalog-grid__link(href="catalog-goods.html" itemprop="url") Лента упаковочная
                meta(itemprop="name" content="Лента упаковочная")
            a.catalog-grid__link(href="catalog-goods.html" itemprop="url") Лента упаковочная ГОСТ 3560-73
                meta(itemprop="name" content="Лента упаковочная ГОСТ 3560-73")
            a.catalog-grid__link(href="catalog-goods.html" itemprop="url") Замки упаковочные для стальных лент
                meta(itemprop="name" content="Замки упаковочные для стальных лент")