.catalog-grid
    .catalog-grid__item
        .catalog-grid__header 
            a.catalog-grid__name.subtitle(href="javascript:void(0);") Упаковочный инструмент
            .catalog-grid__pic
                img(src="img/catalog/img1.png" alt="")
        .catalog-grid__content 
            a.catalog-grid__link(href="javascript:void(0);") Ручной инструмент
            a.catalog-grid__link(href="javascript:void(0);") Пневматический упаковочный инструмент
            a.catalog-grid__link(href="javascript:void(0);") Комбинированный инструмент
            a.catalog-grid__link(href="javascript:void(0);") Аккумуляторный инструмент
    .catalog-grid__item
        .catalog-grid__header 
            a.catalog-grid__name.subtitle(href="javascript:void(0);") Труба
            .catalog-grid__pic
                img(src="img/catalog/img2.png" alt="")
        .catalog-grid__content 
            a.catalog-grid__link(href="javascript:void(0);") Труба профильная
            a.catalog-grid__link(href="javascript:void(0);") Труба электрическая
            a.catalog-grid__link(href="javascript:void(0);") Замкнутый профиль
    .catalog-grid__item
        .catalog-grid__header 
            a.catalog-grid__name.subtitle(href="javascript:void(0);") Профиль для строительства
            .catalog-grid__pic
                img(src="img/catalog/img3.png" alt="")
        .catalog-grid__content 
            a.catalog-grid__link(href="javascript:void(0);") Фасадный профиль
            a.catalog-grid__link(href="javascript:void(0);") Профиль армирующий
            a.catalog-grid__link(href="javascript:void(0);") Профиль для гипсокартона
            a.catalog-grid__link(href="javascript:void(0);") Профиль для отделки
            a.catalog-grid__link(href="javascript:void(0);") Замкнутый профиль
    .catalog-grid__item
        .catalog-grid__header 
            a.catalog-grid__name.subtitle(href="javascript:void(0);") Лента стальная (штрипс)
            .catalog-grid__pic
                img(src="img/catalog/img4.png" alt="")
        .catalog-grid__content 
            a.catalog-grid__link(href="javascript:void(0);") Лента оцинкованная
            a.catalog-grid__link(href="javascript:void(0);") Лента стальная холоднокатанная
            a.catalog-grid__link(href="javascript:void(0);") Штрипс горячекатаный
            a.catalog-grid__link(href="javascript:void(0);") Лента с полимерным покрытием
            a.catalog-grid__link(href="javascript:void(0);") Лента упаковочная
    .catalog-grid__item
        .catalog-grid__header 
            a.catalog-grid__name.subtitle(href="javascript:void(0);") Лента упаковочная
            .catalog-grid__pic
                img(src="img/catalog/img5.png" alt="")
        .catalog-grid__content 
            a.catalog-grid__link(href="javascript:void(0);") Лента для упаковки марки «UMC»
            a.catalog-grid__link(href="javascript:void(0);") Лента упаковочная
            a.catalog-grid__link(href="javascript:void(0);") Лента упаковочная ГОСТ 3560-73
            a.catalog-grid__link(href="javascript:void(0);") Замки упаковочные для стальных лент